
@{
    ViewBag.Title = "ApplicantProfile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 mb-0 text-gray-700">Campaign 2021 > Applicants > Munirah</h1>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <!-- General Info -->
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#GeneralInfo" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">General Information</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="GeneralInfo">
                    <div class="card-body">
                        <p class="mb-2">
                            <i class="fas fa-id-card fa-1x text-gray-300 mr-1"></i>
                            <strong>National ID:</strong> 1093698521
                        </p>
                        <p class="mb-2">
                            <i class="fas fa-venus-mars fa-1x text-gray-300 mr-1"></i>
                            <strong>Gender:</strong> Female
                        </p>
                        <p class="mb-2">
                            <i class="fas fa-user fa-1x text-gray-300 mr-2"></i>
                            <strong>Full Name:</strong> Munirah Ahmed Salem Alshehab
                        </p>
                        <p class="mb-2">
                            <i class="fas fa-map-marker-alt fa-1x text-gray-300 mr-2"></i>
                            <strong>Address:</strong> Alhasa
                        </p>
                        <p class="mb-2">
                            <i class="fas fa-calendar-alt fa-1x text-gray-300 mr-1"></i>
                            <strong>Birth Date:</strong> January 1, 1997
                        </p>
                        <p class="mb-2">
                            <i class="fas fa-tint fa-1x text-gray-300 mr-2"></i>
                            <strong>Blood Type:</strong> A+
                        </p>
                        <p class="mb-2">
                            <i class="fas fa-heartbeat fa-1x text-gray-300 mr-1"></i>
                            <strong>Health Condition:</strong> Healthy
                        </p>
                        <p class="mb-2">
                            <i class="fas fa-graduation-cap fa-1x text-gray-300 mr-0"></i>
                            <strong>High School:</strong> 99.8%
                        </p>

                        <p class="mb-2">
                            <i class="fas fa-percent fa-1x text-gray-300 mr-1"></i>
                            <strong>Qiyas:</strong> Healthy
                        </p>
                    </div>
                </div>
            </div>

            <!-- Contact Info -->
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#ContactInfo" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">Contact Information</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="ContactInfo">
                    <div class="card-body">
                        <p class="mb-1">
                            <i class="fas fa-envelope fa-1x text-gray-300 mr-1"></i>
                            <strong>Email</strong>
                            <span class="ml-2" style="font-size:10pt">example@gmaila.com</span>
                        </p>
                        <p class="mb-1">
                            <i class="fas fa-mobile-alt fa-1x text-gray-300 mr-1"></i>
                            <strong>Phone</strong>
                            <span class="ml-2" style="font-size:10pt">+996 54 021 3902</span>
                        </p>
                        <p class="mb-1">
                            <i class="fas fa-mobile-alt fa-1x text-gray-300 mr-1"></i>
                            <strong>Guardian</strong>
                            <span class="ml-2" style="font-size:10pt">+996 54 021 3902</span>
                        </p>
                        <p class="mb-1">
                            <i class="fas fa-mobile-alt fa-1x text-gray-300 mr-1"></i>
                            <strong>Relative</strong>
                            <span class="ml-2" style="font-size:10pt">+996 54 021 3902</span>
                        </p>
                    </div>
                </div>
            </div>

          

        </div>
        <div class="col-lg-6">
            <!-- Applications Info -->
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#AppliInfo" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">Applications</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="AppliInfo">
                    <div class="card-body">
                        <p class="mb-1">
                            <i class="fas fa-file-import fa-1x text-gray-300 mr-1"></i>
                            <strong>APNE</strong>
                        </p>
                        <p class="ml-4" style="font-size:10pt">Apply in 18 July 2019 </p>
                        <p class="mb-1">
                            <i class="fas fa-file-import fa-1x text-gray-300 mr-1"></i>
                            <strong>OHS</strong>
                        </p>
                        <p class="ml-4" style="font-size:10pt">Apply in 2 SEP 2021 </p>
                    </div>
                </div>
            </div>
            
            <!-- Interview Info -->
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#InterviewInfo" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">Interview</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="InterviewInfo">
                    <div class="card-body">

                    </div>
                </div>
            </div>

            <!-- English Assessment Info -->
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#EngInfo" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">English Assessment</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="EngInfo">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

