@{
    ViewBag.Title = "Applicants";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 mb-0 text-gray-700">
            <a href="/Admin/Campaigns" style="text-decoration: none;">Campaign 2021</a>
            >
            Applicants
        </h1>
        <div class=" d-sm-inline-block">
            <a role="button" class=" btn btn-sm btn-primary shadow-sm btn-icon-split" onclick="CardView()">
                <span class="icon text-white-50">
                    <i class="fas fa-id-card fa-x text-white-50 mr-1"></i>
                </span> 
                <span class="text">Card View</span>
            </a>
            <a role="button" class="btn btn-sm btn-primary shadow-sm btn-icon-split" onclick="TableView()">
                <span class="icon text-white-50">
                    <i class="fas fa-table fa-x text-white-50 mr-1"></i>
                </span>
                <span class="text">Table View</span> 
            </a>
        </div>
    </div>

    <!-- Card View -->
    <div id="CardView">
        <div class="row">

            <!-- New Applicant Card -->
            <a class="col-xl-3 col-md-6 mb-4" href="/Admin/ApplicantProfile" style="text-decoration:none">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Munirah
                                </div>
                                <div class="text-xs text-gray-800 mb-1">
                                    Apply in 2 SEP 2021
                                </div>
                            </div>
                            <div class="text-xs font-weight-bold text-warning mb-1" style="position:absolute;bottom:0;right:7px;">
                                New
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <!-- Qualified Applicant Card -->
            <a class="col-xl-3 col-md-6 mb-4" href="/Admin/ApplicantProfile" style="text-decoration:none">
                <div class="card border-left-orange shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-orange text-uppercase mb-1">
                                    Munirah
                                </div>
                                <div class="text-xs text-gray-800 mb-1">
                                    Apply in 2 SEP 2021
                                </div>
                            </div>
                            <div class="text-xs font-weight-bold text-orange mb-1" style="position:absolute;bottom:0;right:7px;">
                                Qualified
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <!-- Potential Applicant Card -->
            <a class="col-xl-3 col-md-6 mb-4" href="/Admin/ApplicantProfile" style="text-decoration:none">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    Munirah
                                </div>
                                <div class="text-xs text-gray-800 mb-1">
                                    Apply in 2 SEP 2021
                                </div>

                                <!-- Progress bar -->
                                @*<div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar"
                                                 style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>*@

                            </div>
                            <div class="text-xs font-weight-bold text-info mb-1" style="position:absolute;bottom:0;right:7px;">
                                Potential
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <!-- Waiting Applicant Card -->
            <a class="col-xl-3 col-md-6 mb-4" href="/Admin/ApplicantProfile" style="text-decoration:none">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body pb-3">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Munirah
                                </div>
                                <div class="text-xs text-gray-800 mb-1">
                                    Apply in 2 SEP 2021
                                </div>

                            </div>
                            <div class="text-xs font-weight-bold text-success mb-1" style="position:absolute;bottom:0;right:7px;">
                                Waiting
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <!-- Admitted Applicant Card -->
            <a class="col-xl-3 col-md-6 mb-4" href="/Admin/ApplicantProfile" style="text-decoration:none">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Munirah
                                </div>
                                <div class="text-xs text-gray-800 mb-1">
                                    Apply in 2 SEP 2021
                                </div>

                            </div>
                            <div class="text-xs font-weight-bold text-primary mb-1" style="position:absolute;bottom:0;right:7px;">
                                Admitted
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <!-- Expired Applicant Card -->
            <a class="col-xl-3 col-md-6 mb-4" href="/Admin/ApplicantProfile" style="text-decoration:none">
                <div class="card border-left-danger card-bg-red shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                    Munirah
                                </div>
                                <div class="text-xs text-gray-800 mb-1">
                                    Apply in 2 SEP 2021
                                </div>

                            </div>
                            <div class="text-xs font-weight-bold text-danger mb-1" style="position:absolute;bottom:0;right:7px;">
                                Rejected
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <!-- Expired Applicant Card -->
            <a class="col-xl-3 col-md-6 mb-4" href="/Admin/ApplicantProfile" style="text-decoration:none">
                <div class="card border-left-secondary card-bg-gray shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                    Munirah
                                </div>
                                <div class="text-xs text-gray-800 mb-1">
                                    Apply in 2 SEP 2021
                                </div>

                            </div>
                            <div class="text-xs font-weight-bold text-secondary mb-1" style="position:absolute;bottom:0;right:7px;">
                                Expired
                            </div>
                        </div>
                    </div>
                </div>
            </a>


        </div>
    </div>


    <!-- Tale View -->
    <div id="TableView" style="display:none">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Blood</th>
                                <th>Age</th>
                                <th>Address</th>
                                <th>Qyias</th>
                                <th>High School</th>
                                <th>Application Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Munirah</td>
                                <td>Female</td>
                                <td>A+</td>
                                <td>24</td>
                                <td>Ahsa</td>
                                <td>86</td>
                                <td>99</td>
                                <td class="text-xs font-weight-bold text-orange">Qualified</td>
                            </tr>
                            <tr>
                                <td>Mohamed</td>
                                <td>Male</td>
                                <td>AB+</td>
                                <td>26</td>
                                <td>Dmmam</td>
                                <td>70</td>
                                <td>89</td>
                                <td class="text-xs font-weight-bold text-info">Potential</td>

                            </tr>
                            <tr>
                                <td>Mohamed</td>
                                <td>Male</td>
                                <td>AB+</td>
                                <td>26</td>
                                <td>Dmmam</td>
                                <td>70</td>
                                <td>89</td>
                                <td class="text-xs font-weight-bold text-orange">Qualified</td>

                            </tr>
                            <tr>
                                <td>Monther</td>
                                <td>Male</td>
                                <td>O+</td>
                                <td>23</td>
                                <td>Dmmam</td>
                                <td>70</td>
                                <td>89</td>
                                <td class="text-xs font-weight-bold text-danger">Rejected</td>

                            </tr>
                            <tr>
                                <td>Khaled</td>
                                <td>Male</td>
                                <td>B+</td>
                                <td>23</td>
                                <td>Ahsa</td>
                                <td>66</td>
                                <td>78</td>
                                <td class="text-xs font-weight-bold text-orange">Qualified</td>

                            </tr>
                            <tr>
                                <td>Hamad</td>
                                <td>Male</td>
                                <td>O+</td>
                                <td>18</td>
                                <td>Ahsa</td>
                                <td>70</td>
                                <td>89</td>
                                <td class="text-xs font-weight-bold text-orange">Qualified</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    

</div>
<!-- /.container-fluid -->
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
    function CardView() {
        document.getElementById("TableView").style.display = "none";
        document.getElementById("CardView").style.display = "block";
    }
    function TableView() {
        document.getElementById("TableView").style.display = "block";
        document.getElementById("CardView").style.display = "none";
    }

</script>