
@{
    ViewBag.Title = "Campaigns";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 mb-0 text-gray-700">Campaigns</h1>
        <div class=" d-sm-inline-block">
            <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="open_popup('newCamp')">
                <i class="fas fa-plus fa-sm text-white-50 mr-1"></i> New Campaign

            </button>
        </div>
    </div>


    <div class="row">
        <!-- Default Card Example -->
        <div class="col-xl-6 col-md-12">
            <div class="card mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 ">Campaign 2021 for APNE Program</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            @*<div class="dropdown-header">Dropdown Header:</div>*@
                            <a class="dropdown-item" role="button" onclick="open_popup('editCamp')">Edit</a>
                            <a class="dropdown-item" href="#">Schedule Meeting</a>
                            <a class="dropdown-item" href="/Admin/Applicants">View Applicants</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p class="mb-1">Registration</p>
                            <p class="mb-1">
                                <i class="fas fa-link fa-x mr-2 text-gray-400"></i>
                                Form Link:
                            </p>
                            <p class="mb-1">
                                <i class="fas fa-info-circle fa-x mr-2 text-gray-400"></i>
                                Form Status: <span class="close-status">close</span>
                            </p>
                            <p class="mb-1">
                                <i class="fas fa-users fa-x mr-1 text-gray-400"></i>
                                No. of Applicants:
                            </p>

                            <!-- Divider -->
                            <hr>

                            <!-- Verification -->
                            <div class="col-12">
                                <p class="mb-1">Verification</p>

                                <p class="mb-1">
                                    <i class="fas fa-info-circle fa-x mr-1 text-gray-400"></i>
                                    Verification Status:
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-user fa-x mr-2 text-gray-400"></i>
                                    Verified By:
                                </p>
                            </div>

                            <!-- Divider -->
                            <hr>

                            <div class="col-12">
                                <p class="mb-1">Acceptance </p>

                                <p class="mb-1">
                                    <i class="fas fa-calendar-alt fa-x mr-2 text-gray-400"></i>
                                    Meeting Date:
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-link fa-x mr-2 text-gray-400"></i>
                                    Form Link:
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-users fa-x mr-1 text-gray-400"></i>
                                    No. of Accepted:
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.container-fluid -->
<!-- ======= New Campaign ======= -->
<div id="newCamp" class="modal">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <div class="modal-content animate">
                <span onclick="close_popup('newCamp')" class="close" title="Close">&times;</span>

                <div class="modal-header-container">
                    <h5>Create New Campaign</h5>
                </div>
                <div class="modal-container">
                    <!-- Form -->
                    <form>

                        <!-- Program Selector-->
                        <div class="form-floating mb-3">
                            <select class="form-control pt-0 pb-0" id="program" onfocusout="vlidateEmpty(this)">
                                <option value="" selected disabled>Choose Program</option>
                                <option value="apne">APNE</option>
                                <option value="ohs">OHS</option>
                            </select>
                            <div class="invalid-feedback">Required</div>
                        </div>

                        <!-- Camp Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="camp_title" type="text" placeholder="Campaign Title" maxlength="50" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                            <label for="camp_title">Campaign Title</label>
                            <div class="invalid-feedback">Required</div>
                        </div>

                        <!-- Reg Form Start/End date input-->
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-floating mb-3">
                                    @*<input class="form-control gregorian-date-default" id="ODate" type="text" placeholder="Registration Open" onpaste="validateDate(this,'open')" onfocusout="validateDate(this,'open','invalid-open-date','EDate')" />*@
                                    <input class="form-control gregorian-date-default" id="ODate" type="text" placeholder="Registration Open" onpaste="vlidateEmpty(this)" onfocusout="vlidateEmpty(this)" />
                                    <label for="ODate">Registration Open</label>
                                    <div id="invalid-open-date" class="invalid-feedback">Required</div>
                                </div>
                            </div>
                            <div class="col-xl-6 ">
                                <!-- Gorgian -->
                                <div class="form-floating mb-3">
                                    @*<input class="form-control gregorian-date-default" id="EDate" type="text" placeholder="Registration Close"  onpaste="validateDate(this,'open')" onfocusout="validateDate(this,'close','invalid-close-date','ODate')" />*@
                                    <input class="form-control gregorian-date-default" id="EDate" type="text" placeholder="Registration Close" onpaste="vlidateEmpty(this)" onfocusout="vlidateEmpty(this)" />
                                    <label for="CDate">Registration Close</label>
                                    <div id="invalid-close-date" class="invalid-feedback">Required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control gregorian-date-default" id="ExDate" type="text" placeholder="Applications Expiry Date" onpaste="vlidateEmpty(this)" onfocusout="vlidateEmpty(this)" />
                            <label for="ODate">Applications Expiry Date</label>
                            <div id="invalid-open-date" class="invalid-feedback">Required</div>
                        </div>

                        <!-- Buttons -->
                        <div class="row justify-content-center mb-3">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right" type="button" style="width:100%">
                                    Save
                                </button>
                            </div>

                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-left" type="button" style="width:100%" onclick="close_popup('newCamp')">
                                    Cancel
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Edit Campaign ======= -->
<div id="editCamp" class="modal">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <div class="modal-content animate">
                <span onclick="close_popup('editCamp')" class="close" title="Close">&times;</span>

                <div class="modal-header-container">
                    <h5>Edit Campaign Info</h5>
                </div>
                <div class="modal-container">
                    <!-- Form -->
                    <form>

                        <!-- Program Selector-->
                        <div class="form-floating mb-3">
                            <select class="form-control pt-0 pb-0" id="program" onfocusout="vlidateEmpty(this)" disabled>
                                <option value="" selected disabled>Choose Program</option>
                                <option value="apne" selected>APNE</option>
                                <option value="ohs">OHS</option>
                            </select>
                            <div class="invalid-feedback">Required</div>
                        </div>

                        <!-- Camp Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="camp_title" type="text" placeholder="Campaign Title" maxlength="50" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                            <label for="camp_title">Campaign Title</label>
                            <div class="invalid-feedback">Required</div>
                        </div>

                        <!-- Reg Form Start date input-->
                        <div class="row">
                            <div class="col-xl-6">
                                <!-- Hijri-->
                                <div class="form-floating mb-3">
                                    @*                                    <input class="form-control gregorian-date-default" id="ODate" type="text" placeholder="Registration Open" onpaste="validateDate(this,'open')" onfocusout="validateDate(this,'open','invalid-open-date','EDate')" />
                                    *@                                    <input class="form-control gregorian-date-default" id="ODate" type="text" placeholder="Registration Open" onpaste="vlidateEmpty(this)" onfocusout="vlidateEmpty(this)" />
                                    <label for="ODate">Registration Open</label>
                                    <div id="invalid-open-date" class="invalid-feedback">Required</div>
                                </div>
                            </div>
                            <div class="col-xl-6 ">
                                <!-- Gorgian -->
                                <div class="form-floating mb-3">
                                    @*                                    <input class="form-control gregorian-date-default" id="EDate" type="text" placeholder="Registration Close"  onpaste="validateDate(this,'open')" onfocusout="validateDate(this,'close','invalid-close-date','ODate')" />
                                    *@                                    <input class="form-control gregorian-date-default" id="EDate" type="text" placeholder="Registration Close" onpaste="vlidateEmpty(this)" onfocusout="vlidateEmpty(this)" />
                                    <label for="CDate">Registration Close</label>
                                    <div id="invalid-close-date" class="invalid-feedback">Required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control gregorian-date-default" id="ExDate" type="text" placeholder="Applications Expiry Date" onpaste="vlidateEmpty(this)" onfocusout="vlidateEmpty(this)" />
                            <label for="ODate">Applications Expiry Date</label>
                            <div id="invalid-open-date" class="invalid-feedback">Required</div>
                        </div>

                        <!-- Buttons -->
                        <div class="row justify-content-center mb-3">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right" type="button" style="width:100%">
                                    Save
                                </button>
                            </div>

                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-left" type="button" style="width:100%" onclick="close_popup('editCamp')">
                                    Cancel
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

