@{
    ViewBag.Title = "Campaigns";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 mb-0 text-gray-700">Campaigns</h1>
        <div class=" d-sm-inline-block">
            <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="open_popup('importHRDF')">
                <i class="fas fa-file-import fa-sm text-white-50 mr-1"></i> Import HRDF
            </button>
            <a href="/Admin/NewCampaign" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-plus fa-sm text-white-50 mr-1"></i> New Campaign
            </a>
        </div>
    </div>


    <div class="row">
        <!-- Default Card Example -->
        <div class="col-xl-6 col-md-12">
            <div class="card mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 ">Campaign 2021 for APNE Program</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            @*<div class="dropdown-header">Dropdown Header:</div>*@
                            <a class="dropdown-item" href="/Admin/EditCampaign">Edit</a>
                            <a class="dropdown-item" href="/Admin/Applicants">View Applicants</a>
                            <a class="dropdown-item" role="button" onclick="verify_applicants()">Verify Applicants</a>
                            <a class="dropdown-item" href="#">Export Applicants</a>
                            <a class="dropdown-item" role="button" onclick="open_popup('schedule_meeting')">Schedule Meeting</a>
                            <a class="dropdown-item" role="button" onclick="open_popup('upload_olt')">Upload OLT</a>
                            <a class="dropdown-item" role="button" onclick="open_popup('upload_admitted')">Upload Admitted Applicants</a>

                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <!-- Camp Info -->
                            <div class="col-12">
                                <p class="mb-1">
                                    <i class="fas fa-calendar-alt fa-x mr-2 text-gray-400"></i>
                                    Creation Date: <span class="text-gray-500">August 15, 2021</span>
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-calendar-alt fa-x mr-2 text-gray-400"></i>
                                    Registration Open: <span class="text-gray-500">August 22, 2021</span>
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-calendar-alt fa-x mr-2 text-gray-400"></i>
                                    Registration Close: <span class="text-gray-500">Septemper 2, 2021</span>
                                </p>

                                <p class="mb-1 mt-3">
                                    <i class="far fa-check-circle"></i> Interview
                                    <i class="far fa-times-circle ml-3"></i> English Assessment
                                    <i class="far fa-check-circle ml-3"></i> OLT

                                </p>
                                <p class="mb-1 ">
                                    Applications Expire in <span class="text-gray-500">December 31, 2021</span>
                                </p>
                            </div>
                            <!-- Divider -->
                            <hr>

                            <!-- Registration Info -->
                            <div class="col-12">
                                <p class="mb-1">Registration</p>
                                <p class="mb-1">
                                    <i class="fas fa-link fa-x mr-2 text-gray-400"></i>
                                    Registration Link:
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-info-circle fa-x mr-2 text-gray-400"></i>
                                    Form Status: <span class="red-status">close</span>
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-users fa-x mr-1 text-gray-400"></i>
                                    No. of Applicants: <span class="text-gray-500">10685 Persons</span>
                                </p>
                            </div>
                            <!-- Divider -->
                            <hr>

                            <!-- Verification Info -->
                            <div class="col-12">
                                <p class="mb-1">Verification</p>
                                <p class="mb-1">
                                    <i class="fas fa-info-circle fa-x mr-1 text-gray-400"></i>
                                    Verification Status: <span class="green-status">Done</span>
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-user fa-x mr-2 text-gray-400"></i>
                                    Verified By: <span class="text-gray-500">mshehab</span>
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-users fa-x mr-1 text-gray-400"></i>
                                    No. of Qualified: <span class="text-gray-500">6592 Persons</span>
                                </p>
                            </div>

                            <!-- Divider -->
                            <hr>

                            <!-- Rules Acceptance Info -->
                            <div class="col-12">
                                <p class="mb-1">Rules Acceptance </p>

                                <p class="mb-1">
                                    <i class="fas fa-calendar-alt fa-x mr-2 text-gray-400"></i>
                                    Meeting Date: <span class="text-gray-500">--</span>
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-link fa-x mr-2 text-gray-400"></i>
                                    Acceptance Link: <span class="text-gray-500">--</span>
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-users fa-x mr-1 text-gray-400"></i>
                                    No. of Acceptance: <span class="text-gray-500">--</span>
                                </p>


                            </div>

                            <!-- Divider -->
                            <hr>

                            <!-- Evaluate Info -->
                            <div class="col-12">
                                <p class="mb-1">Applicants Evaluation</p>
                                <p class="mb-1">
                                    <i class="fas fa-users fa-x mr-1 text-gray-400"></i>
                                    No. of Interviews: <span class="text-gray-500">--</span>
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-users fa-x mr-1 text-gray-400"></i>
                                    No. of English Assessments: <span class="text-gray-500">--</span>
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-users fa-x mr-1 text-gray-400"></i>
                                    No. of OLT Responses: <span class="text-gray-500">--</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.container-fluid -->
<!-- ======= Schedule Meeting ======= -->
<div id="schedule_meeting" class="modal">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <div class="modal-content animate">
                <span onclick="close_popup('schedule_meeting')" class="close" title="Close">&times;</span>

                <div class="modal-header-container">
                    <h5>Schedule Meeting</h5>
                </div>
                <div class="modal-container">
                    <!-- Form -->
                    <form>
                        <p class="mb-3 text-gray-400 fsize-10">
                            <i class="fas fa-info-circle fa-x mr-2 "></i>
                            Only <span class="font-weight-bold text-orange">Qualified</span> applicants will recieve the meeting invitation
                        </p>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-2">
                               
                                <!-- Meeting Date input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control gregorian-date-default" id="MeetingDate" type="text" placeholder="Meeting Date" onpaste="vlidateEmpty(this)" onfocusout="vlidateEmpty(this)" />
                                    <label for="MeetingDate">Meeting Date</label>
                                    <div id="invalid-meeting-date" class="invalid-feedback">Required</div>
                                </div>
                            
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-2">
                               
                                <!-- Meeting Time input-->
                                <div class="form-floating mb-3">
                                    <select class="form-control pt-0 pb-0" id="program" onfocusout="vlidateEmpty(this)">
                                        <option value="" selected disabled>Meeting Time</option>
                                        <option value="8:00 AM">8:00 AM</option>
                                        <option value="8:30 AM">8:30 AM</option>
                                        <option value="9:00 AM">9:00 AM</option>
                                        <option value="9:30 AM">9:30 AM</option>
                                        <option value="10:00 AM">10:00 AM</option>
                                        <option value="10:30 AM">10:30 AM</option>
                                        <option value="11:00 AM">11:00 AM</option>
                                        <option value="11:30 AM">11:30 AM</option>
                                        <option value="12:00 PM">12:00 PM</option>
                                        <option value="12:30 PM">12:30 PM</option>
                                        <option value="1:00 PM">1:00 PM</option>
                                        <option value="1:30 PM">1:30 PM</option>
                                        <option value="2:00 PM">2:00 PM</option>
                                        <option value="2:30 PM">2:30 PM</option>
                                        <option value="3:00 PM">3:00 PM</option>
                                        <option value="3:30 PM">3:30 PM</option>
                                        <option value="4:00 PM">4:00 PM</option>
                                        <option value="4:30 PM">4:30 PM</option>
                                        <option value="5:00 PM">5:00 PM</option>
                                        <option value="5:30 PM">5:30 PM</option>
                                        <option value="6:00 PM">6:00 PM</option>
                                        <option value="6:30 PM">6:30 PM</option>
                                        <option value="7:00 PM">7:00 PM</option>
                                        <option value="7:30 PM">7:30 PM</option>
                                        <option value="8:00 PM">8:00 PM</option>
                                        <option value="8:30 PM">8:30 PM</option>
                                        <option value="9:00 PM">9:00 PM</option>
                                        <option value="9:30 PM">9:30 PM</option>
                                        <option value="10:00 PM">10:00 PM</option>
                                        <option value="10:30 PM">10:30 PM</option>
                                    </select>
                                    <div class="invalid-feedback">Required</div>
                                </div>

                            </div>
                        </div>
                       

                        <!-- Meeting Link -->
                        <div class="form-floating mb-3">
                            <input class="form-control" type="url" placeholder="Meeting Link" onfocusout="vlidateEmpty(this)" />
                            <label for="">Meeting Link</label>
                            <div class="invalid-feedback">Required</div>
                        </div>


                        <!-- Notify Type -->
                        <div>
                            <p class="d-inline-block mr-2">Notify by:</p>
                            <label class="mycontainer d-inline-block">
                                Email
                                <input type="checkbox" name="notify_email" value="">
                                <span class="checkbox"></span>
                            </label>
                            <label class="mycontainer d-inline-block">
                                SMS
                                <input type="checkbox" name="notify_sms" value="">
                                <span class="checkbox"></span>
                            </label>
                        </div>

                        <!-- Buttons -->
                        <div class="row justify-content-center mt-3 mb-3">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right" type="button" style="width:100%">
                                    Save
                                </button>
                            </div>

                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-left" type="button" style="width:100%" onclick="close_popup('schedule_meeting')">
                                    Cancel
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Upload OLT ======= -->
<div id="upload_olt" class="modal">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <div class="modal-content animate">
                <span onclick="close_popup('upload_olt')" class="close" title="Close">&times;</span>

                <div class="modal-header-container">
                    <h5>Upload OLT Results</h5>
                </div>
                <div class="modal-container">
                    <!-- Form -->
                    <form>

                        <!-- File input -->
                        <div class="form-floating mb-3">
                            <div class="input-group">
                                <input type="text" class="form-control small disabled_input" id="import_olt_filename" placeholder="Select File ..."
                                       aria-label="Upload" aria-describedby="basic-addon2" disabled>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" onclick="getFile('import_olt')">
                                        <i class="fas fa-upload fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                            <input type="file" id="import_olt" style="display: none;" accept=".xls,.xlsx" onchange="importFile('import_olt','import_olt_filename')" />

                            <div id="invalid-meeting-date" class="invalid-feedback">Required</div>
                        </div>

                        <!-- Buttons -->
                        <div class="row justify-content-center mt-3 mb-3">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right" type="button" style="width:100%">
                                    Upload
                                </button>
                            </div>

                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-left" type="button" style="width:100%" onclick="close_popup('upload_olt')">
                                    Cancel
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Upload Admitted ======= -->
<div id="upload_admitted" class="modal">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <div class="modal-content animate">
                <span onclick="close_popup('upload_admitted')" class="close" title="Close">&times;</span>

                <div class="modal-header-container">
                    <h5>Upload Admitted Applicants</h5>
                </div>
                <div class="modal-container">
                    <!-- Form -->
                    <form>

                        <!-- File input -->
                        <div class="form-floating mb-3">
                            <div class="input-group">
                                <input type="text" class="form-control small disabled_input" id="upload_admitted_filename" placeholder="Select File ..."
                                       aria-label="Upload" aria-describedby="basic-addon2" disabled>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" onclick="getFile('upload_admitted_file')">
                                        <i class="fas fa-upload fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                            <input type="file" id="upload_admitted_file" style="display: none;" accept=".xls,.xlsx" onchange="importFile('upload_admitted_file','upload_admitted_filename')" />

                            <div id="invalid-meeting-date" class="invalid-feedback">Required</div>
                        </div>

                        <!-- Buttons -->
                        <div class="row justify-content-center mt-3 mb-3">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right" type="button" style="width:100%">
                                    Import
                                </button>
                            </div>

                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-left" type="button" style="width:100%" onclick="close_popup('upload_admitted')">
                                    Cancel
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Import HRDF ======= -->
<div id="importHRDF" class="modal">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <div class="modal-content animate">
                <span onclick="close_popup('importHRDF')" class="close" title="Close">&times;</span>

                <div class="modal-header-container">
                    <h5>Import HRDF</h5>
                </div>
                <div class="modal-container">
                    <!-- Form -->
                    <form>

                        <!-- File input -->
                        <div class="form-floating mb-3">
                            <div class="input-group">
                                <input type="text" class="form-control small disabled_input" id="import_hrdf_filename" placeholder="Select File ..."
                                       aria-label="Upload" aria-describedby="basic-addon2" disabled>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" onclick="getFile('import_hrdf')">
                                        <i class="fas fa-upload fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                            <input type="file" id="import_hrdf" style="display: none;" accept=".xls,.xlsx" onchange="importFile('import_hrdf','import_hrdf_filename')" />

                            <div id="invalid-meeting-date" class="invalid-feedback">Required</div>
                        </div>

                        <!-- Buttons -->
                        <div class="row justify-content-center mt-3 mb-3">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right" type="button" style="width:100%">
                                    Import
                                </button>
                            </div>

                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-left" type="button" style="width:100%" onclick="close_popup('importHRDF')">
                                    Cancel
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function verify_applicants() {
        warn_response_continue.innerHTML = '6592 applicants <span class="text-orange">Qualified</span> out of 10685 <br> Based on the followin Rules: <br><br> 1. Age less than 24 <br> 2. HRDF Status is Not Supported <br><br> Would you like to continue?';
        document.getElementById('warn_popup_continue').style.display = 'block';
    }
    function continue_submit() {
        document.getElementById('warn_popup_continue').style.display = 'none';
        succ_response.innerHTML = '6592 applicants <span class="text-orange">Qualified</span> out of 10685 <br> Based on Qualification Rules';
        document.getElementById('success_popup').style.display = 'block';
    }
</script>