@{
    ViewBag.Title = "Campaigns";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 mb-0 text-gray-700">Campaigns</h1>
        <div class=" d-sm-inline-block">
            <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="open_popup('importHRDF')">
                <i class="fas fa-file-import fa-sm text-white-50 mr-1"></i> Import HRDF
            </button>
            <a href="/Admin/CampaignDetail" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-plus fa-sm text-white-50 mr-1"></i> New Campaign
            </a>
        </div>
    </div>


    <div class="row">
        <!-- Default Card Example -->
        <div class="col-xl-6 col-md-12">
            <div class="card mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 ">Campaign 2021 for APNE Program</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            @*<div class="dropdown-header">Dropdown Header:</div>*@
                            <a class="dropdown-item" role="button" onclick="open_popup('editCamp')">Edit</a>
                            <a class="dropdown-item" href="/Admin/Applicants">View Applicants</a>
                            <a class="dropdown-item" role="button" onclick="verify_applicants()">Verify Applicants</a>
                            <a class="dropdown-item" href="#">Export Applicants</a>
                            <a class="dropdown-item" role="button" onclick="open_popup('schedule_meeting')">Schedule Meeting</a>
                            <a class="dropdown-item" role="button" onclick="open_popup('upload_olt')">Upload OLT</a>
                            <a class="dropdown-item" role="button" onclick="open_popup('upload_admitted')">Upload Admitted Applicants</a>

                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <!-- Camp Info -->
                            <div class="col-12">
                                <p class="mb-1">
                                    <i class="fas fa-calendar-alt fa-x mr-2 text-gray-400"></i>
                                    Creation Date: <span class="text-gray-500">August 15, 2021</span>
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-calendar-alt fa-x mr-2 text-gray-400"></i>
                                    Registration Open: <span class="text-gray-500">August 22, 2021</span>
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-calendar-alt fa-x mr-2 text-gray-400"></i>
                                    Registration Close: <span class="text-gray-500">Septemper 2, 2021</span>
                                </p>

                                <p class="mb-1 mt-3">
                                    <i class="far fa-check-circle"></i> Interview
                                    <i class="far fa-times-circle ml-3"></i> English Assessment
                                    <i class="far fa-check-circle ml-3"></i> OLT

                                </p>
                                <p class="mb-1 ">
                                    Applications Expire in <span class="text-gray-500">December 31, 2021</span>
                                </p>
                            </div>
                            <!-- Divider -->
                            <hr>

                            <!-- Registration Info -->
                            <div class="col-12">
                                <p class="mb-1">Registration</p>
                                <p class="mb-1">
                                    <i class="fas fa-link fa-x mr-2 text-gray-400"></i>
                                    Registration Link:
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-info-circle fa-x mr-2 text-gray-400"></i>
                                    Form Status: <span class="close-status">close</span>
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-users fa-x mr-1 text-gray-400"></i>
                                    No. of Applicants: <span class="text-gray-500">10685 Persons</span>
                                </p>
                            </div>
                            <!-- Divider -->
                            <hr>

                            <!-- Verification Info -->
                            <div class="col-12">
                                <p class="mb-1">Verification</p>
                                <p class="mb-1">
                                    <i class="fas fa-info-circle fa-x mr-1 text-gray-400"></i>
                                    Verification Status: <span class="open-status">Done</span>
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-user fa-x mr-2 text-gray-400"></i>
                                    Verified By: <span class="text-gray-500">mshehab</span>
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-users fa-x mr-1 text-gray-400"></i>
                                    No. of Qualified: <span class="text-gray-500">6592 Persons</span>
                                </p>
                            </div>

                            <!-- Divider -->
                            <hr>

                            <!-- Rules Acceptance Info -->
                            <div class="col-12">
                                <p class="mb-1">Rules Acceptance </p>

                                <p class="mb-1">
                                    <i class="fas fa-calendar-alt fa-x mr-2 text-gray-400"></i>
                                    Meeting Date: <span class="text-gray-500">--</span>
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-link fa-x mr-2 text-gray-400"></i>
                                    Acceptance Link: <span class="text-gray-500">--</span>
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-users fa-x mr-1 text-gray-400"></i>
                                    No. of Acceptance: <span class="text-gray-500">--</span>
                                </p>


                            </div>

                            <!-- Divider -->
                            <hr>

                            <!-- Evaluate Info -->
                            <div class="col-12">
                                <p class="mb-1">Applicants Evaluation</p>
                                <p class="mb-1">
                                    <i class="fas fa-users fa-x mr-1 text-gray-400"></i>
                                    No. of Interviews: <span class="text-gray-500">--</span>
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-users fa-x mr-1 text-gray-400"></i>
                                    No. of English Assessments: <span class="text-gray-500">--</span>
                                </p>
                                <p class="mb-1">
                                    <i class="fas fa-users fa-x mr-1 text-gray-400"></i>
                                    No. of OLT Responses: <span class="text-gray-500">--</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.container-fluid -->
<!-- ======= New Campaign ======= -->
<div id="newCamp" class="modal">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <div class="modal-content animate">
                <span onclick="close_popup('newCamp')" class="close" title="Close">&times;</span>

                <div class="modal-header-container">
                    <h5>Create New Campaign</h5>
                </div>
                <div class="modal-container">
                    <!-- Form -->
                    <form>

                        <!-- Program Selector-->
                        <div class="form-floating mb-3">
                            <select class="form-control pt-0 pb-0" id="program" onfocusout="vlidateEmpty(this)">
                                <option value="" selected disabled>Choose Program</option>
                                <option value="apne">Apprenticeship (APNE)</option>
                            </select>
                            <div class="invalid-feedback">Required</div>
                        </div>

                        <!-- Camp Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="camp_title" type="text" placeholder="Campaign Title" maxlength="50" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                            <label for="camp_title">Campaign Title</label>
                            <div class="invalid-feedback">Required</div>
                        </div>

                        <!-- Reg Form Start/End date input-->
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-floating mb-3">
                                    @*<input class="form-control gregorian-date-default" id="ODate" type="text" placeholder="Registration Open" onpaste="validateDate(this,'open')" onfocusout="validateDate(this,'open','invalid-open-date','EDate')" />*@
                                    <input class="form-control gregorian-date-default" id="ODate" type="text" placeholder="Registration Open" onpaste="vlidateEmpty(this)" onfocusout="vlidateEmpty(this)" />
                                    <label for="ODate">Registration Open</label>
                                    <div id="invalid-open-date" class="invalid-feedback">Required</div>
                                </div>
                            </div>
                            <div class="col-xl-6 ">
                                <!-- Gorgian -->
                                <div class="form-floating mb-3">
                                    @*<input class="form-control gregorian-date-default" id="EDate" type="text" placeholder="Registration Close"  onpaste="validateDate(this,'open')" onfocusout="validateDate(this,'close','invalid-close-date','ODate')" />*@
                                    <input class="form-control gregorian-date-default" id="EDate" type="text" placeholder="Registration Close" onpaste="vlidateEmpty(this)" onfocusout="vlidateEmpty(this)" />
                                    <label for="CDate">Registration Close</label>
                                    <div id="invalid-close-date" class="invalid-feedback">Required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control gregorian-date-default" id="ExDate" type="text" placeholder="Applications Expiry Date" onpaste="vlidateEmpty(this)" onfocusout="vlidateEmpty(this)" />
                            <label for="ODate">Applications Expiry Date</label>
                            <div id="invalid-open-date" class="invalid-feedback">Required</div>
                        </div>

                        <!-- Registeration Requested Files -->
                        <p>Applicants need to Upload:</p>
                        <div class="mb-3">
                            <div class="d-flex ">
                                <label class="mycontainer">
                                    National ID
                                    <input type="checkbox" name="reg_files" value="">
                                    <span class="checkbox"></span>
                                </label>

                                <label class="mycontainer">
                                    High School Certificate
                                    <input type="checkbox" name="reg_files" value="">
                                    <span class="checkbox"></span>
                                </label>

                                <label class="mycontainer">
                                    Qiyas
                                    <input type="checkbox" name="reg_files" value="">
                                    <span class="checkbox"></span>
                                </label>

                                <label class="mycontainer">
                                    CV
                                    <input type="checkbox" name="reg_files" value="">
                                    <span class="checkbox"></span>
                                </label>
                            </div>
                        </div>

                        <!-- rules -->
                        <p>Applicants need to finish:</p>
                        <div class="">
                            <div class="d-flex ">
                                <label class="mycontainer">
                                    Interview
                                    <input type="checkbox" name="priv" value="">
                                    <span class="checkbox"></span>
                                </label>
                                <label class="mycontainer">
                                    English Assessment
                                    <input type="checkbox" name="priv" value="">
                                    <span class="checkbox"></span>
                                </label>
                                <label class="mycontainer">
                                    OLT
                                    <input type="checkbox" name="priv" value="">
                                    <span class="checkbox"></span>
                                </label>
                            </div>
                        </div>

                        <!-- Campaign Verification -->
                        <p class="mb-1 mt-3">Campaign Qualification Rules</p>
                        <table border="0" class="text-center" id="camp_rules_table">
                            <tbody>
                                <tr>
                                    <td style="width: 35%;">
                                        <div class="form-floating">
                                            <input class="form-control" name="v_rule" type="text" placeholder="Field" maxlength="10" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                            <label for="v_rule">Field</label>
                                        </div>
                                    </td>
                                    <td style="width: 20%;">
                                        <div class="form-floating">
                                            <select class="form-control pt-0 pb-0" id="v_cond" onfocusout="vlidateEmpty(this)">
                                                <option value="" selected disabled>Condition</option>
                                                <option value="gt">Grater than</option>
                                                <option value="eq">Equal to</option>
                                                <option value="lt">Less than</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td style="width: 35%;">
                                        <div class="form-floating">
                                            <input class="form-control" name="v_value" type="text" placeholder="Value" maxlength="10" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                            <label for="v_value">Value</label>
                                        </div>
                                    </td>
                                    <td style="width: 10%;">
                                        <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="addRule('camp_rules_table')" type="button">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                        <!-- Buttons -->
                        <div class="row justify-content-center mt-3 mb-3">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right" type="button" style="width:100%">
                                    Save
                                </button>
                            </div>

                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-left" type="button" style="width:100%" onclick="close_popup('newCamp')">
                                    Cancel
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Edit Campaign ======= -->
<div id="editCamp" class="modal">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <div class="modal-content animate">
                <span onclick="close_popup('editCamp')" class="close" title="Close">&times;</span>

                <div class="modal-header-container">
                    <h5>Edit Campaign Info</h5>
                </div>
                <div class="modal-container">
                    <!-- Form -->
                    <form>

                        <!-- Program Selector-->
                        <div class="form-floating mb-3">
                            <select class="form-control pt-0 pb-0" id="program" onfocusout="vlidateEmpty(this)" disabled>
                                <option value="" selected disabled>Choose Program</option>
                                <option value="apne" selected>APNE</option>
                                <option value="ohs">OHS</option>
                            </select>
                            <div class="invalid-feedback">Required</div>
                        </div>

                        <!-- Camp Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="camp_title" type="text" placeholder="Campaign Title" maxlength="50" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                            <label for="camp_title">Campaign Title</label>
                            <div class="invalid-feedback">Required</div>
                        </div>

                        <!-- Reg Form Start/End date input-->
                        <div class="row">
                            <div class="col-xl-6">
                                <!-- Start Date -->
                                <div class="form-floating mb-3">
                                    @*<input class="form-control gregorian-date-default" id="ODate" type="text" placeholder="Registration Open" onpaste="validateDate(this,'open')" onfocusout="validateDate(this,'open','invalid-open-date','EDate')" />*@
                                    <input class="form-control gregorian-date-default" id="ODate" type="text" placeholder="Registration Open" onpaste="vlidateEmpty(this)" onfocusout="vlidateEmpty(this)" />
                                    <label for="ODate">Registration Open</label>
                                    <div id="invalid-open-date" class="invalid-feedback">Required</div>
                                </div>
                            </div>
                            <div class="col-xl-6 ">
                                <!-- End Date -->
                                <div class="form-floating mb-3">
                                    @*<input class="form-control gregorian-date-default" id="EDate" type="text" placeholder="Registration Close"  onpaste="validateDate(this,'open')" onfocusout="validateDate(this,'close','invalid-close-date','ODate')" />*@
                                    <input class="form-control gregorian-date-default" id="EDate" type="text" placeholder="Registration Close" onpaste="vlidateEmpty(this)" onfocusout="vlidateEmpty(this)" />
                                    <label for="CDate">Registration Close</label>
                                    <div id="invalid-close-date" class="invalid-feedback">Required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control gregorian-date-default" id="ExDate" type="text" placeholder="Applications Expiry Date" onpaste="vlidateEmpty(this)" onfocusout="vlidateEmpty(this)" />
                            <label for="ODate">Applications Expiry Date</label>
                            <div id="invalid-open-date" class="invalid-feedback">Required</div>
                        </div>

                        <!-- Registeration Requested Files -->
                        <p>Applicants need to Upload:</p>
                        <div class="form-floating mb-3">
                            <div class="d-flex ">
                                <label class="mycontainer">
                                    National ID
                                    <input type="checkbox" name="reg_files" value="">
                                    <span class="checkbox"></span>
                                </label>

                                <label class="mycontainer">
                                    High School Certificate
                                    <input type="checkbox" name="reg_files" value="">
                                    <span class="checkbox"></span>
                                </label>

                                <label class="mycontainer">
                                    Qiyas
                                    <input type="checkbox" name="reg_files" value="">
                                    <span class="checkbox"></span>
                                </label>

                                <label class="mycontainer">
                                    CV
                                    <input type="checkbox" name="reg_files" value="">
                                    <span class="checkbox"></span>
                                </label>
                            </div>
                        </div>

                        <!-- applicants rules -->
                        <p>Applicants need to finish:</p>
                        <div class="">
                            <div class="d-flex ">
                                <label class="mycontainer">
                                    Interview
                                    <input type="checkbox" name="priv" value="">
                                    <span class="checkbox"></span>
                                </label>
                                <label class="mycontainer">
                                    English Assessment
                                    <input type="checkbox" name="priv" value="">
                                    <span class="checkbox"></span>
                                </label>
                                <label class="mycontainer">
                                    OLT
                                    <input type="checkbox" name="priv" value="">
                                    <span class="checkbox"></span>
                                </label>
                            </div>
                        </div>

                        <!-- Campaign Verification -->
                        <p class="mb-1 mt-3">Campaign Qualification Rules</p>
                        <table border="0" class="text-center" id="camp_rules_table_edit">
                            <tbody>
                                <tr>
                                    <td style="width: 35%;">
                                        <div class="form-floating">
                                            <input class="form-control" name="v_rule" type="text" placeholder="Field" maxlength="10" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                            <label for="v_rule">Field</label>
                                        </div>
                                    </td>
                                    <td style="width: 20%;">
                                        <div class="form-floating">
                                            <select class="form-control pt-0 pb-0" id="v_cond" onfocusout="vlidateEmpty(this)">
                                                <option value="" selected disabled>Condition</option>
                                                <option value="gt">Grater than</option>
                                                <option value="eq">Equal to</option>
                                                <option value="lt">Less than</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td style="width: 35%;">
                                        <div class="form-floating">
                                            <input class="form-control" name="v_value" type="text" placeholder="Value" maxlength="10" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                            <label for="v_value">Value</label>
                                        </div>
                                    </td>
                                    <td style="width: 10%;">
                                        <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="addRule('camp_rules_table_edit')" type="button">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                        <!-- Buttons -->
                        <div class="row justify-content-center mt-3 mb-3">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right" type="button" style="width:100%">
                                    Save
                                </button>
                            </div>

                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-left" type="button" style="width:100%" onclick="close_popup('editCamp')">
                                    Cancel
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Schedule Meeting ======= -->
<div id="schedule_meeting" class="modal">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <div class="modal-content animate">
                <span onclick="close_popup('schedule_meeting')" class="close" title="Close">&times;</span>

                <div class="modal-header-container">
                    <h5>Schedule Meeting</h5>
                </div>
                <div class="modal-container">
                    <!-- Form -->
                    <form>
                        <p class="mb-3 text-gray-400" style="font-size:10pt">
                            <i class="fas fa-info-circle fa-x mr-2 "></i>
                            Only <span class="font-weight-bold text-orange">Qualified</span> applicants will recieve the meeting invitation
                        </p>
                        <!-- Meeting Date input-->
                        <div class="form-floating mb-3">
                            @*<input class="form-control gregorian-date-default" id="EDate" type="text" placeholder="Registration Close"  onpaste="validateDate(this,'open')" onfocusout="validateDate(this,'close','invalid-close-date','ODate')" />*@
                            <input class="form-control gregorian-date-default" id="MeetingDate" type="text" placeholder="Meeting Date" onpaste="vlidateEmpty(this)" onfocusout="vlidateEmpty(this)" />
                            <label for="MeetingDate">Meeting Date</label>
                            <div id="invalid-meeting-date" class="invalid-feedback">Required</div>
                        </div>

                        <!-- Meeting Message -->
                        <div class="form-floating mb-3">
                            <textarea style=" min-height:130px;" class="form-control" id="meetingMsg" placeholder="Message" onfocusout="vlidateEmpty(this)"></textarea>
                            <label for="ODate">Message</label>
                            <div id="invalid-open-date" class="invalid-feedback">Required</div>
                        </div>


                        <!-- Buttons -->
                        <div class="row justify-content-center mt-3 mb-3">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right" type="button" style="width:100%">
                                    Save
                                </button>
                            </div>

                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-left" type="button" style="width:100%" onclick="close_popup('schedule_meeting')">
                                    Cancel
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Upload OLT ======= -->
<div id="upload_olt" class="modal">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <div class="modal-content animate">
                <span onclick="close_popup('upload_olt')" class="close" title="Close">&times;</span>

                <div class="modal-header-container">
                    <h5>Upload OLT Results</h5>
                </div>
                <div class="modal-container">
                    <!-- Form -->
                    <form>

                        <!-- File input -->
                        <div class="form-floating mb-3">
                            <div class="input-group">
                                <input type="text" class="form-control small disabled_input" id="filename" placeholder="Select File ..."
                                       aria-label="Upload" aria-describedby="basic-addon2" disabled>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" onclick="getFile('import_olt')">
                                        <i class="fas fa-upload fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                            <input type="file" id="import_olt" style="display: none;" accept=".xls,.xlsx" onchange="importFile()" />

                            <div id="invalid-meeting-date" class="invalid-feedback">Required</div>
                        </div>

                        <!-- Buttons -->
                        <div class="row justify-content-center mt-3 mb-3">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right" type="button" style="width:100%">
                                    Upload
                                </button>
                            </div>

                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-left" type="button" style="width:100%" onclick="close_popup('upload_olt')">
                                    Cancel
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Upload Admitted ======= -->
<div id="upload_admitted" class="modal">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <div class="modal-content animate">
                <span onclick="close_popup('upload_admitted')" class="close" title="Close">&times;</span>

                <div class="modal-header-container">
                    <h5>Upload Admitted Applicants</h5>
                </div>
                <div class="modal-container">
                    <!-- Form -->
                    <form>

                        <!-- File input -->
                        <div class="form-floating mb-3">
                            <div class="input-group">
                                <input type="text" class="form-control small disabled_input" id="filename" placeholder="Select File ..."
                                       aria-label="Upload" aria-describedby="basic-addon2" disabled>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" onclick="getFile('upload_admitted_file')">
                                        <i class="fas fa-upload fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                            <input type="file" id="upload_admitted_file" style="display: none;" accept=".xls,.xlsx" onchange="importFile()" />

                            <div id="invalid-meeting-date" class="invalid-feedback">Required</div>
                        </div>

                        <!-- Buttons -->
                        <div class="row justify-content-center mt-3 mb-3">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right" type="button" style="width:100%">
                                    Import
                                </button>
                            </div>

                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-left" type="button" style="width:100%" onclick="close_popup('upload_admitted')">
                                    Cancel
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Import HRDF ======= -->
<div id="importHRDF" class="modal">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <div class="modal-content animate">
                <span onclick="close_popup('importHRDF')" class="close" title="Close">&times;</span>

                <div class="modal-header-container">
                    <h5>Import HRDF</h5>
                </div>
                <div class="modal-container">
                    <!-- Form -->
                    <form>

                        <!-- File input -->
                        <div class="form-floating mb-3">
                            <div class="input-group">
                                <input type="text" class="form-control small disabled_input" id="filename" placeholder="Select File ..."
                                       aria-label="Upload" aria-describedby="basic-addon2" disabled>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" onclick="getFile('import_hrdf')">
                                        <i class="fas fa-upload fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                            <input type="file" id="import_hrdf" style="display: none;" accept=".xls,.xlsx" onchange="importFile()" />

                            <div id="invalid-meeting-date" class="invalid-feedback">Required</div>
                        </div>

                        <!-- Buttons -->
                        <div class="row justify-content-center mt-3 mb-3">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right" type="button" style="width:100%">
                                    Import
                                </button>
                            </div>

                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-left" type="button" style="width:100%" onclick="close_popup('importHRDF')">
                                    Cancel
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function verify_applicants() {
        warn_response_continue.innerHTML = '6592 applicants <span class="text-orange">Qualified</span> out of 10685 <br> Based on the followin Rules: <br><br> 1. Age less than 24 <br> 2. HRDF Status is Not Supported <br><br> Would you like to continue?';
        document.getElementById('warn_popup_continue').style.display = 'block';
    }
    function continue_submit() {
        document.getElementById('warn_popup_continue').style.display = 'none';
        succ_response.innerHTML = '6592 applicants <span class="text-orange">Qualified</span> out of 10685 <br> Based on Qualification Rules';
        document.getElementById('success_popup').style.display = 'block';
    }
</script>