
@{
    ViewBag.Title = "Configuration";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 mb-0 text-gray-700">Configuration</h1>
    </div>




</div>
<!-- /.container-fluid -->
