
@{
    ViewBag.Title = "Emails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 mb-0 text-gray-700">Sent Emails</h1>
    </div>

    <div class="row">
        <!-- Tale View -->
        <div id="TableView" style="width: 100%;">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="overflow-x:scroll">
                            <thead>
                                <tr>
                                    <th>Email for</th>
                                    <th>Recipient Name</th>
                                    <th>Recipient Email</th>
                                    <th>Sendning Date</th>
                                    <th>Email Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Schedule Meeting for Campaing 2021</td>
                                    <td>Munirah Ahmed Alshehab</td>
                                    <td>mshehab@niti.edu.sa</td>
                                    <td>October 2, 2021</td>
                                    <td>Sent</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
