
@{
    ViewBag.Title = "Programs";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 mb-0 text-gray-700">Programs</h1>
        <a role="button" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="open_popup('new_program')">
            <i class="fas fa-plus fa-sm text-white-50 mr-1"></i> New Program
        </a>
    </div>

    <div class="row">
        <!-- Default Card -->
        <div class="col-lg-4 col-md-12">
            <div class="card mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 ">APNE Program</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            @*<div class="dropdown-header">Dropdown Header:</div>*@
                            <a class="dropdown-item" role="button" onclick="open_popup('edit_program')">Edit</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p class="mb-1">
                                <i class="fas fa-info-circle fa-x mr-2 text-gray-400"></i>
                                Program Name: <span class="text-gray-500">Apprenticeship (APNE)</span>
                            </p>
                            <p class="mb-1">
                                <i class="fas fa-calendar-alt fa-x mr-2 text-gray-400"></i>
                                Last Campaign: <span class="text-gray-500">August 15, 2021</span>
                            </p>
                            <p class="mb-1">
                                <i class="fas fa-users fa-x mr-1 text-gray-400"></i>
                                Waiting List: <span class="text-gray-500">85 Persons</span>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

<!-- ======= New Program ======= -->
<div id="new_program" class="modal">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <div class="modal-content animate">
                <span onclick="close_popup('new_program')" class="close" title="Close">&times;</span>
                <div class="modal-header-container">
                    <h5>Create New Program</h5>
                </div>
                <div class="modal-container">
                    <!-- Form -->
                    <form>
                        <!-- Program Name En input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="program_name" type="text" placeholder="Program Full Name" maxlength="50" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                            <label for="camp_title">Program Full Name (English)</label>
                            <div class="invalid-feedback">Required</div>
                        </div>

                        <!-- Program Name Ar input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="program_name" type="text" placeholder="Program Full Name" maxlength="50" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                            <label for="camp_title">Program Full Name (Arabic)</label>
                            <div class="invalid-feedback">Required</div>
                        </div>

                        <!-- Program Short Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="program_short" type="text" placeholder="Program Short Name" maxlength="10" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                            <label for="camp_title">Program Short Name</label>
                            <div class="invalid-feedback">Required</div>
                        </div>

                        <!-- Campaign Regulation -->
                        <p class="mb-1">Default Regulation in Registeration Form <span class="text-gray-500" style="font-size:12px">(Recommended to be in Arabic)</span></p>
                        <table border="0" class="text-center mb-3" id="prog_regu_table_new" style="width:100%">
                            <tbody>
                                <tr>
                                    <td style="width: 35%;vertical-align: top;">
                                        <div class="form-floating">
                                            <input class="form-control" name="" type="text" placeholder="Section Title" onfocusout="vlidateEmpty(this)" />
                                            <label for="v_rule">Section Title</label>
                                        </div>
                                    </td>
                                    <td style="width: 55%;">
                                        <div class="form-floating">
                                            <textarea class="form-control" name="" style="min-height:calc(3.5rem + 2px)" placeholder="Section content..."></textarea>
                                            <label for="v_value">Section content...</label>
                                        </div>
                                    </td>

                                    <td style="width: 10%;">
                                        <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="addRegu('prog_regu_table_new')" type="button">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Program Verification Rules -->
                        <p class="mb-1 mt-3">Default Qualification Rules</p>
                        <table border="0" class="text-center" id="prog_quali_table">
                            <tbody>
                                <tr>
                                    <td style="width: 35%;">
                                        <div class="form-floating">
                                            <input class="form-control" name="v_rule" type="text" placeholder="Field" maxlength="10" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                            <label for="v_rule">Field</label>
                                        </div>
                                    </td>
                                    <td style="width: 20%;">
                                        <div class="form-floating">
                                            <select class="form-control pt-0 pb-0" id="v_cond" onfocusout="vlidateEmpty(this)">
                                                <option value="" selected disabled>Condition</option>
                                                <option value="gt">Grater than</option>
                                                <option value="eq">Equal to</option>
                                                <option value="lt">Less than</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td style="width: 35%;">
                                        <div class="form-floating">
                                            <input class="form-control" name="v_value" type="text" placeholder="Value" maxlength="10" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                            <label for="v_value">Value</label>
                                        </div>
                                    </td>
                                    <td style="width: 10%;">
                                        <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="addQualiRule('prog_quali_table')" type="button">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Buttons -->
                        <div class="row justify-content-center mt-3 mb-3">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right" type="button" style="width:100%">
                                    Save
                                </button>
                            </div>

                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-left" type="button" style="width:100%" onclick="close_popup('new_program')">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Edit Program ======= -->
<div id="edit_program" class="modal">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <div class="modal-content animate">
                <span onclick="close_popup('edit_program')" class="close" title="Close">&times;</span>
                <div class="modal-header-container">
                    <h5>Edit Program</h5>
                </div>
                <div class="modal-container">
                    <!-- Form -->
                    <form>
                        <!-- Program Name En input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="program_name" type="text" placeholder="Program Full Name" maxlength="50" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                            <label for="camp_title">Program Full Name (English)</label>
                            <div class="invalid-feedback">Required</div>
                        </div>

                        <!-- Program Name Ar input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="program_name" type="text" placeholder="Program Full Name" maxlength="50" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                            <label for="camp_title">Program Full Name (Arabic)</label>
                            <div class="invalid-feedback">Required</div>
                        </div>

                        <!-- Program Short Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="program_short" type="text" placeholder="Program Short Name" maxlength="10" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                            <label for="camp_title">Program Short Name</label>
                            <div class="invalid-feedback">Required</div>
                        </div>

                        <!-- Campaign Regulation -->
                        <p class="mb-1">Default Regulation in Registeration Form <span class="text-gray-500" style="font-size:12px">(Recommended to be in Arabic)</span></p>
                        <table border="0" class="text-center mb-3" id="prog_regu_table_edit" style="width:100%">
                            <tbody>
                                <tr>
                                    <td style="width: 35%;vertical-align: top;">
                                        <div class="form-floating">
                                            <input class="form-control" name="" type="text" placeholder="Section Title" onfocusout="vlidateEmpty(this)" />
                                            <label for="v_rule">Section Title</label>
                                        </div>
                                    </td>
                                    <td style="width: 55%;">
                                        <div class="form-floating">
                                            <textarea class="form-control" name="" style="min-height:calc(3.5rem + 2px)" placeholder="Section content..."></textarea>
                                            <label for="v_value">Section content...</label>
                                        </div>
                                    </td>

                                    <td style="width: 10%;">
                                        <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="addRegu('prog_regu_table_edit')" type="button">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Program Verification Rules -->
                        <p class="mb-1 mt-3">Default Qualification Rules</p>
                        <table border="0" class="text-center" id="prog_quali_table_edit">
                            <tbody>
                                <tr>
                                    <td style="width: 35%;">
                                        <div class="form-floating">
                                            <input class="form-control" name="v_rule" type="text" placeholder="Field" maxlength="10" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                            <label for="v_rule">Field</label>
                                        </div>
                                    </td>
                                    <td style="width: 20%;">
                                        <div class="form-floating">
                                            <select class="form-control pt-0 pb-0" id="v_cond" onfocusout="vlidateEmpty(this)">
                                                <option value="" selected disabled>Condition</option>
                                                <option value="gt">Grater than</option>
                                                <option value="eq">Equal to</option>
                                                <option value="lt">Less than</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td style="width: 35%;">
                                        <div class="form-floating">
                                            <input class="form-control" name="v_value" type="text" placeholder="Value" maxlength="10" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                            <label for="v_value">Value</label>
                                        </div>
                                    </td>
                                    <td style="width: 10%;">
                                        <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="addRule('prog_quali_table_edit')" type="button">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                        <!-- Buttons -->
                        <div class="row justify-content-center mt-3 mb-3">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right" type="button" style="width:100%">
                                    Save
                                </button>
                            </div>

                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-left" type="button" style="width:100%" onclick="close_popup('edit_program')">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

