
@{
    ViewBag.Title = "Registration Responses ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 mb-0 text-gray-700">Registration Responses</h1>
        <div class=" d-sm-inline-block">
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
            </a>
            <a class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="/Registration/Index" target="_blank">
                <i class="fas fa-external-link-alt fa-sm text-white-50 mr-1"></i> Form Template
            </a>
        </div>
    </div>



    <div class="row">
        <!-- Tale View -->
        <div id="TableView" style="width: 100%;">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Program</th>
                                    <th>Campaign</th>
                                    <th>Natinal ID</th>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Address</th>
                                    <th>Application Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>1096358795</td>
                                    <td>Munirah</td>
                                    <td>22</td>
                                    <td>Ahsa</td>
                                    <td class="text-xs font-weight-bold text-orange">Qualified</td>
                                    <td> <a class="action" role="button" onclick="open_popup('viewRecord')">View</a> @*| <a class="action" role="button" onclick="open_popup('editRecord')">Edit</a>*@ | <a class="action" role="button" onclick="view_log('Application')">Changes Log</a></td>

                                </tr>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>1096358795</td>
                                    <td>Mohammed</td>
                                    <td>24</td>
                                    <td>Ahsa</td>
                                    <td class="text-xs font-weight-bold text-info">Potential</td>
                                    <td> <a class="action" role="button" onclick="open_popup('viewRecord')">View</a> @*| <a class="action" role="button" onclick="open_popup('editRecord')">Edit</a>*@
                                </tr>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>1096358795</td>
                                    <td>Mohammed</td>
                                    <td>24</td>
                                    <td>Dmmam</td>
                                    <td class="text-xs font-weight-bold text-orange">Qualified</td>
                                    <td> <a class="action" role="button" onclick="open_popup('viewRecord')">View</a> @*| <a class="action" role="button" onclick="open_popup('editRecord')">Edit</a>*@
                                </tr>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>1096358795</td>
                                    <td>Monther</td>
                                    <td>23</td>
                                    <td>Dmmam</td>
                                    <td class="text-xs font-weight-bold text-danger">Rejected</td>
                                    <td> <a class="action" role="button" onclick="open_popup('viewRecord')">View</a> @*| <a class="action" role="button" onclick="open_popup('editRecord')">Edit</a>*@
                                </tr>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>1096358795</td>
                                    <td>Monther</td>
                                    <td>19</td>
                                    <td>Ahsa</td>
                                    <td class="text-xs font-weight-bold text-orange">Qualified</td>
                                    <td> <a class="action" role="button" onclick="open_popup('viewRecord')">View</a> @*| <a class="action" role="button" onclick="open_popup('editRecord')">Edit</a>*@
                                </tr>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>1096358795</td>
                                    <td>Hamad</td>
                                    <td>21</td>
                                    <td>Ahsa</td>
                                    <td class="text-xs font-weight-bold text-orange">Qualified</td>
                                    <td> <a class="action" role="button" onclick="open_popup('viewRecord')">View</a> @*| <a class="action" role="button" onclick="open_popup('editRecord')">Edit</a>*@
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- ======= View Record ======= -->
<div id="viewRecord" class="modal">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <div class="modal-content animate">
                <span onclick="close_popup('viewRecord')" class="close" title="Close">&times;</span>

                <div class="modal-header-container">
                    <h5>Application 4528</h5>
                </div>
                <div class="modal-container">
                    <!-- Form -->
                    <form>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2">
                                <p class="mb-1">
                                    <i class="fas fa-info-circle fa-1x text-gray-300 mr-1"></i>
                                    <strong>Application for:</strong> APNE - Campaign 2021
                                </p>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2">
                                <p class="mb-1">
                                    <i class="fas fa-calendar-alt fa-1x text-gray-300 mr-1"></i>
                                    <strong>Apply Date:</strong> January 1, 2022
                                </p>
                            </div>
                        </div>

                        <hr>
                        <!-- General Info -->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2">
                                <p class="mb-2">
                                    <i class="fas fa-id-card fa-1x text-gray-300 mr-1"></i>
                                    <strong>National ID:</strong> 102345678
                                </p>

                                <p class="mb-2">
                                    <i class="fas fa-user fa-1x text-gray-300 mr-1"></i>
                                    <strong>English Name:</strong> Munirah Ahmed Salem Alshehab
                                </p>

                                <p class="mb-2">
                                    <i class="fas fa-user fa-1x text-gray-300 mr-1"></i>
                                    <strong>Arabic Name:</strong> منيرة أحمد سالم الشهاب
                                </p>
                            </div>
                        </div>
                        <hr />

                        <!-- Personal Info -->
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <i class="fas fa-calendar-alt fa-1x text-gray-300 mr-1"></i>
                                <strong>Birth Date:</strong> January 1, 1997
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <i class="fas fa-venus-mars fa-1x text-gray-300 mr-1"></i>
                                <strong>Gender:</strong> Female
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <i class="fas fa-map-marker-alt fa-1x text-gray-300 mr-2"></i>
                                <strong>Address:</strong> Alhasa
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <i class="fas fa-check fa-1x text-gray-300 mr-1"></i>
                                <strong>HRDF Supported:</strong> No
                            </div>
                            <!-- Health Condition Info -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <i class="fas fa-heartbeat fa-1x text-gray-300 mr-1"></i>
                                <strong>Health Condition:</strong> Other
                                <p class="mb-2 ml-4 fsize-10">
                                    <i class="fas fa-info-circle fa-1x text-gray-300 mr-1"></i>
                                    مرض السكري
                                </p>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <i class="fas fa-tint fa-1x text-gray-300 mr-2"></i>
                                <strong>Blood Type:</strong> A+
                            </div>
                        </div>
                        <hr />

                        <!-- Grades & Education Info -->
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <i class="fas fa-graduation-cap fa-1x text-gray-300 mr-0"></i>
                                <strong>High School:</strong> 99.8%
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <i class="fas fa-percent fa-1x text-gray-300 mr-1"></i>
                                <strong>Qiyas:</strong> 74
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <i class="fas fa-certificate fa-1x text-gray-300 mr-1"></i>
                                <strong>High Education:</strong> Yes
                                <p class="mb-0 ml-4 fsize-10">
                                    <i class="fas fa-info-circle fa-1x text-gray-300 mr-1"></i>
                                    <strong>Degree:</strong> Bachelor
                                </p>
                                <p class="mb-0 ml-4 fsize-10">
                                    <i class="fas fa-info-circle fa-1x text-gray-300 mr-1"></i>
                                    <strong>Feild:</strong> علوم حاسب
                                </p>
                                <p class="mb-2 ml-4 fsize-10">
                                    <i class="fas fa-info-circle fa-1x text-gray-300 mr-1"></i>
                                    <strong>GPA:</strong> 4.23/5
                                </p>
                            </div>

                        </div>
                        <hr />

                        <!-- Contact Info -->
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <i class="fas fa-envelope fa-1x text-gray-300 mr-1"></i>
                                <strong>Email</strong>
                                <span class="ml-2 fsize-10">example@gmail.com</span>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <i class="fas fa-mobile-alt fa-1x text-gray-300 mr-1"></i>
                                <strong>Phone</strong>
                                <span class="ml-2 fsize-10">+996 54 021 3902</span>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <i class="fas fa-mobile-alt fa-1x text-gray-300 mr-1"></i>
                                <strong>Guardian</strong>
                                <span class="ml-2 fsize-10">+996 54 021 3902</span>
                                <span class="ml-2" style="font-size:8pt">(أحمد)</span>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <i class="fas fa-mobile-alt fa-1x text-gray-300 mr-1"></i>
                                <strong>Relative</strong>
                                <span class="ml-2 fsize-10">+996 54 021 3902</span>
                                <span class="ml-2" style="font-size:8pt">(محمد)</span>
                            </div>
                        </div>

                        <hr>

                        <!-- Attachments -->
                        <h6 class="mt-2">
                            <i class="fas fa-paperclip fa-1x text-gray-300 mr-1"></i> <strong>Attachments</strong>
                        </h6>
                        <!-- Attachments View -->
                        <table id="" class="attachments_tbl">
                            <tr>
                                <th style="width:50%">File Description</th>
                                <th style="width:50%">Action</th>
                            </tr>
                            <tr>
                                <td>Personal Photo</td>
                                <td><a href="#">Open</a> | <a href="#">Download</a></td>
                            </tr>
                            <tr>
                                <td>CV</td>
                                <td><a href="#">Open</a> | <a href="#">Download</a></td>
                            </tr>
                        </table>

                        <!-- Buttons -->
                        <div class="row justify-content-center mt-4 mb-3">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-left w-100" type="button" onclick="close_popup('viewRecord')">
                                    OK
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Edit Record ======= -->
<!--<div id="editRecord" class="modal">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <div class="modal-content animate">
                <span onclick="close_popup('editRecord')" class="close" title="Close">&times;</span>

                <div class="modal-header-container">
                    <h5>Edit Application Record</h5>
                </div>
                <div class="modal-container">-->
<!-- Form -->
<!--<form>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2">
            <p class="mb-1">
                <i class="fas fa-info-circle fa-1x text-gray-300 mr-1"></i>
                <strong>Application for:</strong> APNE - Campaign 2021
            </p>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2">
            <p class="mb-1">
                <i class="fas fa-calendar-alt fa-1x text-gray-300 mr-1"></i>
                <strong>Apply Date:</strong> January 1, 2022
            </p>
        </div>
    </div>

    <hr>-->
<!-- General Info -->
<!--<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2">
        <p class="mb-2">
            <i class="fas fa-id-card fa-1x text-gray-300 mr-1"></i>
            <strong>National ID:</strong> 102345678
        </p>

        <p class="mb-2">
            <i class="fas fa-user fa-1x text-gray-300 mr-1"></i>
            <strong>English Name:</strong>
        </p>-->
<!-- English Name input-->
<!--<div class="row">
    <div class="col-xl-3 col-lg-6 col-md-6 p-0 pl-1">-->
<!-- First Name input-->
<!--<div class="form-floating mb-3">
        <input class="form-control" id="enNameF" type="text" placeholder="الاسم الأول (انجليزي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
        <label for="enNameF">Fisrt Name</label>
    </div>
</div>
<div class="col-xl-3 col-lg-6 col-md-6 p-0 pl-1">-->
<!-- Second Name input-->
<!--<div class="form-floating mb-3">
        <input class="form-control" id="enNameS" type="text" placeholder="الاسم الثاني (انجليزي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
        <label for="enNameS">Second name</label>
    </div>
</div>
<div class="col-xl-3 col-lg-6 col-md-6 p-0 pl-1">-->
<!-- Third Name input-->
<!--<div class="form-floating mb-3">
        <input class="form-control" id="enNameT" type="text" placeholder="الاسم الثالث (انجليزي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
        <label for="enNameT">Third name</label>
    </div>
</div>
<div class="col-xl-3 col-lg-6 col-md-6 p-0 pl-1">-->
<!-- Last Name input-->
<!--<div class="form-floating mb-3">
                    <input class="form-control" id="enNameL" type="text" placeholder="اسم العائلة (انجليزي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                    <label for="enNameL">Last name</label>
                </div>
            </div>
        </div>
        <p class="mb-2">
            <i class="fas fa-user fa-1x text-gray-300 mr-1"></i>
            <strong>Arabic Name:</strong> منيرة أحمد سالم الشهاب
        </p>
    </div>
</div>
<hr />-->
<!-- Personal Info -->
<!--<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
        <i class="fas fa-calendar-alt fa-1x text-gray-300 mr-1"></i>
        <strong>Birth Date:</strong> January 1, 1997
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
        <i class="fas fa-venus-mars fa-1x text-gray-300 mr-1"></i>
        <strong>Gender:</strong> Female
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
        <i class="fas fa-map-marker-alt fa-1x text-gray-300 mr-2"></i>
        <strong>Address:</strong> Alhasa
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
        <i class="fas fa-check fa-1x text-gray-300 mr-1"></i>
        <strong>HRDF Supported:</strong> No
    </div>-->
<!-- Health Condition Info -->
<!--<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
        <i class="fas fa-heartbeat fa-1x text-gray-300 mr-1"></i>
        <strong>Health Condition:</strong> Other
        <p class="mb-2 ml-4 fsize-10">
            <i class="fas fa-info-circle fa-1x text-gray-300 mr-1"></i>
            مرض السكري
        </p>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
        <i class="fas fa-tint fa-1x text-gray-300 mr-2"></i>
        <strong>Blood Type:</strong> A+
    </div>
</div>
<hr />-->
<!-- Grades & Education Info -->
<!--<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
        <i class="fas fa-graduation-cap fa-1x text-gray-300 mr-0"></i>
        <strong>High School:</strong> 99.8%
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
        <i class="fas fa-percent fa-1x text-gray-300 mr-1"></i>
        <strong>Qiyas:</strong> 74
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
        <i class="fas fa-certificate fa-1x text-gray-300 mr-1"></i>
        <strong>High Education:</strong> Yes
        <p class="mb-0 ml-4 fsize-10">
            <i class="fas fa-info-circle fa-1x text-gray-300 mr-1"></i>
            <strong>Degree:</strong> Bachelor
        </p>
        <p class="mb-0 ml-4 fsize-10">
            <i class="fas fa-info-circle fa-1x text-gray-300 mr-1"></i>
            <strong>Feild:</strong> علوم حاسب
        </p>
        <p class="mb-2 ml-4 fsize-10">
            <i class="fas fa-info-circle fa-1x text-gray-300 mr-1"></i>
            <strong>GPA:</strong> 4.23/5
        </p>
    </div>

</div>
<hr />-->
<!-- Contact Info -->
<!--<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
        <i class="fas fa-envelope fa-1x text-gray-300 mr-1"></i>
        <strong>Email</strong>
        <span class="ml-2 fsize-10">example@gmail.com</span>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
        <i class="fas fa-mobile-alt fa-1x text-gray-300 mr-1"></i>
        <strong>Phone</strong>
        <span class="ml-2 fsize-10">+996 54 021 3902</span>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
        <i class="fas fa-mobile-alt fa-1x text-gray-300 mr-1"></i>
        <strong>Guardian</strong>
        <span class="ml-2 fsize-10">+996 54 021 3902</span>
        <span class="ml-2" style="font-size:8pt">(أحمد)</span>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
        <i class="fas fa-mobile-alt fa-1x text-gray-300 mr-1"></i>
        <strong>Relative</strong>
        <span class="ml-2 fsize-10">+996 54 021 3902</span>
        <span class="ml-2" style="font-size:8pt">(محمد)</span>
    </div>
</div>

<hr>-->
<!-- Attachments -->
<!--<h6 class="mt-2">
    <i class="fas fa-paperclip fa-1x text-gray-300 mr-1"></i> Attachments
</h6>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2">
    <div class="portfolio mt-1 ml-2">
        <div class="portfolio-item">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 icon-download">
                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-download fa-x"></i></div>
            </div>
            <img class="img-fluid" src="~/Content/assets/img/niti-bg2.jpg" alt="..." />
        </div>
    </div>
</div>-->
<!-- Buttons -->
<!--<div class="row justify-content-center mt-3 mb-3">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right w-100" type="button">
                                    Save
                                </button>
                            </div>

                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-left w-100" type="button" onclick="close_popup('editRecord')">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>-->
