
@{
    ViewBag.Title = "Interview Responses";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 mb-0 text-gray-700">Interview Responses</h1>

        <div class=" d-sm-inline-block">
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
            </a>
            <a class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="/Evaluation/InterviewForm" target="_blank">
                <i class="fas fa-external-link-alt fa-sm text-white-50 mr-1"></i> Form Template
            </a>
        </div>
    </div>



    <div class="row">
        <!-- Tale View -->
        <div id="TableView" style="width: 100%;">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="overflow-x:scroll">
                            <thead>
                                <tr>
                                    <th>Program</th>
                                    <th>Campaign</th>
                                    <th>National ID</th>
                                    <th>Name</th>
                                    <th>Overall Acceptance</th>
                                    <th>Final Score</th>
                                    <th>Remarks</th>
                                    <th>Interviewer</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>1012365478</td>
                                    <td>Munirah</td>
                                    <td>5</td>
                                    <td>7.5/10</td>
                                    <td>NA</td>
                                    <td>mshehab</td>
                                    <td> <a class="action" role="button" onclick="open_popup('viewRecord')">View</a> | <a class="action" role="button" onclick="open_popup('editRecord')">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>1012365478</td>
                                    <td>Munirah</td>
                                    <td>5</td>
                                    <td>7.5/10</td>
                                    <td>NA</td>
                                    <td>mshehab</td>
                                    <td> <a class="action" role="button" onclick="open_popup('viewRecord')">View</a> | <a class="action" role="button" onclick="open_popup('editRecord')">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>1012365478</td>
                                    <td>Munirah</td>
                                    <td>5</td>
                                    <td>7.5/10</td>
                                    <td>NA</td>
                                    <td>mshehab</td>
                                    <td> <a class="action" role="button" onclick="open_popup('viewRecord')">View</a> | <a class="action" role="button" onclick="open_popup('editRecord')">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>1012365478</td>
                                    <td>Munirah</td>
                                    <td>5</td>
                                    <td>7.5/10</td>
                                    <td>NA</td>
                                    <td>mshehab</td>
                                    <td> <a class="action" role="button" onclick="open_popup('viewRecord')">View</a> | <a class="action" role="button" onclick="open_popup('editRecord')">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>1012365478</td>
                                    <td>Munirah</td>
                                    <td>5</td>
                                    <td>7.5/10</td>
                                    <td>NA</td>
                                    <td>mshehab</td>
                                    <td> <a class="action" role="button" onclick="open_popup('viewRecord')">View</a> | <a class="action" role="button" onclick="open_popup('editRecord')">Edit</a> | <a class="action" role="button" onclick="view_log('Interview')">Changes Log</a></td>
                                </tr>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>1012365478</td>
                                    <td>Munirah</td>
                                    <td>5</td>
                                    <td>7.5/10</td>
                                    <td>NA</td>
                                    <td>mshehab</td>
                                    <td> <a class="action" role="button" onclick="open_popup('viewRecord')">View</a> | <a class="action" role="button" onclick="open_popup('editRecord')">Edit</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- ======= View Record ======= -->
<div id="viewRecord" class="modal">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <div class="modal-content animate">
                <span onclick="close_popup('viewRecord')" class="close" title="Close">&times;</span>

                <div class="modal-header-container">
                    <h5>Interview 4528</h5>
                </div>
                <div class="modal-container">
                    <!-- Form -->
                    <form>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-0">
                                    <i class="fas fa-info-circle fa-1x text-gray-300 mr-1"></i>
                                    <strong>Interview for:</strong> APNE - Campaign 2021
                                </p>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-0">
                                    <i class="fas fa-calendar-alt fa-1x text-gray-300 mr-1"></i>
                                    <strong>Interview Date:</strong> January 1, 2022
                                </p>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-0">
                                    <i class="fas fa-user-tie fa-1x text-gray-300 mr-1"></i>
                                    <strong>Interviewer:</strong> Munirah Alshehab
                                </p>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-0">
                                    <i class="fas fa-user fa-1x text-gray-300 mr-1"></i>
                                    <strong>Applicant:</strong> Ahmed
                                </p>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-0">
                                    <i class="fas fa-star fa-1x text-gray-300 mr-1"></i>
                                    <strong>Interview Score:</strong> 7.5/10
                                </p>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-0">
                                    <i class="fas fa-angle-double-right fa-1x text-gray-300 mr-1"></i>
                                    <strong>Arabic language:</strong> 3/5
                                </p>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-0">
                                    <i class="fas fa-angle-double-right fa-1x text-gray-300 mr-1"></i>
                                    <strong>English language:</strong> 3/5
                                </p>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-0">
                                    <i class="fas fa-angle-double-right fa-1x text-gray-300 mr-1"></i>
                                    <strong>Communication skill:</strong> 3/5
                                </p>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-0">
                                    <i class="fas fa-angle-double-right fa-1x text-gray-300 mr-1"></i>
                                    <strong>Physical and psychological health:</strong> 3/5
                                </p>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-0">
                                    <i class="fas fa-angle-double-right fa-1x text-gray-300 mr-1"></i>
                                    <strong>Appearance:</strong> 3/5
                                </p>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-0">
                                    <i class="fas fa-angle-double-right fa-1x text-gray-300 mr-1"></i>
                                    <strong>Job skills:</strong> 3/5
                                </p>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-0">
                                    <i class="fas fa-angle-double-right fa-1x text-gray-300 mr-1"></i>
                                    <strong>Overall acceptance:</strong> 3/5
                                </p>
                            </div>
                        </div>

                        <hr>
                        <h6 class="mt-2">
                            <i class="fas fa-paperclip fa-1x text-gray-300 mr-1"></i> Attachments
                        </h6>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2">
                            <!-- Attachments View -->
                            <table id="" class="attachments_tbl">
                                <tr>
                                    <th style="width:50%">File Description</th>
                                    <th style="width:50%">Action</th>
                                </tr>
                                <tr>
                                    <td>Personal Photo</td>
                                    <td><a href="#">Open</a> | <a href="#">Download</a></td>
                                </tr>
                                <tr>
                                    <td>CV</td>
                                    <td><a href="#">Open</a> | <a href="#">Download</a></td>
                                </tr>
                            </table>
                        </div>

                        <hr>

                        <h6 class="mt-2">
                            <i class="fas fa-pencil-alt fa-1x text-gray-300 mr-1"></i>
                            Remarks
                        </h6>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2">
                            <p class="mb-0">
                                some text.
                            </p>
                        </div>
                        <!-- Buttons -->
                        <div class="row justify-content-center mt-4 mb-3">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-left" type="button" style="width:100%" onclick="close_popup('viewRecord')">
                                    OK
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ======= Edit Record ======= -->
<div id="editRecord" class="modal">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <div class="modal-content animate">
                <span onclick="close_popup('editRecord')" class="close" title="Close">&times;</span>

                <div class="modal-header-container">
                    <h5>Edit Interview Record</h5>
                </div>
                <div class="modal-container">
                    <!-- Form -->
                    <form>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-2">
                                    <i class="fas fa-star fa-1x text-gray-300 mr-1"></i>
                                    <strong>Interview Score:</strong> 7.5/10
                                </p>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-5 mt-0">
                                        <p class="mb-0  d-inline-block">
                                            <i class="fas fa-angle-double-right fa-1x text-gray-300 mr-1"></i>
                                            <strong>Arabic language:</strong>
                                        </p>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-7 mt-0">
                                        <div class="d-inline-block">
                                            <select class="form-control pt-0 pb-0">
                                                <option value="" selected>1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                                <option value="">4</option>
                                                <option value="">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-5 mt-0">
                                        <p class="mb-0  d-inline-block">
                                            <i class="fas fa-angle-double-right fa-1x text-gray-300 mr-1"></i>
                                            <strong>English language:</strong>
                                        </p>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-7 mt-0">
                                        <div class="d-inline-block">
                                            <select class="form-control pt-0 pb-0">
                                                <option value="" selected>1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                                <option value="">4</option>
                                                <option value="">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-5 mt-0">
                                        <p class="mb-0  d-inline-block">
                                            <i class="fas fa-angle-double-right fa-1x text-gray-300 mr-1"></i>
                                            <strong>Communication skill:</strong>
                                        </p>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-7 mt-0">
                                        <div class="d-inline-block">
                                            <select class="form-control pt-0 pb-0">
                                                <option value="" selected>1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                                <option value="">4</option>
                                                <option value="">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-5 mt-0">
                                        <p class="mb-0  d-inline-block">
                                            <i class="fas fa-angle-double-right fa-1x text-gray-300 mr-1"></i>
                                            <strong>Health condition:</strong>
                                        </p>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-7 mt-0">
                                        <div class="d-inline-block">
                                            <select class="form-control pt-0 pb-0">
                                                <option value="" selected>1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                                <option value="">4</option>
                                                <option value="">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-5 mt-0">
                                        <p class="mb-0  d-inline-block">
                                            <i class="fas fa-angle-double-right fa-1x text-gray-300 mr-1"></i>
                                            <strong>Appearance:</strong>
                                        </p>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-7 mt-0">
                                        <div class="d-inline-block">
                                            <select class="form-control pt-0 pb-0">
                                                <option value="" selected>1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                                <option value="">4</option>
                                                <option value="">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-5 mt-0">
                                        <p class="mb-0  d-inline-block">
                                            <i class="fas fa-angle-double-right fa-1x text-gray-300 mr-1"></i>
                                            <strong>Job skills:</strong>
                                        </p>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-7 mt-0">
                                        <div class="d-inline-block">
                                            <select class="form-control pt-0 pb-0">
                                                <option value="" selected>1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                                <option value="">4</option>
                                                <option value="">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-5 mt-0">
                                        <p class="mb-0  d-inline-block">
                                            <i class="fas fa-angle-double-right fa-1x text-gray-300 mr-1"></i>
                                            <strong>Overall acceptance:</strong>
                                        </p>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-7 mt-0">
                                        <div class="d-inline-block">
                                            <select class="form-control pt-0 pb-0">
                                                <option value="" selected>1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                                <option value="">4</option>
                                                <option value="">5</option>
                                                <option value="">Waiting</option>
                                                <option value="">Rejected</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <h6 class="mt-2">
                            <i class="fas fa-paperclip fa-1x text-gray-300 mr-1"></i> Attachments
                            <span class="noselect m-1" style="cursor:pointer;color:#f5494c; font-weight:normal; font-size:9pt" onclick="addInterviewFile_editRes('tbl_attachment_edit')">
                                (Click to Add File - Maximum 5 files)
                            </span>
                        </h6>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            
                            <!-- Attachments View -->
                            <table id="tbl_attachment_edit" class="attachments_tbl">
                                <tr>
                                    <th style="width:50%">File Description</th>
                                    <th style="width:45%">File</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>Personal Photo</td>
                                    <td><a href="#">Open</a></td>
                                    <td>
                                        <button type="button" class="d-sm-inline-block btn btn-sm btn-danger shadow-sm" onclick="deleteRow(this)"><i class="fas fa-trash-alt fa-sm"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>CV</td>
                                    <td><a href="#">Open</a></td>
                                    <td>
                                        <button type="button" class="d-sm-inline-block btn btn-sm btn-danger shadow-sm" onclick="deleteRow(this)"><i class="fas fa-trash-alt fa-sm"></i></button>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <hr>
                        <h6 class="mt-2">
                            <i class="fas fa-pencil-alt fa-1x text-gray-300 mr-1"></i>
                            Remarks
                        </h6>
                        <textarea class="form-control" name="" style="min-height:calc(3.5rem + 2px)"></textarea>

                        <!-- Change justification -->
                        <hr>
                        <h6 class="mt-2"> <i class="fas fa-question-circle fa-1x text-gray-300 mr-1"></i> Justification </h6>
                        <textarea class="form-control" name="" style="min-height:calc(3.5rem + 2px)" onfocusout="vlidateEmpty(this)"></textarea>
                        <div class="invalid-feedback">You have to specify the reason for your changes.</div>

                        <!-- Buttons -->
                        <div class="row justify-content-center mt-3 mb-3">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right" type="button" style="width:100%">
                                    Save
                                </button>
                            </div>

                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-left" type="button" style="width:100%" onclick="close_popup('editRecord')">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    

</script>