
@{
    ViewBag.Title = "English Assessment Responses";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 mb-0 text-gray-700">English Assessment Responses</h1>

        <div class=" d-sm-inline-block">
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
            </a>
            <a class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="/Evaluation/EngAssessmentForm" target="_blank">
                <i class="fas fa-external-link-alt fa-sm text-white-50 mr-1"></i> Form Template
            </a>
        </div>
    </div>



    <div class="row">
        <!-- Tale View -->
        <div id="TableView" style="width: 100%;">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="overflow-x:scroll">
                            <thead>
                                <tr>
                                    <th>Program</th>
                                    <th>Campaign</th>
                                    <th>National ID</th>
                                    <th>Name</th>
                                    <th>Speaking</th>
                                    <th>Reading</th>
                                    <th>OLT</th>
                                    <th>Final Score</th>
                                    <th>Evaluator</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>1012365478</td>
                                    <td>Munirah</td>
                                    <td>15</td>
                                    <td>12</td>
                                    <td>57</td>
                                    <td>89/100</td>
                                    <td>mshehab</td>
                                    <td> <a class="action" role="button" onclick="open_popup('viewRecord')">View</a> | <a class="action" role="button" onclick="open_popup('editRecord')">Edit</a> | <a class="action" role="button" onclick="view_log('English Assessment')">Changes Log</a></td>
                                </tr>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>1012365478</td>
                                    <td>Munirah</td>
                                    <td>15</td>
                                    <td>12</td>
                                    <td>57</td>
                                    <td>89/100</td>
                                    <td>mshehab</td>
                                    <td> <a class="action" role="button" onclick="open_popup('viewRecord')">View</a> | <a class="action" role="button" onclick="open_popup('editRecord')">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>1012365478</td>
                                    <td>Munirah</td>
                                    <td>15</td>
                                    <td>12</td>
                                    <td>57</td>
                                    <td>89/100</td>
                                    <td>mshehab</td>
                                    <td> <a class="action" role="button" onclick="open_popup('viewRecord')">View</a> | <a class="action" role="button" onclick="open_popup('editRecord')">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>1012365478</td>
                                    <td>Munirah</td>
                                    <td>15</td>
                                    <td>12</td>
                                    <td>57</td>
                                    <td>89/100</td>
                                    <td>mshehab</td>
                                    <td> <a class="action" role="button" onclick="open_popup('viewRecord')">View</a> | <a class="action" role="button" onclick="open_popup('editRecord')">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>1012365478</td>
                                    <td>Munirah</td>
                                    <td>15</td>
                                    <td>12</td>
                                    <td>57</td>
                                    <td>89/100</td>
                                    <td>mshehab</td>
                                    <td> <a class="action" role="button" onclick="open_popup('viewRecord')">View</a> | <a class="action" role="button" onclick="open_popup('editRecord')">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>1012365478</td>
                                    <td>Munirah</td>
                                    <td>15</td>
                                    <td>12</td>
                                    <td>57</td>
                                    <td>89/100</td>
                                    <td>mshehab</td>
                                    <td> <a class="action" role="button" onclick="open_popup('viewRecord')">View</a> | <a class="action" role="button" onclick="open_popup('editRecord')">Edit</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= View Record ======= -->
<div id="viewRecord" class="modal">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <div class="modal-content animate">
                <span onclick="close_popup('viewRecord')" class="close" title="Close">&times;</span>

                <div class="modal-header-container">
                    <h5>English Evaluation 4528</h5>
                </div>
                <div class="modal-container">
                    <!-- Form -->
                    <form>
                        <!-- General Info -->
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-0">
                                    <i class="fas fa-info-circle fa-1x text-gray-300 mr-1"></i>
                                    <strong>Evaluation for:</strong> APNE - Campaign 2021
                                </p>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-0">
                                    <i class="fas fa-calendar-alt fa-1x text-gray-300 mr-1"></i>
                                    <strong>Evaluation Date:</strong> January 1, 2022
                                </p>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-0">
                                    <i class="fas fa-user-tie fa-1x text-gray-300 mr-1"></i>
                                    <strong>Evaluator:</strong> Munirah Alshehab
                                </p>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-0">
                                    <i class="fas fa-user fa-1x text-gray-300 mr-1"></i>
                                    <strong>Applicant:</strong> Ahmed
                                </p>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-0">
                                    <i class="fas fa-star fa-1x text-gray-300 mr-1"></i>
                                    <strong>Speaking Score:</strong> 12/15
                                </p>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-0">
                                    <i class="fas fa-star fa-1x text-gray-300 mr-1"></i>
                                    <strong>Reading Score:</strong> 7/12
                                </p>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-0">
                                    <i class="fas fa-star fa-1x text-gray-300 mr-1"></i>
                                    <strong>OLT Score:</strong> 57/100
                                </p>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-0">
                                    <i class="fas fa-user-tie fa-1x text-gray-300 mr-1"></i>
                                    <strong>OLT Uploader:</strong> Munirah Alshehab
                                </p>
                            </div>
                        </div>


                        <!-- Speaking Section -->
                        <hr>
                        <h6> <i class="fas fa-comments fa-1x text-gray-300 mr-1"></i> Speaking Section <span class="text-gray-500 fsize-10" >(0 means weak and 3 means excellent)</span></h6>
                        <div class="row pl-4">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <p class="mb-2">
                                    Question 1: 2/3
                                </p>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <p class="mb-2">
                                    Question 2: 2/3
                                </p>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <p class="mb-2">
                                    Question 3: 2/3
                                </p>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <p class="mb-2">
                                    Question 4: 2/3
                                </p>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <p class="mb-2">
                                    Question 5: 2/3
                                </p>
                            </div>

                        </div>

                        <!-- Reading Section -->
                        <hr>
                        <h6> <i class="fas fa-book fa-1x text-gray-300 mr-1"></i> Reading Section  <span class="text-gray-500 fsize-10">(0 means weak and 4 means excellent)</span></h6>
                        <div class="row pl-4">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <p class="mb-2">
                                    Phrasing: 2/4
                                </p>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <p class="mb-2">
                                   Accuracy: 2/4
                                </p>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <p class="mb-2">
                                    Fluency: 2/4
                                </p>
                            </div>
                        </div>

                        <!-- Buttons -->
                        <div class="row justify-content-center mt-3 mb-3">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-left" type="button" style="width:100%" onclick="close_popup('viewRecord')">
                                    OK
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Edit Record ======= -->
<div id="editRecord" class="modal">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <div class="modal-content animate">
                <span onclick="close_popup('editRecord')" class="close" title="Close">&times;</span>

                <div class="modal-header-container">
                    <h5>Edit Assesment Record</h5>
                </div>
                <div class="modal-container">
                    <!-- Form -->
                    <form>
                        <!-- General Info -->
                        <div class="row">

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-2">
                                    <i class="fas fa-star fa-1x text-gray-300 mr-1"></i>
                                    <strong>Speaking Score:</strong> 12/15
                                </p>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-2">
                                    <i class="fas fa-star fa-1x text-gray-300 mr-1"></i>
                                    <strong>Reading Score:</strong> 7/12
                                </p>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <p class="mb-2 d-inline-block">
                                    <i class="fas fa-star fa-1x text-gray-300 mr-1"></i>
                                    <strong>OLT Score:</strong>
                                </p>
                                <input class="form-control d-inline-block" id="" type="number" onfocusout="vlidateEmpty(this)" style="max-width: 5rem;" />
                            </div>

                        </div>


                        <!-- Speaking Section -->
                        <hr>
                        <h6 class="mt-2"> <i class="fas fa-comments fa-1x text-gray-300 mr-1"></i> Speaking Section <span class="text-gray-500 fsize-10">(0 means weak and 3 means excellent)</span> </h6>
                        <div class="row pl-4">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <p class="mb-2 d-inline-block">
                                    Question 1: 
                                </p>
                                <div class="d-inline-block">
                                    <select class="form-control pt-0 pb-0">
                                        <option value="" selected>0</option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <p class="mb-2 d-inline-block">
                                    Question 2: 
                                </p>
                                <div class="d-inline-block">
                                    <select class="form-control pt-0 pb-0">
                                        <option value="" selected>0</option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <p class="mb-2 d-inline-block">
                                    Question 3: 
                                </p>
                                <div class="d-inline-block">
                                    <select class="form-control pt-0 pb-0">
                                        <option value="" selected>0</option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <p class="mb-2 d-inline-block">
                                    Question 4: 
                                </p>
                                <div class="d-inline-block">
                                    <select class="form-control pt-0 pb-0">
                                        <option value="" selected>0</option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <p class="mb-2 d-inline-block">
                                    Question 5: 
                                </p>
                                <div class="d-inline-block">
                                    <select class="form-control pt-0 pb-0">
                                        <option value="" selected>0</option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <!-- Reading Section -->
                        <hr>
                        <h6 class="mt-2"> <i class="fas fa-book fa-1x text-gray-300 mr-1"></i> Reading Section <span class="text-gray-500 fsize-10">(0 means weak and 4 means excellent)</span> </h6>
                        <div class="row pl-4">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <p class="mb-2 d-inline-block">
                                    Phrasing:
                                </p>
                                <div class="d-inline-block">
                                    <select class="form-control pt-0 pb-0">
                                        <option value="" selected>0</option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <p class="mb-2 d-inline-block">
                                    Accuracy:
                                </p>
                                <div class="d-inline-block">
                                    <select class="form-control pt-0 pb-0">
                                        <option value="" selected>0</option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <p class="mb-2 d-inline-block">
                                   Fluency:
                                </p>
                                <div class="d-inline-block">
                                    <select class="form-control pt-0 pb-0">
                                        <option value="" selected>0</option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Change justification -->
                        <hr>
                        <h6 class="mt-2"> <i class="fas fa-question-circle fa-1x text-gray-300 mr-1"></i> Justification </h6>
                        <textarea class="form-control" name="" style="min-height:calc(3.5rem + 2px)" onfocusout="vlidateEmpty(this)"></textarea>
                        <div class="invalid-feedback">You have to specify the reason for your changes.</div>

                        <!-- Buttons -->
                        <div class="row justify-content-center mt-3 mb-3">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right" type="button" style="width:100%">
                                    Save
                                </button>
                            </div>

                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-left" type="button" style="width:100%" onclick="close_popup('editRecord')">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>