
@{
    ViewBag.Title = "Registration Responses ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 mb-0 text-gray-700">Registration Responses</h1>
        <div class=" d-sm-inline-block">
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
            </a>
            <a class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="/Registration/Index" target="_blank">
                <i class="fas fa-external-link-alt fa-sm text-white-50 mr-1"></i> Form Template
            </a>
        </div>
    </div>



    <div class="row">
        <!-- Tale View -->
        <div id="TableView" style="width: 100%;">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Program</th>
                                    <th>Campaign</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Blood</th>
                                    <th>Age</th>
                                    <th>Address</th>
                                    <th>Qyias</th>
                                    <th>High School</th>
                                    <th>Application Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>Munirah</td>
                                    <td>Female</td>
                                    <td>A+</td>
                                    <td>24</td>
                                    <td>Ahsa</td>
                                    <td>86</td>
                                    <td>99</td>
                                    <td class="text-xs font-weight-bold text-orange">Qualified</td>
                                </tr>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>Mohamed</td>
                                    <td>Male</td>
                                    <td>AB+</td>
                                    <td>26</td>
                                    <td>Dmmam</td>
                                    <td>70</td>
                                    <td>89</td>
                                    <td class="text-xs font-weight-bold text-info">Potential</td>

                                </tr>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>Mohamed</td>
                                    <td>Male</td>
                                    <td>AB+</td>
                                    <td>26</td>
                                    <td>Dmmam</td>
                                    <td>70</td>
                                    <td>89</td>
                                    <td class="text-xs font-weight-bold text-orange">Qualified</td>

                                </tr>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>Monther</td>
                                    <td>Male</td>
                                    <td>O+</td>
                                    <td>23</td>
                                    <td>Dmmam</td>
                                    <td>70</td>
                                    <td>89</td>
                                    <td class="text-xs font-weight-bold text-danger">Rejected</td>

                                </tr>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>Khaled</td>
                                    <td>Male</td>
                                    <td>B+</td>
                                    <td>23</td>
                                    <td>Ahsa</td>
                                    <td>66</td>
                                    <td>78</td>
                                    <td class="text-xs font-weight-bold text-orange">Qualified</td>

                                </tr>
                                <tr>
                                    <td>APNE</td>
                                    <td>Campaign 2021</td>
                                    <td>Hamad</td>
                                    <td>Male</td>
                                    <td>O+</td>
                                    <td>18</td>
                                    <td>Ahsa</td>
                                    <td>70</td>
                                    <td>89</td>
                                    <td class="text-xs font-weight-bold text-orange">Qualified</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

