
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 mb-0 text-gray-700">Settings</h1>
    </div>

    <!-- Settings -->

    <div class="row">
        <!-- Registration Success -->
        <div class="col-lg-4 col-md-6">
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 ">
                        <i class="fas fa-bell fa-x mr-2 text-gray-400"></i>
                        Registration Success
                    </h6>
                </div>
                <!-- Card Body -->
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-12">
                            <table class="w-100">
                                <tr>
                                    <td class="w-75">
                                        Notify via Email
                                    </td>
                                    <td class="w-25 text-right">
                                        <label class="switch">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-75">
                                        Notify via SMS
                                    </td>
                                    <td class="w-25 text-right">
                                        <label class="switch">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Registration Updated -->
        <div class="col-lg-4 col-md-6">
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 ">
                        <i class="fas fa-bell fa-x mr-2 text-gray-400"></i>
                        Registration Updated
                    </h6>
                </div>
                <!-- Card Body -->
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-12">
                            <table class="w-100">
                                <tr>
                                    <td class="w-75">
                                        Notify via Email
                                    </td>
                                    <td class="w-25 text-right">
                                        <label class="switch">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-75">
                                        Notify via SMS
                                    </td>
                                    <td class="w-25 text-right">
                                        <label class="switch">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Meeting Invitation -->
        <div class="col-lg-4 col-md-6">
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 ">
                        <i class="fas fa-bell fa-x mr-2 text-gray-400"></i>
                        Meeting Invitation
                    </h6>
                </div>
                <!-- Card Body -->
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-12">
                            <table class="w-100">
                                <tr>
                                    <td class="w-75">
                                        Notify via Email
                                    </td>
                                    <td class="w-25 text-right">
                                        <label class="switch">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-75">
                                        Notify via SMS
                                    </td>
                                    <td class="w-25 text-right">
                                        <label class="switch">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Accept Form Submitted -->
        <div class="col-lg-4 col-md-6">
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 ">
                        <i class="fas fa-bell fa-x mr-2 text-gray-400"></i>
                        Accept Form Submitted
                    </h6>
                </div>
                <!-- Card Body -->
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-12">
                            <table class="w-100">
                                <tr>
                                    <td class="w-75">
                                        Notify via Email
                                    </td>
                                    <td class="w-25 text-right">
                                        <label class="switch">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-75">
                                        Notify via SMS
                                    </td>
                                    <td class="w-25 text-right">
                                        <label class="switch">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Applicant One-Time Password -->
        <div class="col-lg-4 col-md-6">
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 ">
                        <i class="fas fa-bell fa-x mr-2 text-gray-400"></i>
                        Applicant One-Time Password
                    </h6>
                </div>
                <!-- Card Body -->
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-12">
                            <table class="w-100">
                                <tr>
                                    <td class="w-75">
                                        Notify via Email
                                    </td>
                                    <td class="w-25 text-right">
                                        <label class="switch">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-75">
                                        Notify via SMS
                                    </td>
                                    <td class="w-25 text-right">
                                        <label class="switch">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
<!-- /.container-fluid -->
