
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 mb-0 text-gray-700">Settings</h1>
    </div>


    <!-- Settings -->
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-9 col-sm-10">
            <table class="w-100">
                <tr>
                    <td class="w-75">
                        Email when registration submited
                    </td>
                    <td class="w-25">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class="w-75">
                        SMS when registration submited
                    </td>
                    <td class="w-25">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class="w-75">
                        Email when registration updated
                    </td>
                    <td class="w-25">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class="w-75">
                        SMS when registration updated
                    </td>
                    <td class="w-25">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class="w-75">
                        Email for meeting invitation
                    </td>
                    <td class="w-25">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class="w-75">
                        SMS for meeting invitation
                    </td>
                    <td class="w-25">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class="w-75">
                        Email when accept form submitted
                    </td>
                    <td class="w-25">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class="w-75">
                        SMS when accept form submitted
                    </td>
                    <td class="w-25">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
