
@{
    ViewBag.Title = "Message Templates";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 mb-0 text-gray-700">Message Templates</h1>
    </div>

    <div class="row">
        <!-- Registration Success -->
        <div class="col-lg-4 col-md-6">
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 ">
                        <i class="fas fa-envelope-open-text fa-x mr-2 text-gray-400"></i>
                        Registration Success
                    </h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" role="button" onclick="open_popup('edit_temp')">Edit</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-12">
                            <p class="mb-1">
                                <i class="fas fa-align-center fa-1x text-gray-300 mr-1"></i>
                                Text Alignment:
                                <span class="ml-1">Left</span>
                            </p>
                            <p class="mb-1">
                                <i class="fas fa-pen fa-1x text-gray-300 mr-1"></i>
                                Title:
                                <span class="ml-1">Registration Success</span>
                            </p>
                            <p class="mb-1">
                                <i class="fas fa-comment fa-1x text-gray-300 mr-1"></i>
                                Body:
                            </p>
                            <textarea class="form-control fsize-10" style="height:100px" name="temp_body" disabled>
Dear applicant,
your application has been recieved successfully

best wishes

NITI Recruitment Team
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Registration Updated -->
        <div class="col-lg-4 col-md-6">
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 ">
                        <i class="fas fa-envelope-open-text fa-x mr-2 text-gray-400"></i>
                        Registration Update
                    </h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" role="button" onclick="open_popup('edit_temp')">Edit</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-12">
                            <p class="mb-1">
                                <i class="fas fa-align-center fa-1x text-gray-300 mr-1"></i>
                                Text Alignment:
                                <span class="ml-1">Left</span>
                            </p>
                            <p class="mb-1">
                                <i class="fas fa-pen fa-1x text-gray-300 mr-1"></i>
                                Title:
                                <span class="ml-1">Registration Update</span>
                            </p>
                            <p class="mb-1">
                                <i class="fas fa-comment fa-1x text-gray-300 mr-1"></i>
                                Body:
                            </p>
                            <textarea class="form-control fsize-10" style="height:100px" name="temp_body" disabled>
Dear applicant,
your application has been updated successfully

best wishes

NITI Recruitment Team
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Meeting Invitation -->
        <div class="col-lg-4 col-md-6">
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 ">
                        <i class="fas fa-envelope-open-text fa-x mr-2 text-gray-400"></i>
                        Meeting Invitation
                    </h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" role="button" onclick="open_popup('edit_temp')">Edit</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-12">
                            <p class="mb-1">
                                <i class="fas fa-align-center fa-1x text-gray-300 mr-1"></i>
                                Text Alignment:
                                <span class="ml-1">Right</span>
                            </p>
                            <p class="mb-1">
                                <i class="fas fa-pen fa-1x text-gray-300 mr-1"></i>
                                Title:
                                <span class="ml-1">دعوة للقاء تعريفي </span>
                            </p>
                            <p class="mb-1">
                                <i class="fas fa-comment fa-1x text-gray-300 mr-1"></i>
                                Body:
                            </p>
                            <textarea class="form-control text-right fsize-10" style="height:100px" name="temp_body" disabled>
                                عزيزي المتقدم
                                ندعوك لحضور اللقاء التعريفي بالمعهد الوطني للتدريب الصناعي وذلك عن طريق تطبيق التيمز
                                تفاصيل اللقاء:
                                التاريخ: @@date
                                الوقت: @@time
                                الرابط: @@link
                                مع اطيب التمنيات بالتوفيق
                                شؤون المتدربين
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Accept form recieved -->
        <div class="col-lg-4 col-md-6">
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 ">
                        <i class="fas fa-envelope-open-text fa-x mr-2 text-gray-400"></i>
                        Acceptance Response Recieved
                    </h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" role="button" onclick="open_popup('edit_temp')">Edit</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-12">
                            <p class="mb-1">
                                <i class="fas fa-align-center fa-1x text-gray-300 mr-1"></i>
                                Text Alignment:
                                <span class="ml-1">Left</span>
                            </p>
                            <p class="mb-1">
                                <i class="fas fa-pen fa-1x text-gray-300 mr-1"></i>
                                Title:
                                <span class="ml-1">Registration Update</span>
                            </p>
                            <p class="mb-1">
                                <i class="fas fa-comment fa-1x text-gray-300 mr-1"></i>
                                Body:
                            </p>
                            <textarea class="form-control fsize-10" style="height:100px" name="temp_body" disabled>
Dear applicant,
your response to acceptance form have been recieved successfully

best wishes

NITI Recruitment Team
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- One-Time Password -->
        <div class="col-lg-4 col-md-6">
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 ">
                        <i class="fas fa-envelope-open-text fa-x mr-2 text-gray-400"></i>
                        One-Time Password
                    </h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" role="button" onclick="open_popup('edit_temp')">Edit</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-12">
                            <p class="mb-1">
                                <i class="fas fa-align-center fa-1x text-gray-300 mr-1"></i>
                                Text Alignment:
                                <span class="ml-1">Right</span>
                            </p>
                            <p class="mb-1">
                                <i class="fas fa-pen fa-1x text-gray-300 mr-1"></i>
                                Title:
                                <span class="ml-1">كلمة مرور مؤقتة </span>
                            </p>
                            <p class="mb-1">
                                <i class="fas fa-comment fa-1x text-gray-300 mr-1"></i>
                                Body:
                            </p>
                            <textarea class="form-control text-right fsize-10" style="height:100px" name="temp_body" disabled>
                                عزيزي المتقدم
الرجاء استخدام كلمة المرور التالية للدخول على النظام
@@password
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- /.container-fluid -->
<!-- ======= Edit Program ======= -->
<div id="edit_temp" class="modal">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <div class="modal-content animate">
                <span onclick="close_popup('edit_temp')" class="close" title="Close">&times;</span>
                <div class="modal-header-container">
                    <h5>Edit Template</h5>
                </div>
                <div class="modal-container">
                    <!-- Form -->
                    <form>
                        <!-- Language -->
                        <div class="form-floating mb-3">
                            <select class="form-control pt-0 pb-0" onfocusout="vlidateEmpty(this)">
                                <option value="" selected disabled>Message Alignment</option>
                                <option value="left">Left Alignment</option>
                                <option value="right">Right Alignment</option>
                            </select>
                            <div class="invalid-feedback">Required</div>
                        </div>

                        <!-- Title -->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="temp_title" type="text" placeholder="Message Title" maxlength="50" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                            <label for="temp_title">Message Title</label>
                            <div class="invalid-feedback">Required</div>
                        </div>

                        <!-- Body -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control h-25" name="temp_body" placeholder="Message Body" onfocusout="vlidateEmpty(this)"></textarea>
                            <label for="temp_title">Message Body</label>
                            <div class="invalid-feedback">Required</div>
                        </div>


                        <!-- Buttons -->
                        <div class="row justify-content-center mt-3 mb-3">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right w-100" type="button">
                                    Save
                                </button>
                            </div>

                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2">
                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-left w-100" type="button" onclick="close_popup('edit_temp')">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
