
@{
    ViewBag.Title = "Interview Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Masthead-->
<header class="masthead2" style="height: min-content">
    <div class="container px-4 px-lg-5 h-50">
        <div class="row gx-4 gx-lg-5 h-50 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">المعهد الوطني للتدريب الصناعي</h1>
                <h2 class="text-white">- اسم البرنامج -</h2>
                <h5 class="text-white">- نموذج المقابلة الشخصية -</h5>
                <hr class="divider" />
            </div>
        </div>
    </div>
</header>

<!-- Body -->
<section class="page-section bg-light" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
            </div>
        </div>

        <!-- Interview Form -->
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-8 col-md-10">
                <form id="contactForm">

                    @*<p>رقم الهوية الوطنية <span style="color:#f5494c">*</span> </p>*@
                    <!-- NID input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" style="border-radius:10rem" id="nid" type="number" placeholder="رقم الهوية الوطنية" maxlength="10" oninput="inputMaxLength(this)" onfocusout="vlidateNID(this,'ar')" />
                        <label for="NID">رقم الهوية الوطنية</label>
                        <div id="invalid-nid" class="invalid-feedback mr-3">هذا الحقل مطلوب</div>
                    </div>
                    <!-- Validate Applicant Info-->
                    <div class="row gx-4 gx-lg-5 m-1 mb-4" style="position: relative;">
                        <div class="col-lg-12 p-4" style="box-shadow: 0 0 29px 0 rgb(0 0 0 / 8%); border-radius:25px;background-color:#fff;">
                            <div class="ar-text">
                                <div class="col-xl-12 noselect">
                                    <!-- Check applicant name -->
                                    <div id="check_ar_name">
                                        <!-- data-othericon used to send the id of the other icon to turn it off when the current icon is on -->
                                        <!-- data-editid used to send the id of div tag for edit purpose -->
                                        <span id="correct_name" class="d-inline-block align-middle correct-icon correct-active" data-othericon="incorrect_name" data-editid="update_ar_name">
                                            <i class="bx bx-check-circle"></i>
                                        </span>
                                        <span id="incorrect_name" class="d-inline-block align-middle incorrect-icon" data-othericon="correct_name" data-editid="update_ar_name">
                                            <i class="bx bx-x-circle"></i>
                                        </span>
                                        <span class="d-inline-block align-middle mb-1">
                                            الاسم الرباعي (عربي):
                                        </span>
                                        <span class="d-inline-block align-middle mb-1">
                                            منيرة أحمد سالم الشهاب
                                        </span>
                                    </div>

                                    <!-- Edit applicant name if need -->
                                    <div id="update_ar_name" class="row" style="display:none">
                                        <div class="col-xl-3 col-lg-6 col-md-6 p-1">
                                            <!-- First Name input-->
                                            <div class="form-floating mb-1">
                                                <input class="form-control" id="arNameF" type="text" placeholder="الاسم الأول (عربي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                                <label for="arNameF">الاسم الأول (عربي)</label>
                                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-6 col-md-6 p-1">
                                            <!-- Second Name input-->
                                            <div class="form-floating mb-1">
                                                <input class="form-control" id="arNameS" type="text" placeholder="الاسم الثاني (عربي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                                <label for="arNameS">الاسم الثاني (عربي)</label>
                                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-6 col-md-6 p-1">
                                            <!-- Third Name input-->
                                            <div class="form-floating mb-1">
                                                <input class="form-control" id="arNameT" type="text" placeholder="الاسم الثالث (عربي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                                <label for="arNameT">الاسم الثالث (عربي)</label>
                                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-6 col-md-6 p-1">
                                            <!-- Last Name input-->
                                            <div class="form-floating mb-1">
                                                <input class="form-control" id="arNameL" type="text" placeholder="اسم العائلة (عربي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                                <label for="arNameL">اسم العائلة (عربي)</label>
                                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Check applicant age -->
                                    <div id="check_age">
                                        <!-- data-othericon used to send the id of the other icon to turn it off when the current icon is on -->
                                        <!-- data-editid used to send the id of div tag for edit purpose -->
                                        <span id="correct_age" class="d-inline-block align-middle correct-icon correct-active" data-othericon="incorrect_age" data-editid="update_age">
                                            <i class="bx bx-check-circle"></i>
                                        </span>
                                        <span id="incorrect_age" class="d-inline-block align-middle incorrect-icon" data-othericon="correct_age" data-editid="update_age">
                                            <i class="bx bx-x-circle"></i>
                                        </span>
                                        <span class="d-inline-block align-middle mb-1">
                                            العمر:
                                        </span>
                                        <span class="d-inline-block align-middle mb-1">
                                            24
                                        </span>
                                    </div>

                                    <!-- Edit applicant birthdate if need -->
                                    <div id="update_age" class="row" style="display:none">
                                        <div class="col-xl-6 col-lg-6 col-md-6 p-1">
                                            <!-- Hijri-->
                                            <div class="form-floating mb-1">
                                                <input class="form-control hijri-date-default" id="HDate" type="text" placeholder="تاريخ الميلاد (هجري)" onpaste="validateDate(this,'Hijri','invalid-hijri')" onfocusout="validateDate(this,'Hijri','invalid-hijri')" />
                                                <label for="HDate">تاريخ الميلاد (هجري)</label>
                                                <div id="invalid-hijri" class="invalid-feedback">هذا الحقل مطلوب</div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 p-1">
                                            <!-- Gorgian -->
                                            <div class="form-floating mb-1">
                                                <input class="form-control gregorian-date-default" id="GDate" type="text" placeholder="تاريخ الميلاد (ميلادي)" onfocusout="validateDate(this,'Gregorian','invalid-gregorian')" />
                                                <label for="GDate">تاريخ الميلاد (ميلادي)</label>
                                                <div id="invalid-gregorian" class="invalid-feedback">هذا الحقل مطلوب</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Check applicant phone num -->
                                    <div id="check_phone">
                                        <!-- data-othericon used to send the id of the other icon to turn it off when the current icon is on -->
                                        <!-- data-editid used to send the id of div tag for edit purpose -->
                                        <span id="correct_phone" class="d-inline-block align-middle correct-icon correct-active" data-othericon="incorrect_phone" data-editid="update_phone">
                                            <i class="bx bx-check-circle"></i>
                                        </span>
                                        <span id="incorrect_phone" class="d-inline-block align-middle incorrect-icon" data-othericon="correct_phone" data-editid="update_phone">
                                            <i class="bx bx-x-circle"></i>
                                        </span>
                                        <span class="d-inline-block align-middle mb-1">
                                            رقم التواصل:
                                        </span>
                                        <span class="d-inline-block align-middle mb-1">
                                            966540213902
                                        </span>
                                    </div>

                                    <!-- Edit applicant phone num if need -->
                                    <div id="update_phone" style="display:none">
                                        <div class="form-floating mb-1">
                                            <input class="form-control phoneNumber" style="direction:ltr; text-align:right" type="tel" placeholder="(966) 55-555-5555" maxlength="17" oninput="inputMaxLength(this)" onfocusout="validatePhoneNumber(this,'invalid-phone1')" />
                                            <label for="phone">هاتف المتقدم</label>
                                            <div id="invalid-phone1" class="invalid-feedback">هذا الحقل مطلوب</div>
                                        </div>
                                    </div>


                                    <!-- Check applicant scores -->
                                    <div id="check_scores">
                                        <!-- data-othericon used to send the id of the other icon to turn it off when the current icon is on -->
                                        <!-- data-editid used to send the id of div tag for edit purpose -->
                                        <span id="correct_scores" class="d-inline-block align-middle correct-icon correct-active" data-othericon="incorrect_scores" data-editid="update_scores">
                                            <i class="bx bx-check-circle"></i>
                                        </span>
                                        <span id="incorrect_scores" class="d-inline-block align-middle incorrect-icon" data-othericon="correct_scores" data-editid="update_scores">
                                            <i class="bx bx-x-circle"></i>
                                        </span>
                                        <span class="d-inline-block align-middle mb-1">
                                            درجة الثانوية:
                                        </span>
                                        <span class="d-inline-block align-middle mb-1">
                                            76
                                        </span>
                                        <span class="d-inline-block align-middle mb-1" style="color:#f5494c">
                                            |
                                        </span>
                                        <span class="d-inline-block align-middle mb-1">
                                            درجة القدرات العامة:
                                        </span>
                                        <span class="d-inline-block align-middle mb-1">
                                            55
                                        </span>
                                    </div>

                                    <!-- Edit applicant birthdate if need -->
                                    <div id="update_scores" class="row" style="display:none">
                                        <div class="col-xl-6 col-lg-6 col-md-6 p-1">
                                            <!-- Text -->
                                            <div class="form-floating mb-1">
                                                <input class="form-control" id="highgrade" type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="النسبة المئوية للثانوية العامة" maxlength="3" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                                <label for="highgrade">النسبة المئوية للثانوية العامة</label>
                                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 p-1">
                                            <div class="form-floating mb-1">
                                                <input class="form-control" id="qiysgrade" type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="نسبة القدرات (قياس)" maxlength="3" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                                <label for="qiysgrade">نسبة القدرات (قياس)</label>
                                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="m-3">درجة التقييم <span style="color:#f5494c">(1 تعني ضعيف و 5 تعني ممتاز)</span> </p>

                    <!-- AR Lang -->
                    <div class="m-3 mt-3">
                        <p>اللغة العربية <span style="color:#f5494c">*</span></p>

                        <label class="mycontainer">
                            1
                            <input type="radio" checked="checked" name="ar_lang" value="1">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            2
                            <input type="radio" name="ar_lang" value="2">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            3
                            <input type="radio" name="ar_lang" value="3">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            4
                            <input type="radio" name="ar_lang" value="4">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            5
                            <input type="radio" name="ar_lang" value="5">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <!-- Eng Lang -->
                    <div class="m-3 mt-5">
                        <p>اللغة الانجليزية <span style="color:#f5494c">*</span></p>

                        <label class="mycontainer">
                            1
                            <input type="radio" checked="checked" name="eng_lang" value="1">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            2
                            <input type="radio" name="eng_lang" value="2">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            3
                            <input type="radio" name="eng_lang" value="3">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            4
                            <input type="radio" name="eng_lang" value="4">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            5
                            <input type="radio" name="eng_lang" value="5">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <!-- Communication Skill -->
                    <div class="m-3 mt-5">
                        <p>مهارة التواصل <span style="color:#f5494c">*</span></p>

                        <label class="mycontainer">
                            1
                            <input type="radio" checked="checked" name="cominu_skill" value="1">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            2
                            <input type="radio" name="cominu_skill" value="2">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            3
                            <input type="radio" name="cominu_skill" value="3">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            4
                            <input type="radio" name="cominu_skill" value="4">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            5
                            <input type="radio" name="cominu_skill" value="5">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <!-- Health Condition -->
                    <div class="m-3 mt-5">
                        <p>السلامة الجسدية والنفسية <span style="color:#f5494c">*</span></p>

                        <label class="mycontainer">
                            1
                            <input type="radio" checked="checked" name="helth" value="1">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            2
                            <input type="radio" name="helth" value="2">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            3
                            <input type="radio" name="helth" value="3">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            4
                            <input type="radio" name="helth" value="4">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            5
                            <input type="radio" name="helth" value="5">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <!-- Style -->
                    <div class="m-3 mt-5">
                        <p>المظهر الخارجي <span style="color:#f5494c">*</span></p>

                        <label class="mycontainer">
                            1
                            <input type="radio" checked="checked" name="style" value="1">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            2
                            <input type="radio" name="style" value="2">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            3
                            <input type="radio" name="style" value="3">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            4
                            <input type="radio" name="style" value="4">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            5
                            <input type="radio" name="style" value="5">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <!-- Jop Skill -->
                    <div class="m-3 mt-5">
                        <p>المهارات الوظيفية <span style="color:#f5494c">*</span></p>

                        <label class="mycontainer">
                            1
                            <input type="radio" checked="checked" name="job_skill" value="1">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            2
                            <input type="radio" name="job_skill" value="2">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            3
                            <input type="radio" name="job_skill" value="3">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            4
                            <input type="radio" name="job_skill" value="4">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            5
                            <input type="radio" name="job_skill" value="5">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <!-- Accept/Reject -->
                    <div class="m-3 mt-5">
                        <p>المقبول أو المرفوض (من وجهة نظرك) <span style="color:#f5494c">*</span></p>

                        <label class="mycontainer">
                            1
                            <input type="radio" checked="checked" name="acceptance" value="1">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            2
                            <input type="radio" name="acceptance" value="2">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            3
                            <input type="radio" name="acceptance" value="3">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            4
                            <input type="radio" name="acceptance" value="4">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            5
                            <input type="radio" name="acceptance" value="5">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            إنتظار
                            <input type="radio" name="acceptance" value="5">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer">
                            مرفوض
                            <input type="radio" name="acceptance" value="5">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <!-- Upload -->
                    <p class="m-3 mt-5">مرفقات اضافية <span class="m-2" onclick="addFile('interview_files_table')" style="cursor:pointer;color:#f5494c; text-decoration:underline">(اضغط لإضافة مرفق آخر)</span></p>
                    <table border="0" class="text-center" id="interview_files_table" style="width:100%">
                        <tbody>
                            <tr>
                                <td style="width: 100%;">
                                    <div class="form-floating" id="upload_form">
                                        <input class="form-control upload_input" style="border-radius: 10rem" id="file_certi_name" placeholder="صورة من الشهادة" disabled />
                                        <button type="button" class="upload_btn" style="border-radius: 10rem" onclick="getFile('file_certi')">
                                            <i class="bx bx-upload" style="font-size: 24pt; padding-top: 5px; "></i>
                                        </button>
                                        <label>ارفاق ملف...</label>
                                        <div id="invalid-nid" class="invalid-feedback mr-3">هذا الحقل مطلوب</div>
                                        <input type="file" id="file_certi" style="display: none;" accept="image/*;capture=camera" onchange="importFile('file_certi','file_certi_name')" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Remarks -->
                    <div class="form-floating mb-3 mt-3">
                        <textarea class="form-control" id="remarks" placeholder="ملاحظات" style="height:100px; border-radius:25px"></textarea>
                        <label for="remarks">ملاحظات</label>
                    </div>
                    <!-- Submit Button-->
                    <div class="text-center">
                        @*<button class="btn btn-primary btn-xl mt-3" id="submitButton" type="button">ارسال التقييم</button>*@
                        <a class="btn btn-primary btn-xl mt-3" id="submitButton" href="/Evaluation/ResponsePageAr"> ارسال التقييم</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
