
@{
    ViewBag.Title = "ResponsePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Masthead-->
<header class="masthead2" style="height: min-content">
    <div class="container px-4 px-lg-5 h-50">
        <div class="row gx-4 gx-lg-5 h-50 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">المعهد الوطني للتدريب الصناعي</h1>
                <h2 class="text-white font-weight-bold">- اسم البرنامج -</h2>
                <hr class="divider" />
            </div>
        </div>
    </div>
</header>

<!-- Body -->
<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">

                <h4 class="mt-0 mb-5" style="font-family: Calibri;">تم ارسال تقييم المتقدمة منيرة أحمد الشهاب بنجاح!</h4>

            </div>
        </div>

        <div class="d-flex justify-content-center">
                <a class="btn btn-primary btn-xl m-2" href="/Evaluation/InterviewForm">نموذج المقابلة الشخصية</a>
                <a class="btn btn-primary btn-xl m-2" href="/Evaluation/EngAssessmentForm">نموذج تقييم مستوى اللغة</a>
        </div>

    </div>
</section>

