@{
    ViewBag.Title = "NITI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <!-- Masthead-->
    <header class="masthead" style="height: min-content">
        <div class="container px-4 px-lg-5 h-50">
            <div class="row gx-4 gx-lg-5 h-50 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">المعهد الوطني للتدريب الصناعي</h1>
                    <h2 class="text-white font-weight-bold">- برنامج كوادر السلامة والصحة المهنية -</h2>
                    <hr class="divider" />
                </div>
            </div>
        </div>
    </header>

    <!-- Body -->
    <section class="page-section" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0" style="font-family: Calibri;">التقديم على برنامج كوادر السلامة والصحة المهنية  في المعهد الوطني للتدريب الصناعي (NITI)</h2>
                    <hr class="divider" />
                </div>
            </div>

            <!-- Terms an Conditions -->
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 bg-light" style="box-shadow: 0 0 29px 0 rgb(0 0 0 / 11%); padding-top:10px">
                    <div class="ar-text">
                        <h3 class="h4 mb-2">الشروط والأحكام</h3>
                        <p class="text-muted">
                            1. أن يكون المتقدم سعودي أو من أم سعودية. <br />
                            2. أن يكون المتقدم خريج المرحلة الثانوية العامة خلال الخمس سنوات الماضية. <br />
                            3. إكمال المتقدم اختبار القدرات العامة الذي يعقده المركز الوطني للقياس والتقويم في التعليم العالي.
                        </p>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <br />
            <!-- Required Files -->
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 bg-light" style="box-shadow: 0 0 29px 0 rgb(0 0 0 / 11%);  padding-top:10px">
                    <div class="ar-text">
                        <h3 class="h4 mb-2">المستندات المطلوبة</h3>
                        <p class="text-muted">
                            سوف يطلب من المتقدمين احضار المرفقات أدناه لإتمام عملية التسجيل والمصادقة على صحة المعلومات:<br />
                            1. صورة عن بطاقة الهوية الوطنية.<br />
                            2. صورة عن جواز السفر أو رخصة القيادة.<br />
                            3. صورة عن شهادة الثانوية العامة.<br />
                            4. صورة عن درجة القدرات (قياس).<br />
                            5. صورة عن شهادة (الدبلوم/ البكالوريوس) "إن وجدت".<br />
                        </p>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <br />
            <div class="text-center"><button class="btn btn-primary btn-xl" id="submitButton" type="button" onclick="window.open('@Url.Action("RegistrationForm" , "Home", new { target="_parent" })')" style=" padding: 1rem 2rem; font-size: 1rem;">بدء التقديم <</button></div>

        </div>
    </section>
    
<script>
   // document.getElementById("name").style.borderColor = '#de4547';
</script>