@{
    ViewBag.Title = "Registration Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Masthead-->
<header class="masthead" style="height: min-content">
    <div class="container px-4 px-lg-5 h-50">
        <div class="row gx-4 gx-lg-5 h-50 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">المعهد الوطني للتدريب الصناعي</h1>
                <h2 class="text-white font-weight-bold">- برنامج كوادر السلامة والصحة المهنية -</h2>
                <hr class="divider" />
            </div>
        </div>
    </div>
</header>

<!-- Body -->
<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0" style="font-family: Calibri; direction:rtl ">التقديم على برنامج كوادر السلامة والصحة المهنية  في المعهد الوطني للتدريب الصناعي (NITI)</h2>
                <hr class="divider" />
            </div>
        </div>

        <!-- Registration Form -->
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5" style="direction:rtl">
            <div class="col-lg-8">
                <form id="contactForm">

                    <p>رقم الهوية الوطنية <span style="color:#f5494c">*</span> </p>
                    <!-- NID input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="nid" type="number" placeholder="رقم الهوية الوطنية" maxlength="10" oninput="inputMaxLength(this)" onfocusout="vlidateNID(this)" />
                        <label for="NID">رقم الهوية الوطنية</label>
                        <div id="invalid-nid" class="invalid-feedback">هذا الحقل مطلوب</div>
                    </div>

                    <p>الرجاء كتابة الاسم كما هو مكتوب في جواز السفر او الهوية الوطنية <span style="color:#f5494c">*</span> </p>
                    <!-- English Name input-->
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 ">
                            <!-- First Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="enNameF" type="text" placeholder="الاسم الأول (انجليزي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                <label for="enNameF">الاسم الأول (انجليزي)</label>
                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 ">
                            <!-- Second Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="enNameS" type="text" placeholder="الاسم الثاني (انجليزي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                <label for="enNameS">الاسم الثاني (انجليزي)</label>
                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 ">
                            <!-- Third Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="enNameT" type="text" placeholder="الاسم الثالث (انجليزي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                <label for="enNameT">الاسم الثالث (انجليزي)</label>
                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 ">
                            <!-- Last Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="enNameL" type="text" placeholder="اسم العائلة (انجليزي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                <label for="enNameL">اسم العائلة (انجليزي)</label>
                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                            </div>
                        </div>
                    </div>

                    <!-- Arabic Name input-->
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 ">
                            <!-- First Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="arNameF" type="text" placeholder="الاسم الأول (عربي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                <label for="arNameF">الاسم الأول (عربي)</label>
                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 ">
                            <!-- Second Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="arNameS" type="text" placeholder="الاسم الثاني (عربي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                <label for="arNameS">الاسم الثاني (عربي)</label>
                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 ">
                            <!-- Third Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="arNameT" type="text" placeholder="الاسم الثالث (عربي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                <label for="arNameT">الاسم الثالث (عربي)</label>
                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 ">
                            <!-- Last Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="arNameL" type="text" placeholder="اسم العائلة (عربي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                <label for="arNameL">اسم العائلة (عربي)</label>
                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                            </div>
                        </div>
                    </div>

                    <p>البريد الالكتروني <span style="color:#f5494c">*</span> </p>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com" onfocusout="validateEmail(this);" />
                        <label for="email">البريد الالكتروني</label>
                        <div id="invalid-email" class="invalid-feedback">هذا الحقل مطلوب</div>

                    </div>



                    <!-- Gender input-->
                    <div style="display:inline-block; direction:rtl">
                        <p>الجنس<span style="color:#f5494c">*</span></p>

                        <label class="mycontainer" style="float:right;">
                            ذكر
                            <input type="radio" checked="checked" name="gender" onclick="handleClick(this);" value="">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer" style="float:right">
                            انثى
                            <input type="radio" name="gender" onclick="handleClick(this);" value="">
                            <span class="checkmark"></span>
                        </label>
                    </div>


                    <!-- Birth date input-->
                    <p>تاريخ الميلاد بالسنة الهجرية أو الميلادية <span style="color:#f5494c">*</span></p>
                    <div class="row">
                        <div class="col-xl-6">
                            <!-- Hijri-->
                            <div class="form-floating mb-3">
                                <input class="form-control hijri-date-default" id="HDate" type="text" placeholder="تاريخ الميلاد (هجري)" onpaste="validateDate(this,'Hijri','invalid-hijri')" onfocusout="validateDate(this,'Hijri','invalid-hijri')" />
                                <label for="HDate">تاريخ الميلاد (هجري)</label>
                                <div id="invalid-hijri" class="invalid-feedback">هذا الحقل مطلوب</div>
                            </div>
                        </div>
                        <div class="col-xl-6 ">
                            <!-- Gorgian -->
                            <div class="form-floating mb-3">
                                <input class="form-control hijri-date-default" id="GDate" type="text" placeholder="تاريخ الميلاد (ميلادي)" onfocusout="validateDate(this,'Gregorian','invalid-gregorian')" />
                                <label for="MDate">تاريخ الميلاد (ميلادي)</label>
                                <div id="invalid-gregorian" class="invalid-feedback">هذا الحقل مطلوب</div>
                            </div>
                        </div>
                    </div>

                    <!-- Blood Type input-->
                    <p>فصيلة الدم <span style="color:#f5494c">*</span></p>
                    <div class="form-floating mb-3">
                        <select class="form-control" style="padding-top:0; padding-bottom:0" id="blood" onfocusout="vlidateEmpty(this)">
                            <option value="" selected disabled>اختر فصيلة الدم</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                        </select>
                        <div class="invalid-feedback">هذا الحقل مطلوب</div>
                    </div>

                    <!-- Grades input-->
                    <p>درجة الثانوية والقدرات (في حالة وجود كسور قرّب إلى أقرب رقم)<span style="color:#f5494c">*</span></p>
                    <div class="row">
                        <div class="col-xl-6">
                            <!-- Hijri-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="highgrade" type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="النسبة المئوية للثانوية العامة" maxlength="3" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                <label for="highgrade">النسبة المئوية للثانوية العامة</label>
                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                            </div>
                        </div>
                        <div class="col-xl-6 ">
                            <!-- Gorgian -->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="qiasgrade" type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="نسبة القدرات (قياس)" maxlength="3" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                <label for="qiasgrade">نسبة القدرات (قياس)</label>
                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                            </div>
                        </div>
                    </div>

                    <p>ارقام التواصل <span style="color:#f5494c">*</span> </p>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control phoneNumber" style="direction:ltr; text-align:right" type="tel" placeholder="(966) 55-555-5555" maxlength="17" oninput="inputMaxLength(this)" onfocusout="validatePhoneNumber(this,'invalid-phone1')" />
                        <label for="phone">هاتف المتقدم</label>
                        <div id="invalid-phone1" class="invalid-feedback">هذا الحقل مطلوب</div>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control phoneNumber" style="direction:ltr; text-align:right" type="tel" placeholder="(966) 55-555-5555" maxlength="17" oninput="inputMaxLength(this)" onfocusout="validatePhoneNumber(this,'invalid-phone2')" />

                        <label for="phone">هاتف ولي الأمر</label>
                        <div id="invalid-phone2" class="invalid-feedback" data-sb-feedback="phone:required">هذا الحقل مطلوب</div>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control phoneNumber" style="direction:ltr; text-align:right" type="tel" placeholder="(966) 55-555-5555" maxlength="17" oninput="inputMaxLength(this)" onfocusout="validatePhoneNumber(this,'invalid-phone3')" />
                        <label for="phone">هاتف احد الأقارب</label>
                        <div id="invalid-phone3" class="invalid-feedback" data-sb-feedback="phone:required">هذا الحقل مطلوب</div>
                    </div>

                    <!-- Address input-->
                    <p>مكان الإقامة <span style="color:#f5494c">*</span></p>
                    <div class="form-floating mb-3">
                        <select class="form-control" style="padding-top:0; padding-bottom:0" id="address" required onfocusout="vlidateEmpty(this)">
                            <option value="" selected disabled>اختر مكان الاقامة</option>
                            <option> الرياض - Riyadh </option>
                            <option> الدرعية - Daryiah </option>
                            <option> الخرج - Al Kharij </option>
                            <option> الدوادمي - Dawadmi </option>
                            <option> المجمعة - Majmaah </option>
                            <option> القويعية - Quway'iyah </option>
                            <option> الأفلاج - Aflaj </option>
                            <option> وادي الدواسر - Wadi Al Dawasir </option>
                            <option> الزلفي - Zelfi </option>
                            <option> شقراء - Shagra </option>
                            <option> حوطة بني تميم - Hotat Bani Tamim </option>
                            <option> عفيف - Afif </option>
                            <option> الغاط - Ghat </option>
                            <option> السليل - Salel </option>
                            <option> ضرما - Dharma </option>
                            <option> المزاحمية - Muzahmiyyah </option>
                            <option> رماح - Remah </option>
                            <option> ثادق - Thadeq </option>
                            <option> حريملاء - Huremla </option>
                            <option> الحريق - Hareq </option>
                            <option> مرات - Murat </option>
                            <option> الرين - Rain </option>
                            <option> مكة المكرمة - Makkah El Mokaramh </option>
                            <option> جدة - Jeddah </option>
                            <option> الطائف - Taif </option>
                            <option> القنفذة - Qunfudhah </option>
                            <option> الليث - Laith </option>
                            <option> رابغ - Rabigh </option>
                            <option> خليص - Khuless </option>
                            <option> الخرمة - Khurma </option>
                            <option> رنية - Raniah </option>
                            <option> تربة - Torbah </option>
                            <option> الجموم - Gamgoom </option>
                            <option> الكامل - Kamil </option>
                            <option> المويه - Moyah </option>
                            <option> ميسان - Maysan </option>
                            <option> أضم - Adhim </option>
                            <option> العرضيات - Ardhiat </option>
                            <option> بحرة - Boharah </option>
                            <option> المدينة المنورة - Madina El Monawara </option>
                            <option> ينبع - Yanbu </option>
                            <option> العلا - Alola </option>
                            <option> مهد الذهب - Mahde El Dhaheb </option>
                            <option> الحناكية - Hanakeah </option>
                            <option> بدر - Badr </option>
                            <option> خيبر - Khaibar </option>
                            <option> العيص - Aliss </option>
                            <option> وادي الفرع - Wadi Al Farei </option>
                            <option> بريدة - Buraidah </option>
                            <option> عنيزة - Unayzah </option>
                            <option> الرس - Alrass </option>
                            <option> المذنب - Muthnib </option>
                            <option> البكيرية - Bukayriyah </option>
                            <option> البدائع - Bdaieaa </option>
                            <option> الأسياح - Asiah </option>
                            <option> النبهانية - Nabhaniyah </option>
                            <option> الشماسية - Shamasiah </option>
                            <option> عيون الجواء - Oiyon El Jwaa </option>
                            <option> رياض الخبراء - Riyadh Al Khobraa </option>
                            <option> عقلة الصقور - Oqlat Al Suqor </option>
                            <option> ضرية - Dhariah </option>
                            <option> الدمام - Dammam </option>
                            <option> الأحساء - Hasa </option>
                            <option> حفر الباطن - Hafr Al Batin </option>
                            <option> الجبيل - Jubail </option>
                            <option> القطيف - Qatif </option>
                            <option> الخبر - Khobar </option>
                            <option> الخفجي - Khafji </option>
                            <option> رأس تنورة - Ras Tanura </option>
                            <option> بقيق - Abqaiq </option>
                            <option> النعيرية - Nairia </option>
                            <option> قرية العليا - Qariyat Al Olaya </option>
                            <option> العديد - Odaid </option>
                            <option> أبها - Abha </option>
                            <option> خميس مشيط - Khamis Mushait </option>
                            <option> بيشة - Bisha </option>
                            <option> النماص - Namas </option>
                            <option> محايل عسير - Mahayel Aseer </option>
                            <option> ظهران الجنوب - Dhahran Al Janob </option>
                            <option> تثليث - Tathlith </option>
                            <option> سراة عبيدة - Sarat Obeida </option>
                            <option> رجال ألمع - Rejal Al Maa'a </option>
                            <option> بلقرن - Balqaren </option>
                            <option> أحد رفيدة - Ahad Rafedah </option>
                            <option> المجاردة - Majarda </option>
                            <option> البرك - Albarak </option>
                            <option> بارق - Bariq </option>
                            <option> تنومة - Tnomah </option>
                            <option> طريب - Turaib </option>
                            <option> الحرجة - Harjeh </option>
                            <option> تبوك - Tabuk </option>
                            <option> الوجه - Alwajeh </option>
                            <option> ضبا - Daba </option>
                            <option> تيماء - Taima </option>
                            <option> أملج - Amlaj </option>
                            <option> حقل - Haqel </option>
                            <option> البدع - Albuda </option>
                            <option> حائل - Hail </option>
                            <option> بقعاء - Baqa'aa </option>
                            <option> الغزالة - Gazelle </option>
                            <option> الشنان - Shanan </option>
                            <option> الحائط - Alhaet </option>
                            <option> السليمي - Al Sulaimi </option>
                            <option> الشملي - Al Shomali </option>
                            <option> موقق - Moqq </option>
                            <option> سميراء - Samira'a </option>
                            <option> عرعر - Arar </option>
                            <option> رفحاء - Rafha'a </option>
                            <option> طريف - Turaif </option>
                            <option> العويقيلة - Aqila </option>
                            <option> جازان - Jazan </option>
                            <option> صبيا - Sabia </option>
                            <option> أبو عريش - Abu Arish </option>
                            <option> صامطة - Samtah </option>
                            <option> بيش - Bish </option>
                            <option> الدرب - Aldarb </option>
                            <option> الحرث - Alhurth </option>
                            <option> ضمد - Dhamed </option>
                            <option> الريث - Alrith </option>
                            <option> جزر فرسان - Jazirat Fursan </option>
                            <option> الدائر - Aldaer </option>
                            <option> العارضة - Alaridhah </option>
                            <option> أحد المسارحة - Ahed Al Msareha </option>
                            <option> العيدابي - Aidabi </option>
                            <option> فيفاء - Fifa'a </option>
                            <option> الطوال - Altwal </option>
                            <option> هروب - Hurob </option>
                            <option> نجران - Najran </option>
                            <option> شرورة - Sharurah </option>
                            <option> حبونا - Habona </option>
                            <option> بدر الجنوب - Badr Al Janoub </option>
                            <option> يدمه - Yadimah </option>
                            <option> ثار - Thar </option>
                            <option> خباش - Khabash </option>
                            <option> الخرخير - Al Kharkher </option>
                            <option> الباحة - Baha </option>
                            <option> بلجرشي - Baljurashi </option>
                            <option> المندق - Mondaq </option>
                            <option> المخواة - Makhwah </option>
                            <option> قلوة - Ghalwah </option>
                            <option> العقيق - Agig </option>
                            <option> القرى - Al Qura </option>
                            <option> غامد الزناد - Ghamid Alznad </option>
                            <option> الحجرة - Al Hograh </option>
                            <option> بني حسن - Bani Hassan </option>
                            <option> سكاكا - Sakaka </option>
                        </select>
                        <div class="invalid-feedback">هذا الحقل مطلوب</div>
                    </div>
                    <br />

                    <!-- HRDF -->
                    <div style="display:inline-block; direction:rtl">
                        <p>هل سبق لك الحصول على دعم من صندوق الموارد البشرية <span style="color:#f5494c">*</span></p>

                        <label class="mycontainer" style="float:right;">
                            لا
                            <input type="radio" checked="checked" name="hrdf" onclick="handleClick(this);" value="no">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer" style="float:right">
                            نعم
                            <input type="radio" name="hrdf" onclick="handleClick(this);" value="yes">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer" style="float:right">
                            لا أعلم
                            <input type="radio" name="hrdf" onclick="handleClick(this);" value="dont_know">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <br />
                    <br />

                    <!-- Health Condition -->
                    <div style="display:inline-block; direction:rtl">
                        <p>الحالة الصحية <span style="color:#f5494c">*</span></p>

                        <label class="mycontainer" style="float:right;">
                            لائق صحياً وخالي من الأمراض المزمنة.
                            <input type="radio" checked="checked" name="health" onclick="Hide('healthOther')" value="well">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer" style="float:right">
                            من ذوي الاحتياجات الخاصة.
                            <input type="radio" name="health" onclick="Hide('healthOther')" value="special_needs">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer" style="float:right">
                            أخرى
                            <input type="radio" name="health" onclick="Show('healthOther')" value="other">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <br />
                    <br />

                    <!-- Health Condition -> Other -->
                    <div id="healthOther" style="display:none;">
                        <p>اكتب المشكلة الصحية التي تواجهها <span style="color:#f5494c">*</span> </p>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="healthOtherInput" type="text" placeholder="المشكلة الصحية" onfocusout="validateEmail(this);" />
                            <label for="email">المشكلة الصحية</label>
                            <div id="invalid-email" class="invalid-feedback">هذا الحقل مطلوب</div>
                        </div>
                    </div>


                    <!-- Degree -->
                    <div style="display:inline-block; direction:rtl">
                        <p>هل حصلت على شهادة أعلى من الثانوية العامة (دبلوم/ بكالوريوس) <span style="color:#f5494c">*</span></p>

                        <label class="mycontainer" style="float:right;">
                            لا
                            <input type="radio" checked="checked" name="degree" onclick="Hide('GPA')" value="no">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer" style="float:right">
                            نعم
                            <input type="radio" name="degree" onclick="Show('GPA')" value="yes">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <!-- GPA input-->
                    <div id="GPA" style="display:none; margin-top:20px; margin-bottom:40px">
                        <p>معدل الدبلوم/الباكلوريوس (في حالة وجود كسور قرّب إلى أقرب رقم)<span style="color:#f5494c">*</span></p>
                        <div class="form-floating mb-3">
                            <select class="form-control" style="padding-top:0; padding-bottom:0" id="GPAInput" onfocusout="vlidateEmpty(this)">
                                <option value="" selected disabled>المعدل التراكمي</option>
                                <option value="5">5</option>
                                <option value="4.5">4.5</option>
                                <option value="4">4</option>
                                <option value="3.5">3.5</option>
                                <option value="3">3</option>
                                <option value="2.5">2.5</option>
                                <option value="2">2</option>
                                <option value="1.5">1.5</option>
                                <option value="1">1</option>
                            </select>
                            <div class="invalid-feedback">هذا الحقل مطلوب</div>
                        </div>
                    </div>


                    <div class="row gx-4 gx-lg-5" style="margin-top:15px">
                        <div class="col-lg-12 bg-light" style="box-shadow: 0 0 29px 0 rgb(0 0 0 / 8%);  padding-top:10px">
                            <div class="ar-text">
                                <div class="row">
                                    <div class="col-1">
                                        <label class="mycontainer">

                                            <input type="checkbox">
                                            <span class="checkbox"></span>
                                        </label>
                                    </div>
                                    <div class="col-11">
                                        <p>أتعهد وأقر بأن جميع البيانات التي سيتم إدخالها في نموذج التقديم هذا صحيحة ودقيقة، وفي حال اتضح خلاف ذلك فيحق للمعهد الوطني للتدريب الصناعي إلغاء عملية التسجيل حتى لو تم اكتشاف ذلك أثناء أو بعد إصدار القرار النهائي للقبول، كما أوافق على قيام المعهد الوطني للتدريب الصناعي بالتحقق من البيانات الخاصة بـي والحصول على أية بيانات أخرى بالتواصل مع الجهات المختصة.</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Submit Button-->
                    <div class="text-center"><button class="btn btn-primary btn-xl " id="submitButton" type="submit" style="margin-top:20px">ارسال التقديم</button></div>
                </form>
            </div>
        </div>

    </div>
</section>

<script>
    //----- To prevent typing more than maxlength -----
    function inputMaxLength(input) {
        if (input.value.length > input.maxLength) {
            input.value = input.value.slice(0, input.maxLength);
        }
    }

    //----- To Check if Field is Empty -----
    function vlidateEmpty(input) {
        if (input.value == "") {
            input.classList.add("is-invalid");
        }
        else {
            input.classList.remove("is-invalid");
        }
    }


    //----- To Check National ID Field -----
    function vlidateNID(input) {
        var lblError = document.getElementById("invalid-nid");
        if (input.value == "") {
            lblError.innerHTML = "هذا الحقل مطلوب";
            input.classList.add("is-invalid");
        }
        else {
            // Equation for Saudi NID is:
            // (1) : TotalSUM =+ if [index] is odd -> use same number
            // (2) : TotalSUM =+ if [index] is even -> value * 2 --> tens + ones (EX: value = 8 --> 8*2 = 16 --> 1+6 = 7 --> TotalSUM =+ 7)
            // (3) : if TotalSUM mod 10 = 0 --> Valid
            if (input.value.length < 10) { // number of digit less than 10
                lblError.innerHTML = "رقم الهوية يجب ان يتكون من 10 خانات";
                input.classList.add("is-invalid");
            }
            else {
                var totalSUM = 0;
                var arrayNID = input.value.split("");
                for (i = 0; i < arrayNID.length; i++) {
                     // (1) : if index is odd --> totalSUM =+ same value
                    if (i % 2 != 0) { // Odd index
                        totalSUM = totalSUM + parseInt(arrayNID[i]);
                    }
                     // (2) : if index is even -->
                    else {
                        // (2) : x = value * 2
                        // (2) : totalSUM =+ x.TENS + x.ONES
                        var x = parseInt(arrayNID[i]) * 2;
                        // if value * 2 = number with 2 digit
                        if (x.toString().length == 2) {
                            // x.ONES -> x % 10
                            // x.TENS -> Math.floor(x / 10)
                            x = (x % 10) + (Math.floor(x / 10));
                            totalSUM = totalSUM + x;
                        }
                        else {
                            totalSUM = totalSUM + x;
                        }
                    }
                }

                if (totalSUM % 10 != 0) {
                    lblError.innerHTML = "رقم الهوية الوطنية غير صالح";
                    input.classList.add("is-invalid");
                }
                else {
                    input.classList.remove("is-invalid");
                }
                //alert(arrayNID[0]);


            }

        }
    }


    //----- To Check Email Field -----
    function validateEmail(input) {
        var lblError = document.getElementById("invalid-email");
        if (input.value == "") {
            lblError.innerHTML = "هذا الحقل مطلوب";
            input.classList.add("is-invalid");
        }
        else {
            var email = input.value;
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!expr.test(email)) {
                lblError.innerHTML = "البريد الالكتروني غير صحيح";
                input.classList.add("is-invalid");
            }
            else {
                input.classList.remove("is-invalid");
            }
        }
    }

    //----- To Check Phone Number Field -----
    function validatePhoneNumber(input, errID) {
        var lblError = document.getElementById(errID);
        if (input.value == "") {
            lblError.innerHTML = "هذا الحقل مطلوب";
            input.classList.add("is-invalid");
        }

        else {
            var phoneno = /^\(?(966)\)?[-. ]?([0-9]{2})[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
            if (input.value.match(phoneno)) {
                input.classList.remove("is-invalid");
            }
            else {
                lblError.innerHTML = "يجب ان يبدأ رقم الهاتف بـ 966 ويتكون من 12 خانة";
                input.classList.add("is-invalid");
                //alert("Error");
            }
        }
    }

    $('.phoneNumber').keyup(function (e) {
        var ph = this.value.replace(/\D/g, '').substring(0, 12);
        // Backspace and Delete keys
        var deleteKey = (e.keyCode == 8 || e.keyCode == 46);
        var len = ph.length;
        if (len == 0) {
            ph = ph;
        }
        else if (len < 3) {
            ph = '(' + ph;
        }
        else if (len == 3) {
            ph = '(' + ph + (deleteKey ? '' : ') ');
        }
        else if (len < 5) {
            ph = '(' + ph.substring(0, 3) + ') ' + ph.substring(3, 5);
        }
        else if (len == 5) {
            ph = '(' + ph.substring(0, 3) + ') ' + ph.substring(3, 5) + (deleteKey ? '' : '-');
        }
        else if (len < 8) {
            ph = '(' + ph.substring(0, 3) + ') ' + ph.substring(3, 5) + '-' + ph.substring(5, 8);
        }
        else if (len == 8) {
            ph = '(' + ph.substring(0, 3) + ') ' + ph.substring(3, 5) + '-' + ph.substring(5, 8) + (deleteKey ? '' : '-');
        }
        else {
            ph = '(' + ph.substring(0, 3) + ') ' + ph.substring(3, 5) + '-' + ph.substring(5, 8) + '-' + ph.substring(8, 17);
        }
        this.value = ph;
    });

    //----- To Check Date Field -----
    function validateDate(input, dateType, errID) {
        var lblError = document.getElementById(errID);
        if (input.value == "") {
            lblError.innerHTML = "هذا الحقل مطلوب";
            input.classList.add("is-invalid");
        }
        else {
            const dateArray = input.value.split("-")
            if (dateType == 'Hijri') {
                if (parseInt(dateArray[2]) > 1500) {
                    lblError.innerHTML = "التاريخ الهجري غير صحيح";
                    input.classList.add("is-invalid");
                }
                else {
                    input.classList.remove("is-invalid");
                    //convertDate('HTG',);
                   @* var date = new Date(Date.UTC(HijriArr[2], HijriArr[1], HijriArr[0], 3, 0, 0));
                    alert(date.toLocaleDateString('en-eg'));
                    var datet = new Date('9/1/1997').toLocaleDateString('AR-SA');
                    alert(datet);*@
                }
            }
            else if (dateType == 'Gregorian') {
                if (parseInt(dateArray[2]) < 1500) {
                    lblError.innerHTML = "التاريخ الميلادي غير صحيح";
                    input.classList.add("is-invalid");
                }
                else {
                    input.classList.remove("is-invalid");
                    //convertDate('HTG',);
                    @* var date = new Date(Date.UTC(HijriArr[2], HijriArr[1], HijriArr[0], 3, 0, 0));
                    alert(date.toLocaleDateString('en-eg'));
                    var datet = new Date('9/1/1997').toLocaleDateString('AR-SA');
                    alert(datet);*@
                }
            }
        }
    }
    //----- To Convert Date H -> G -----

    //----- To Convert Date G -> H -----


    //----- To Display Date Picker -----
    $(function () {
        initHijrDatePickerDefault();
    });

    function initHijrDatePickerDefault() {
        $(".hijri-date-default").hijriDatePicker({
            locale: "ar-sa",
            format: "DD-MM-YYYY",
            hijriFormat: "iDD-iMM-iYYYY",
            dayViewHeaderFormat: "MMMM YYYY",
            hijriDayViewHeaderFormat: "iMMMM iYYYY",
            showSwitcher: true,
            allowInputToggle: false,
            showTodayButton: false,
            useCurrent: false,
            isRTL: false,
            viewMode: 'days',
            keepOpen: false,
            hijri: false,
            debug: true,
            showClear: false,
            showTodayButton: false,
            showClose: true
        });
    }

    //----- Display/Hide Input when user check the radio btn -----
    function Show(inputID) {
        document.getElementById(inputID).style.display='block';

    }
    function Hide(inputID) {
        document.getElementById(inputID).style.display = 'none';
    }

</script>