@{
    ViewBag.Title = "Registration Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Masthead-->
<header class="masthead" style="height: min-content">
    <div class="container px-4 px-lg-5 h-50">
        <div class="row gx-4 gx-lg-5 h-50 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">المعهد الوطني للتدريب الصناعي</h1>
                <h2 class="text-white font-weight-bold">- برنامج كوادر السلامة والصحة المهنية -</h2>
                <hr class="divider" />
            </div>
        </div>
    </div>
</header>

<!-- Body -->
<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0" style="font-family: Calibri; direction:rtl ">التقديم على برنامج كوادر السلامة والصحة المهنية  في المعهد الوطني للتدريب الصناعي (NITI)</h2>
                <hr class="divider" />
            </div>
        </div>

        <!-- Registration Form -->
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5" style="direction:rtl">
            <div class="col-lg-8">
                <form id="contactForm">

                    <p>رقم الهوية الوطنية <span style="color:#f5494c">*</span> </p>
                    <!-- NID input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="nid" type="number" placeholder="..." maxlength="10" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)"/>
                        <label for="NID">رقم الهوية الوطنية</label>
                        <div class="invalid-feedback">هذا الحقل مطلوب</div>
                    </div>

                    <p>الرجاء كتابة الاسم كما هو مكتوب في جواز السفر او الهوية الوطنية <span style="color:#f5494c">*</span> </p>
                    <!-- English Name input-->
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 ">
                            <!-- First Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="enNameF" type="text" placeholder="..." maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)"/>
                                <label for="enNameF">الاسم الأول (انجليزي)</label>
                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 ">
                            <!-- Second Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="enNameS" type="text" placeholder="..." maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)"/>
                                <label for="enNameS">الاسم الثاني (انجليزي)</label>
                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 ">
                            <!-- Third Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="enNameT" type="text" placeholder="..." maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)"/>
                                <label for="enNameT">الاسم الثالث (انجليزي)</label>
                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 ">
                            <!-- Last Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="enNameL" type="text" placeholder="..." maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)"/>
                                <label for="enNameL">اسم العائلة (انجليزي)</label>
                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                            </div>
                        </div>
                    </div>

                    <!-- Arabic Name input-->
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 ">
                            <!-- First Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="arNameF" type="text" placeholder="..." maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)"/> 
                                <label for="arNameF">الاسم الأول (عربي)</label>
                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 ">
                            <!-- Second Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="arNameS" type="text" placeholder="..."  maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                <label for="arNameS">الاسم الثاني (عربي)</label>
                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 ">
                            <!-- Third Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="arNameT" type="text" placeholder="..."  maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                <label for="arNameT">الاسم الثالث (عربي)</label>
                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 ">
                            <!-- Last Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="arNameL" type="text" placeholder="..." maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)"  />
                                <label for="arNameL">اسم العائلة (عربي)</label>
                                <div class="invalid-feedback">هذا الحقل مطلوب</div>
                            </div>
                        </div>
                    </div>

                    <p>البريد الالكتروني <span style="color:#f5494c">*</span> </p>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com" onfocusout="validateEmail(this);"/>
                        <label for="email">البريد الالكتروني</label>
                        <div id="invalid-email" class="invalid-feedback">هذا الحقل مطلوب</div>
                        
                    </div>



                    <!-- Gender input-->
                    <div style="display:inline-block; direction:rtl">
                        <p>الجنس<span style="color:#f5494c">*</span></p>

                        <label class="mycontainer" style="float:right;">
                            ذكر
                            <input type="radio" checked="checked" name="gender" onclick="handleClick(this);" value="">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer" style="float:right">
                            انثى
                            <input type="radio" name="gender" onclick="handleClick(this);" value="">
                            <span class="checkmark"></span>
                        </label>
                    </div>


                    <!-- Birth date input-->
                    <p>تاريخ الميلاد بالسنة الهجرية أو الميلادية <span style="color:#f5494c">*</span></p>
                    <div class="row">
                        <div class="col-xl-6">
                            <!-- Hijri-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." required />
                                <label for="name">تاريخ الميلاد (هجري)</label>
                                <div class="invalid-feedback">A name is required.</div>
                            </div>
                        </div>
                        <div class="col-xl-6 ">
                            <!-- Gorgian -->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." required />
                                <label for="name">تاريخ الميلاد (ميلادي)</label>
                                <div class="invalid-feedback">A name is required.</div>
                            </div>
                        </div>
                    </div>

                    <!-- Blood Type input-->
                    <p>فصيلة الدم <span style="color:#f5494c">*</span></p>
                    <div class="form-floating mb-3">
                        <select class="form-control" style="padding-top:0; padding-bottom:0" id="blood" required>
                            <option selected disabled>اختر فصيلة الدم</option>
                            <option>A+</option>
                            <option>A-</option>
                            <option>B+</option>
                            <option>B-</option>
                            <option>AB+</option>
                            <option>AB-</option>
                            <option>O+</option>
                            <option>O-</option>
                        </select>
                        <div class="invalid-feedback">A name is required.</div>
                    </div>

                    <!-- Grades input-->
                    <p>درجة الثانوية والقدرات (ارقام صحيحة فقط)<span style="color:#f5494c">*</span></p>
                    <div class="row">
                        <div class="col-xl-6">
                            <!-- Hijri-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="" type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Enter your name..." required />
                                <label for="">النسبة المئوية للثانوية العامة</label>
                                <div class="invalid-feedback">A name is required.</div>
                            </div>
                        </div>
                        <div class="col-xl-6 ">
                            <!-- Gorgian -->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="" type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Enter your name..." required />
                                <label for="">نسبة القدرات (قياس)</label>
                                <div class="invalid-feedback">A name is required.</div>
                            </div>
                        </div>
                    </div>

                    <p>ارقام التواصل <span style="color:#f5494c">*</span> </p>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="text" placeholder="(123) 456-7890" data-sb-validations="required" />
                        <label for="phone">هاتف المتقدم</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="text" placeholder="(123) 456-7890" data-sb-validations="required" />
                        <label for="phone">هاتف ولي الأمر</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="text" placeholder="(123) 456-7890" data-sb-validations="required" />
                        <label for="phone">هاتف احد الأقارب</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                    </div>

                    <!-- Address input-->
                    <p>مكان الإقامة <span style="color:#f5494c">*</span></p>
                    <div class="form-floating mb-3">
                        <select class="form-control" style="padding-top:0; padding-bottom:0" id="blood" required>
                            <option selected disabled>اختر مكان الاقامة</option>
                            <option> الرياض - Riyadh </option>
                            <option> الدرعية - Daryiah </option>
                            <option> الخرج - Al Kharij </option>
                            <option> الدوادمي - Dawadmi </option>
                            <option> المجمعة - Majmaah </option>
                            <option> القويعية - Quway'iyah </option>
                            <option> الأفلاج - Aflaj </option>
                            <option> وادي الدواسر - Wadi Al Dawasir </option>
                            <option> الزلفي - Zelfi </option>
                            <option> شقراء - Shagra </option>
                            <option> حوطة بني تميم - Hotat Bani Tamim </option>
                            <option> عفيف - Afif </option>
                            <option> الغاط - Ghat </option>
                            <option> السليل - Salel </option>
                            <option> ضرما - Dharma </option>
                            <option> المزاحمية - Muzahmiyyah </option>
                            <option> رماح - Remah </option>
                            <option> ثادق - Thadeq </option>
                            <option> حريملاء - Huremla </option>
                            <option> الحريق - Hareq </option>
                            <option> مرات - Murat </option>
                            <option> الرين - Rain </option>
                            <option> مكة المكرمة - Makkah El Mokaramh </option>
                            <option> جدة - Jeddah </option>
                            <option> الطائف - Taif </option>
                            <option> القنفذة - Qunfudhah </option>
                            <option> الليث - Laith </option>
                            <option> رابغ - Rabigh </option>
                            <option> خليص - Khuless </option>
                            <option> الخرمة - Khurma </option>
                            <option> رنية - Raniah </option>
                            <option> تربة - Torbah </option>
                            <option> الجموم - Gamgoom </option>
                            <option> الكامل - Kamil </option>
                            <option> المويه - Moyah </option>
                            <option> ميسان - Maysan </option>
                            <option> أضم - Adhim </option>
                            <option> العرضيات - Ardhiat </option>
                            <option> بحرة - Boharah </option>
                            <option> المدينة المنورة - Madina El Monawara </option>
                            <option> ينبع - Yanbu </option>
                            <option> العلا - Alola </option>
                            <option> مهد الذهب - Mahde El Dhaheb </option>
                            <option> الحناكية - Hanakeah </option>
                            <option> بدر - Badr </option>
                            <option> خيبر - Khaibar </option>
                            <option> العيص - Aliss </option>
                            <option> وادي الفرع - Wadi Al Farei </option>
                            <option> بريدة - Buraidah </option>
                            <option> عنيزة - Unayzah </option>
                            <option> الرس - Alrass </option>
                            <option> المذنب - Muthnib </option>
                            <option> البكيرية - Bukayriyah </option>
                            <option> البدائع - Bdaieaa </option>
                            <option> الأسياح - Asiah </option>
                            <option> النبهانية - Nabhaniyah </option>
                            <option> الشماسية - Shamasiah </option>
                            <option> عيون الجواء - Oiyon El Jwaa </option>
                            <option> رياض الخبراء - Riyadh Al Khobraa </option>
                            <option> عقلة الصقور - Oqlat Al Suqor </option>
                            <option> ضرية - Dhariah </option>
                            <option> الدمام - Dammam </option>
                            <option> الأحساء - Hasa </option>
                            <option> حفر الباطن - Hafr Al Batin </option>
                            <option> الجبيل - Jubail </option>
                            <option> القطيف - Qatif </option>
                            <option> الخبر - Khobar </option>
                            <option> الخفجي - Khafji </option>
                            <option> رأس تنورة - Ras Tanura </option>
                            <option> بقيق - Abqaiq </option>
                            <option> النعيرية - Nairia </option>
                            <option> قرية العليا - Qariyat Al Olaya </option>
                            <option> العديد - Odaid </option>
                            <option> أبها - Abha </option>
                            <option> خميس مشيط - Khamis Mushait </option>
                            <option> بيشة - Bisha </option>
                            <option> النماص - Namas </option>
                            <option> محايل عسير - Mahayel Aseer </option>
                            <option> ظهران الجنوب - Dhahran Al Janob </option>
                            <option> تثليث - Tathlith </option>
                            <option> سراة عبيدة - Sarat Obeida </option>
                            <option> رجال ألمع - Rejal Al Maa'a </option>
                            <option> بلقرن - Balqaren </option>
                            <option> أحد رفيدة - Ahad Rafedah </option>
                            <option> المجاردة - Majarda </option>
                            <option> البرك - Albarak </option>
                            <option> بارق - Bariq </option>
                            <option> تنومة - Tnomah </option>
                            <option> طريب - Turaib </option>
                            <option> الحرجة - Harjeh </option>
                            <option> تبوك - Tabuk </option>
                            <option> الوجه - Alwajeh </option>
                            <option> ضبا - Daba </option>
                            <option> تيماء - Taima </option>
                            <option> أملج - Amlaj </option>
                            <option> حقل - Haqel </option>
                            <option> البدع - Albuda </option>
                            <option> حائل - Hail </option>
                            <option> بقعاء - Baqa'aa </option>
                            <option> الغزالة - Gazelle </option>
                            <option> الشنان - Shanan </option>
                            <option> الحائط - Alhaet </option>
                            <option> السليمي - Al Sulaimi </option>
                            <option> الشملي - Al Shomali </option>
                            <option> موقق - Moqq </option>
                            <option> سميراء - Samira'a </option>
                            <option> عرعر - Arar </option>
                            <option> رفحاء - Rafha'a </option>
                            <option> طريف - Turaif </option>
                            <option> العويقيلة - Aqila </option>
                            <option> جازان - Jazan </option>
                            <option> صبيا - Sabia </option>
                            <option> أبو عريش - Abu Arish </option>
                            <option> صامطة - Samtah </option>
                            <option> بيش - Bish </option>
                            <option> الدرب - Aldarb </option>
                            <option> الحرث - Alhurth </option>
                            <option> ضمد - Dhamed </option>
                            <option> الريث - Alrith </option>
                            <option> جزر فرسان - Jazirat Fursan </option>
                            <option> الدائر - Aldaer </option>
                            <option> العارضة - Alaridhah </option>
                            <option> أحد المسارحة - Ahed Al Msareha </option>
                            <option> العيدابي - Aidabi </option>
                            <option> فيفاء - Fifa'a </option>
                            <option> الطوال - Altwal </option>
                            <option> هروب - Hurob </option>
                            <option> نجران - Najran </option>
                            <option> شرورة - Sharurah </option>
                            <option> حبونا - Habona </option>
                            <option> بدر الجنوب - Badr Al Janoub </option>
                            <option> يدمه - Yadimah </option>
                            <option> ثار - Thar </option>
                            <option> خباش - Khabash </option>
                            <option> الخرخير - Al Kharkher </option>
                            <option> الباحة - Baha </option>
                            <option> بلجرشي - Baljurashi </option>
                            <option> المندق - Mondaq </option>
                            <option> المخواة - Makhwah </option>
                            <option> قلوة - Ghalwah </option>
                            <option> العقيق - Agig </option>
                            <option> القرى - Al Qura </option>
                            <option> غامد الزناد - Ghamid Alznad </option>
                            <option> الحجرة - Al Hograh </option>
                            <option> بني حسن - Bani Hassan </option>
                            <option> سكاكا - Sakaka </option>
                        </select>
                        <div class="invalid-feedback">A name is required.</div>
                    </div>
                    <br />

                    <!-- HRDF -->
                    <div style="display:inline-block; direction:rtl">
                        <p>هل سبق لك الحصول على دعم من صندوق الموارد البشرية <span style="color:#f5494c">*</span></p>

                        <label class="mycontainer" style="float:right;">
                            نعم
                            <input type="radio" checked="checked" name="hrdf" onclick="handleClick(this);" value="">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer" style="float:right">
                            لا
                            <input type="radio" name="hrdf" onclick="handleClick(this);" value="">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer" style="float:right">
                            لا أعلم
                            <input type="radio" name="hrdf" onclick="handleClick(this);" value="">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <br />
                    <br />

                    <!-- Health Condition -->
                    <div style="display:inline-block; direction:rtl">
                        <p>الحالة الصحية <span style="color:#f5494c">*</span></p>

                        <label class="mycontainer" style="float:right;">
                            لائق صحياً وخالي من الأمراض المزمنة.
                            <input type="radio" checked="checked" name="health" onclick="handleClick(this);" value="batch">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer" style="float:right">
                            من ذوي الاحتياجات الخاصة.
                            <input type="radio" name="health" onclick="handleClick(this);" value="trainee">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer" style="float:right">
                            أخرى
                            <input type="radio" name="health" onclick="handleClick(this);" value="trainee">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <br />
                    <br />

                    <!-- Degree -->
                    <div style="display:inline-block; direction:rtl">
                        <p>هل حصلت على شهادة أعلى من الثانوية العامة (دبلوم/ بكالوريوس) <span style="color:#f5494c">*</span></p>

                        <label class="mycontainer" style="float:right;">
                            نعم
                            <input type="radio" checked="checked" name="degree" onclick="handleClick(this);" value="batch">
                            <span class="checkmark"></span>
                        </label>
                        <label class="mycontainer" style="float:right">
                            لا
                            <input type="radio" name="degree" onclick="handleClick(this);" value="trainee">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <div class="row gx-4 gx-lg-5" style="margin-top:15px">
                        <div class="col-lg-12 bg-light" style="box-shadow: 0 0 29px 0 rgb(0 0 0 / 8%);  padding-top:10px">
                            <div class="ar-text">
                                <div class="row">
                                    <div class="col-1">
                                        <input type="checkbox" style="float:right; margin: 5px;" />
                                    </div>
                                    <div class="col-11">
                            <p>أتعهد وأقر بأن جميع البيانات التي سيتم إدخالها في نموذج التقديم هذا صحيحة ودقيقة، وفي حال اتضح خلاف ذلك فيحق للمعهد الوطني للتدريب الصناعي إلغاء عملية التسجيل حتى لو تم اكتشاف ذلك أثناء أو بعد إصدار القرار النهائي للقبول، كما أوافق على قيام المعهد الوطني للتدريب الصناعي بالتحقق من البيانات الخاصة بـي والحصول على أية بيانات أخرى بالتواصل مع الجهات المختصة.</p>

                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Submit Button-->
                    <div class="text-center"><button class="btn btn-primary btn-xl " id="submitButton" type="submit" style="margin-top:20px">ارسال التقديم</button></div>
                </form>
            </div>
        </div>
        
    </div>
</section>

<script>
    function inputMaxLength(input) {
        if (input.value.length > input.maxLength) {
            input.value = input.value.slice(0, input.maxLength);
        }
    }
    function vlidateEmpty(input) {
        if (input.value == "") {
            input.classList.add("is-invalid");
        }
        else {
            input.classList.remove("is-invalid");
        }
    }


    function validateEmail(input)
    {
        var lblError = document.getElementById("invalid-email");
        if (input.value == "") {
            lblError.innerHTML = "هذا الحقل مطلوب";
            input.classList.add("is-invalid");
        }
        else {
            var email = input.value;
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!expr.test(email)) {
                lblError.innerHTML = "البريد الالكتروني غير صحيح";
                input.classList.add("is-invalid");
            }
            else {
                input.classList.remove("is-invalid");
            }
        }
    }
</script>