@{
    ViewBag.Title = "Registration Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Masthead-->
<header class="masthead" style="height: min-content">
    <div class="container px-4 px-lg-5 h-50">
        <div class="row gx-4 gx-lg-5 h-50 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">المعهد الوطني للتدريب الصناعي</h1>
                <h2 class="text-white">- اسم البرنامج -</h2>
                <h5 class="text-white">- نموذج التعديل على التقديم -</h5>
                <hr class="divider" />
            </div>
        </div>
    </div>
</header>

<!-- Body -->
<section class="page-section pt-5" id="contact">
    <div class="container px-4 px-lg-5">
        @*<div class="row justify-content-center" style=" margin:auto;">
            <div class="col-lg-8">
                <ul class="progressbar">
                    <li class="active">التقديم</li>
                    <li>التحقق</li>
                    <li>الترشيح</li>
                    <li>القبول</li>
                </ul>
            </div>
        </div>*@
            <div class="row justify-content-center" style=" margin: 10px auto;">
                <div class="col-lg-8 br-15" style="padding-top: 10px; background-color: rgba(255, 242, 194, 0.4); border: 1px solid #ffe996;">
                    <div class="ar-text">
                        <div class="row">
                            <div class="col-1">
                                <i class="bx bx-info-circle" style="color:#ffe996; font-size:16pt"></i>
                            </div>
                            <div class="col-11">
                                <p style="color:#ffd024;font-size:10pt">الرجاء ملاحظة انه لا يمكن تعديل البيانات بعد اغلاق التسجيل</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Registration Form -->
            <div class="row gx-4 gx-lg-5 justify-content-center mt-5 mb-5">
                <div class="col-lg-8">
                    <form>
                        <!-- NID input-->
                        <p>رقم الهوية الوطنية <span style="color:#f5494c">*</span> </p>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 ">
                                <!-- Text -->
                                <div class="form-floating mb-3">
                                    <input class="form-control br-15" id="nid" type="number" placeholder="رقم الهوية الوطنية" maxlength="10" oninput="inputMaxLength(this)" onfocusout="vlidateNID(this,'ar')" />
                                    <label for="NID">رقم الهوية الوطنية</label>
                                    <div id="invalid-nid" class="invalid-feedback">هذا الحقل مطلوب</div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 ">
                                <!-- File Upload -->
                                <div class="form-floating mb-3 upload_form">
                                    <input class="form-control upload_input br-15" id="file_nid_name" placeholder="صورة من الشهادة" disabled />
                                    <button type="button" class="upload_btn brr-15" onclick="getFile('file_nid')">
                                        <i class="bx bx-upload" style="font-size: 24pt; padding-top: 5px; "></i>
                                    </button>
                                    <label>صورة من الهوية الوطنية</label>
                                    <div id="invalid-nid" class="invalid-feedback mr-3">هذا الحقل مطلوب</div>
                                    <input type="file" id="file_nid" style="display: none;" accept="image/*;capture=camera" onchange="importFile('file_nid','file_nid_name')" />
                                </div>
                            </div>
                        </div>

                        <p>الرجاء كتابة الاسم كما هو مكتوب في جواز السفر او الهوية الوطنية <span style="color:#f5494c">*</span> </p>
                        <!-- English Name input-->
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 ">
                                <!-- First Name input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control br-15" id="enNameF" type="text" placeholder="الاسم الأول (انجليزي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                    <label for="enNameF">الاسم الأول (انجليزي)</label>
                                    <div class="invalid-feedback">هذا الحقل مطلوب</div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 ">
                                <!-- Second Name input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control br-15" id="enNameS" type="text" placeholder="الاسم الثاني (انجليزي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                    <label for="enNameS">الاسم الثاني (انجليزي)</label>
                                    <div class="invalid-feedback">هذا الحقل مطلوب</div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 ">
                                <!-- Third Name input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control br-15" id="enNameT" type="text" placeholder="الاسم الثالث (انجليزي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                    <label for="enNameT">الاسم الثالث (انجليزي)</label>
                                    <div class="invalid-feedback">هذا الحقل مطلوب</div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 ">
                                <!-- Last Name input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control br-15" id="enNameL" type="text" placeholder="اسم العائلة (انجليزي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                    <label for="enNameL">اسم العائلة (انجليزي)</label>
                                    <div class="invalid-feedback">هذا الحقل مطلوب</div>
                                </div>
                            </div>
                        </div>

                        <!-- Arabic Name input-->
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 ">
                                <!-- First Name input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control br-15" id="arNameF" type="text" placeholder="الاسم الأول (عربي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                    <label for="arNameF">الاسم الأول (عربي)</label>
                                    <div class="invalid-feedback">هذا الحقل مطلوب</div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 ">
                                <!-- Second Name input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control br-15" id="arNameS" type="text" placeholder="الاسم الثاني (عربي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                    <label for="arNameS">الاسم الثاني (عربي)</label>
                                    <div class="invalid-feedback">هذا الحقل مطلوب</div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 ">
                                <!-- Third Name input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control br-15" id="arNameT" type="text" placeholder="الاسم الثالث (عربي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                    <label for="arNameT">الاسم الثالث (عربي)</label>
                                    <div class="invalid-feedback">هذا الحقل مطلوب</div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 ">
                                <!-- Last Name input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control br-15" id="arNameL" type="text" placeholder="اسم العائلة (عربي)" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                    <label for="arNameL">اسم العائلة (عربي)</label>
                                    <div class="invalid-feedback">هذا الحقل مطلوب</div>
                                </div>
                            </div>
                        </div>

                        <p>البريد الالكتروني <span style="color:#f5494c">*</span> </p>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control br-15" id="email" type="email" placeholder="name@example.com" onfocusout="validateEmail(this);" />
                            <label for="email">البريد الالكتروني</label>
                            <div id="invalid-email" class="invalid-feedback">هذا الحقل مطلوب</div>

                        </div>



                        <!-- Gender input-->
                        <div style="display:inline-block;">
                            <p>الجنس<span style="color:#f5494c">*</span></p>

                            <label class="mycontainer" style="float:right;">
                                ذكر
                                <input type="radio" checked="checked" name="gender" onclick="handleClick(this);" value="">
                                <span class="checkmark"></span>
                            </label>
                            <label class="mycontainer" style="float:right">
                                انثى
                                <input type="radio" name="gender" onclick="handleClick(this);" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>


                        <!-- Birth date input-->
                        <p>تاريخ الميلاد بالسنة الهجرية أو الميلادية <span style="color:#f5494c">*</span></p>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 ">
                                <!-- Hijri-->
                                <div class="form-floating mb-3">
                                    <input class="form-control br-15 hijri-date-default" id="HDate" type="text" placeholder="تاريخ الميلاد (هجري)" onpaste="validateDate(this,'Hijri','invalid-hijri')" onfocusout="validateDate(this,'Hijri','invalid-hijri')" />
                                    <label for="HDate">تاريخ الميلاد (هجري)</label>
                                    <div id="invalid-hijri" class="invalid-feedback">هذا الحقل مطلوب</div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 ">
                                <!-- Gorgian -->
                                <div class="form-floating mb-3">
                                    <input class="form-control br-15 gregorian-date-default" id="GDate" type="text" placeholder="تاريخ الميلاد (ميلادي)" onfocusout="validateDate(this,'Gregorian','invalid-gregorian')" />
                                    <label for="GDate">تاريخ الميلاد (ميلادي)</label>
                                    <div id="invalid-gregorian" class="invalid-feedback">هذا الحقل مطلوب</div>
                                </div>
                            </div>
                        </div>

                        <!-- Blood Type input-->
                        <p>فصيلة الدم <span style="color:#f5494c">*</span></p>
                        <div class="form-floating mb-3">
                            <select class="form-control br-15 pt-0 pb-0" id="blood" onfocusout="vlidateEmpty(this)">
                                <option value="" selected disabled>اختر فصيلة الدم</option>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                            </select>
                            <div class="invalid-feedback">هذا الحقل مطلوب</div>
                        </div>

                        <!-- High School Grade input-->
                        <p>درجة الثانوية (في حالة وجود كسور قرّب إلى أقرب رقم)<span style="color:#f5494c">*</span></p>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 ">
                                <!-- Text -->
                                <div class="form-floating mb-3">
                                    <input class="form-control br-15" id="highgrade" type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="النسبة المئوية للثانوية العامة" maxlength="3" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                    <label for="highgrade">النسبة المئوية للثانوية العامة</label>
                                    <div class="invalid-feedback">هذا الحقل مطلوب</div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 ">
                                <!-- File Upload -->
                                <div class="form-floating mb-3 upload_form">
                                    <input class="form-control br-15 upload_input" id="file_highschool_name" placeholder="صورة من الشهادة" disabled />
                                    <button type="button" class="upload_btn brr-15" onclick="getFile('file_highschool')">
                                        <i class="bx bx-upload" style="font-size: 24pt; padding-top: 5px; "></i>
                                    </button>
                                    <label>مرفق شهادة الثانوية</label>
                                    <div id="invalid-nid" class="invalid-feedback mr-3">هذا الحقل مطلوب</div>
                                    <input type="file" id="file_highschool" style="display: none;" accept="image/*;capture=camera" onchange="importFile('file_highschool','file_highschool_name')" />
                                </div>
                            </div>
                        </div>

                        <!-- Qiyas Grade input-->
                        <p>درجة القدرات (في حالة وجود كسور قرّب إلى أقرب رقم)<span style="color:#f5494c">*</span></p>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 ">
                                <div class="form-floating mb-3">
                                    <input class="form-control br-15" id="qiysgrade" type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="نسبة القدرات (قياس)" maxlength="3" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                    <label for="qiysgrade">نسبة القدرات (قياس)</label>
                                    <div class="invalid-feedback">هذا الحقل مطلوب</div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 ">
                                <!-- File Upload -->
                                <div class="form-floating mb-3 upload_form">
                                    <input class="form-control br-15 upload_input" id="file_qiys_name" placeholder="صورة من الشهادة" disabled />
                                    <button type="button" class="upload_btn brr-15" onclick="getFile('file_qiys')">
                                        <i class="bx bx-upload" style="font-size: 24pt; padding-top: 5px; "></i>
                                    </button>
                                    <label>مرفق نتيجة قياس</label>
                                    <div id="invalid-nid" class="invalid-feedback mr-3">هذا الحقل مطلوب</div>
                                    <input type="file" id="file_qiys" style="display: none;" accept="image/*;capture=camera" onchange="importFile('file_qiys','file_qiys_name')" />
                                </div>
                            </div>
                        </div>

                        <!-- Phone number input-->
                        <p>ارقام التواصل <span style="color:#f5494c">*</span> </p>
                        <div class="form-floating mb-3">
                            <input class="form-control br-15 phoneNumber" style="direction:ltr; text-align:right" type="tel" placeholder="(966) 55-555-5555" maxlength="17" oninput="inputMaxLength(this)" onfocusout="validatePhoneNumber(this,'invalid-phone1')" />
                            <label for="phone">هاتف المتقدم</label>
                            <div id="invalid-phone1" class="invalid-feedback">هذا الحقل مطلوب</div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 ">
                                <div class="form-floating mb-3">
                                    <input class="form-control br-15 phoneNumber" style="direction:ltr; text-align:right" type="tel" placeholder="(966) 55-555-5555" maxlength="17" oninput="inputMaxLength(this)" onfocusout="validatePhoneNumber(this,'invalid-phone2')" />

                                    <label for="phone">هاتف ولي الأمر</label>
                                    <div id="invalid-phone2" class="invalid-feedback" data-sb-feedback="phone:required">هذا الحقل مطلوب</div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 ">
                                <div class="form-floating mb-3">
                                    <input class="form-control br-15" id="" type="text" placeholder="اسم ولي الأمر" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                    <label for="">اسم ولي الأمر</label>
                                    <div class="invalid-feedback">هذا الحقل مطلوب</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 ">
                                <div class="form-floating mb-3">
                                    <input class="form-control br-15 phoneNumber" style="direction:ltr; text-align:right" type="tel" placeholder="(966) 55-555-5555" maxlength="17" oninput="inputMaxLength(this)" onfocusout="validatePhoneNumber(this,'invalid-phone3')" />
                                    <label for="phone">هاتف احد الأقارب</label>
                                    <div id="invalid-phone3" class="invalid-feedback" data-sb-feedback="phone:required">هذا الحقل مطلوب</div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 ">
                                <div class="form-floating mb-3">
                                    <input class="form-control br-15" id="" type="text" placeholder="اسم صاحب الرقم" maxlength="20" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                    <label for="">اسم صاحب الرقم</label>
                                    <div class="invalid-feedback">هذا الحقل مطلوب</div>
                                </div>
                            </div>
                        </div>

                        <!-- Address input-->
                        <p>مكان الإقامة <span style="color:#f5494c">*</span></p>
                        <div class="form-floating mb-3">
                            <select class="form-control br-15 pt-0 pb-0" id="address" required onfocusout="vlidateEmpty(this)">
                                <option value="" selected disabled>اختر مكان الاقامة</option>
                                <option> الرياض - Riyadh </option>
                                <option> الدرعية - Daryiah </option>
                                <option> الخرج - Al Kharij </option>
                                <option> الدوادمي - Dawadmi </option>
                                <option> المجمعة - Majmaah </option>
                                <option> القويعية - Quway'iyah </option>
                                <option> الأفلاج - Aflaj </option>
                                <option> وادي الدواسر - Wadi Al Dawasir </option>
                                <option> الزلفي - Zelfi </option>
                                <option> شقراء - Shagra </option>
                                <option> حوطة بني تميم - Hotat Bani Tamim </option>
                                <option> عفيف - Afif </option>
                                <option> الغاط - Ghat </option>
                                <option> السليل - Salel </option>
                                <option> ضرما - Dharma </option>
                                <option> المزاحمية - Muzahmiyyah </option>
                                <option> رماح - Remah </option>
                                <option> ثادق - Thadeq </option>
                                <option> حريملاء - Huremla </option>
                                <option> الحريق - Hareq </option>
                                <option> مرات - Murat </option>
                                <option> الرين - Rain </option>
                                <option> مكة المكرمة - Makkah El Mokaramh </option>
                                <option> جدة - Jeddah </option>
                                <option> الطائف - Taif </option>
                                <option> القنفذة - Qunfudhah </option>
                                <option> الليث - Laith </option>
                                <option> رابغ - Rabigh </option>
                                <option> خليص - Khuless </option>
                                <option> الخرمة - Khurma </option>
                                <option> رنية - Raniah </option>
                                <option> تربة - Torbah </option>
                                <option> الجموم - Gamgoom </option>
                                <option> الكامل - Kamil </option>
                                <option> المويه - Moyah </option>
                                <option> ميسان - Maysan </option>
                                <option> أضم - Adhim </option>
                                <option> العرضيات - Ardhiat </option>
                                <option> بحرة - Boharah </option>
                                <option> المدينة المنورة - Madina El Monawara </option>
                                <option> ينبع - Yanbu </option>
                                <option> العلا - Alola </option>
                                <option> مهد الذهب - Mahde El Dhaheb </option>
                                <option> الحناكية - Hanakeah </option>
                                <option> بدر - Badr </option>
                                <option> خيبر - Khaibar </option>
                                <option> العيص - Aliss </option>
                                <option> وادي الفرع - Wadi Al Farei </option>
                                <option> بريدة - Buraidah </option>
                                <option> عنيزة - Unayzah </option>
                                <option> الرس - Alrass </option>
                                <option> المذنب - Muthnib </option>
                                <option> البكيرية - Bukayriyah </option>
                                <option> البدائع - Bdaieaa </option>
                                <option> الأسياح - Asiah </option>
                                <option> النبهانية - Nabhaniyah </option>
                                <option> الشماسية - Shamasiah </option>
                                <option> عيون الجواء - Oiyon El Jwaa </option>
                                <option> رياض الخبراء - Riyadh Al Khobraa </option>
                                <option> عقلة الصقور - Oqlat Al Suqor </option>
                                <option> ضرية - Dhariah </option>
                                <option> الدمام - Dammam </option>
                                <option> الأحساء - Hasa </option>
                                <option> حفر الباطن - Hafr Al Batin </option>
                                <option> الجبيل - Jubail </option>
                                <option> القطيف - Qatif </option>
                                <option> الخبر - Khobar </option>
                                <option> الخفجي - Khafji </option>
                                <option> رأس تنورة - Ras Tanura </option>
                                <option> بقيق - Abqaiq </option>
                                <option> النعيرية - Nairia </option>
                                <option> قرية العليا - Qariyat Al Olaya </option>
                                <option> العديد - Odaid </option>
                                <option> أبها - Abha </option>
                                <option> خميس مشيط - Khamis Mushait </option>
                                <option> بيشة - Bisha </option>
                                <option> النماص - Namas </option>
                                <option> محايل عسير - Mahayel Aseer </option>
                                <option> ظهران الجنوب - Dhahran Al Janob </option>
                                <option> تثليث - Tathlith </option>
                                <option> سراة عبيدة - Sarat Obeida </option>
                                <option> رجال ألمع - Rejal Al Maa'a </option>
                                <option> بلقرن - Balqaren </option>
                                <option> أحد رفيدة - Ahad Rafedah </option>
                                <option> المجاردة - Majarda </option>
                                <option> البرك - Albarak </option>
                                <option> بارق - Bariq </option>
                                <option> تنومة - Tnomah </option>
                                <option> طريب - Turaib </option>
                                <option> الحرجة - Harjeh </option>
                                <option> تبوك - Tabuk </option>
                                <option> الوجه - Alwajeh </option>
                                <option> ضبا - Daba </option>
                                <option> تيماء - Taima </option>
                                <option> أملج - Amlaj </option>
                                <option> حقل - Haqel </option>
                                <option> البدع - Albuda </option>
                                <option> حائل - Hail </option>
                                <option> بقعاء - Baqa'aa </option>
                                <option> الغزالة - Gazelle </option>
                                <option> الشنان - Shanan </option>
                                <option> الحائط - Alhaet </option>
                                <option> السليمي - Al Sulaimi </option>
                                <option> الشملي - Al Shomali </option>
                                <option> موقق - Moqq </option>
                                <option> سميراء - Samira'a </option>
                                <option> عرعر - Arar </option>
                                <option> رفحاء - Rafha'a </option>
                                <option> طريف - Turaif </option>
                                <option> العويقيلة - Aqila </option>
                                <option> جازان - Jazan </option>
                                <option> صبيا - Sabia </option>
                                <option> أبو عريش - Abu Arish </option>
                                <option> صامطة - Samtah </option>
                                <option> بيش - Bish </option>
                                <option> الدرب - Aldarb </option>
                                <option> الحرث - Alhurth </option>
                                <option> ضمد - Dhamed </option>
                                <option> الريث - Alrith </option>
                                <option> جزر فرسان - Jazirat Fursan </option>
                                <option> الدائر - Aldaer </option>
                                <option> العارضة - Alaridhah </option>
                                <option> أحد المسارحة - Ahed Al Msareha </option>
                                <option> العيدابي - Aidabi </option>
                                <option> فيفاء - Fifa'a </option>
                                <option> الطوال - Altwal </option>
                                <option> هروب - Hurob </option>
                                <option> نجران - Najran </option>
                                <option> شرورة - Sharurah </option>
                                <option> حبونا - Habona </option>
                                <option> بدر الجنوب - Badr Al Janoub </option>
                                <option> يدمه - Yadimah </option>
                                <option> ثار - Thar </option>
                                <option> خباش - Khabash </option>
                                <option> الخرخير - Al Kharkher </option>
                                <option> الباحة - Baha </option>
                                <option> بلجرشي - Baljurashi </option>
                                <option> المندق - Mondaq </option>
                                <option> المخواة - Makhwah </option>
                                <option> قلوة - Ghalwah </option>
                                <option> العقيق - Agig </option>
                                <option> القرى - Al Qura </option>
                                <option> غامد الزناد - Ghamid Alznad </option>
                                <option> الحجرة - Al Hograh </option>
                                <option> بني حسن - Bani Hassan </option>
                                <option> سكاكا - Sakaka </option>
                            </select>
                            <div class="invalid-feedback">هذا الحقل مطلوب</div>
                        </div>
                        <br />

                        <!-- HRDF -->
                        <div style="display:inline-block;">
                            <p>هل سبق لك الحصول على دعم من صندوق الموارد البشرية <span style="color:#f5494c">*</span></p>

                            <label class="mycontainer" style="float:right;">
                                لا
                                <input type="radio" checked="checked" name="hrdf" onclick="handleClick(this);" value="no">
                                <span class="checkmark"></span>
                            </label>
                            <label class="mycontainer" style="float:right">
                                نعم
                                <input type="radio" name="hrdf" onclick="handleClick(this);" value="yes">
                                <span class="checkmark"></span>
                            </label>
                            <label class="mycontainer" style="float:right">
                                لا أعلم
                                <input type="radio" name="hrdf" onclick="handleClick(this);" value="dont_know">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <br />
                        <br />

                        <!-- Health Condition -->
                        <div style="display:inline-block;">
                            <p>الحالة الصحية <span style="color:#f5494c">*</span></p>

                            <label class="mycontainer" style="float:right;">
                                لائق صحياً وخالي من الأمراض المزمنة.
                                <input type="radio" checked="checked" name="health" onclick="Hide('healthOther')" value="well">
                                <span class="checkmark"></span>
                            </label>
                            <label class="mycontainer" style="float:right">
                                من ذوي الاحتياجات الخاصة.
                                <input type="radio" name="health" onclick="Hide('healthOther')" value="special_needs">
                                <span class="checkmark"></span>
                            </label>
                            <label class="mycontainer" style="float:right">
                                أخرى
                                <input type="radio" name="health" onclick="Show('healthOther')" value="other">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <br />
                        <br />

                        <!-- Health Condition -> Other -->
                        <div id="healthOther" style="display:none;">
                            <p>اكتب المشكلة الصحية التي تواجهها <span style="color:#f5494c">*</span> </p>
                            <div class="form-floating mb-3">
                                <input class="form-control br-15" id="healthOtherInput" type="text" placeholder="المشكلة الصحية" onfocusout="validateEmail(this);" />
                                <label for="">المشكلة الصحية</label>
                                <div id="invalid-email" class="invalid-feedback">هذا الحقل مطلوب</div>
                            </div>
                        </div>


                        <!-- Degree -->
                        <div style="display:inline-block;">
                            <p>هل حصلت على شهادة أعلى من الثانوية العامة (دبلوم/ بكالوريوس) <span style="color:#f5494c">*</span></p>

                            <label class="mycontainer" style="float:right;">
                                لا
                                <input type="radio" checked="checked" name="degree" onclick="Hide('HighEducation')" value="no">
                                <span class="checkmark"></span>
                            </label>
                            <label class="mycontainer" style="float:right">
                                نعم
                                <input type="radio" name="degree" onclick="Show('HighEducation')" value="yes">
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <!-- High Education Info -->
                        <div id="HighEducation" style="display:none; margin-top:20px; margin-bottom:40px">
                            <p>معلومات الشهادة <span style="color:#f5494c">*</span></p>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 ">
                                    <div class="form-floating mb-3">
                                        <select class="form-control br-15 pt-0 pb-0" id="education" onfocusout="vlidateEmpty(this)">
                                            <option value="" selected disabled>الدرجة العلمية</option>
                                            <option value="dip">دبلوم</option>
                                            <option value="bach">بكالوريوس</option>
                                            <option value="master">ماجستير</option>
                                        </select>
                                        <div class="invalid-feedback">هذا الحقل مطلوب</div>
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 ">
                                    <div class="form-floating mb-3">
                                        <input class="form-control br-15" id="major" type="text" placeholder="التخصص" onfocusout="validateEmail(this);" />
                                        <label for="">التخصص </label>
                                        <div id="invalid-email" class="invalid-feedback">هذا الحقل مطلوب</div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-3 col-md-3 ">
                                    <div class="form-floating mb-3">
                                        <input class="form-control br-15" id="gpa" type="number" placeholder="المعدل" maxlength="4" oninput="inputMaxLength(this)" onfocusout="vlidateEmpty(this)" />
                                        <label for="qiasgrade">المعدل</label>
                                        <div class="invalid-feedback">هذا الحقل مطلوب</div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-3 col-md-3 ">
                                    <div class="form-floating mb-3">
                                        <select class="form-control br-15 pt-0 pb-0" id="gpaScale" onfocusout="vlidateEmpty(this)">
                                            <option value="" selected disabled>نظام المعدل</option>
                                            <option value="5">5.00</option>
                                            <option value="4.5">4.00</option>
                                            <option value="4">100%</option>
                                        </select>
                                        <div class="invalid-feedback">هذا الحقل مطلوب</div>
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 ">
                                    <!-- File Upload -->
                                    <div class="form-floating mb-3 upload_form">
                                        <input class="form-control br-15 upload_input" id="file_university_name" placeholder="صورة من الشهادة" disabled />
                                        <button type="button" class="upload_btn brr-15" onclick="getFile('file_university')">
                                            <i class="bx bx-upload" style="font-size: 24pt; padding-top: 5px; "></i>
                                        </button>
                                        <label>مرفق الشهادة</label>
                                        <div id="invalid-nid" class="invalid-feedback mr-3">هذا الحقل مطلوب</div>
                                        <input type="file" id="file_university" style="display: none;" accept="image/*;capture=camera" onchange="importFile('file_university','file_university_name')" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- CV -->
                        <p class="mt-3">ملف السيرة الذاتية <span style="color:#f5494c">*</span> </p>
                        <div class="form-floating mb-5">
                            <!-- File Upload -->
                            <input class="form-control br-15 upload_input" id="file_cv_name" placeholder="صورة من الشهادة" disabled />
                            <button type="button" class="upload_btn brr-15" onclick="getFile('file_cv')">
                                <i class="bx bx-upload" style="font-size: 24pt; padding-top: 5px; "></i>
                            </button>
                            <label>مرفق السيرة الذاتية</label>
                            <div id="invalid-nid" class="invalid-feedback mr-3">هذا الحقل مطلوب</div>
                            <input type="file" id="file_cv" style="display: none;" accept="image/*;capture=camera" onchange="importFile('file_cv','file_cv_name')" />
                        </div>

                        <div class="row gx-4 gx-lg-5" style="margin-top:15px">
                            <div class="col-lg-12 bg-light br-15" style="box-shadow: 0 0 13px 0 rgb(0 0 0 / 8%);  padding-top:10px">
                                <div class="ar-text">
                                    <div class="row">
                                        <div class="col-1">
                                            <label class="mycontainer">
                                                <input type="checkbox">
                                                <span class="checkbox"></span>
                                            </label>
                                        </div>
                                        <div class="col-11">
                                            <p>أتعهد وأقر بأن جميع البيانات التي سيتم إدخالها في نموذج التقديم هذا صحيحة ودقيقة، وفي حال اتضح خلاف ذلك فيحق للمعهد الوطني للتدريب الصناعي إلغاء عملية التسجيل حتى لو تم اكتشاف ذلك أثناء أو بعد إصدار القرار النهائي للقبول، كما أوافق على قيام المعهد الوطني للتدريب الصناعي بالتحقق من البيانات الخاصة بـي والحصول على أية بيانات أخرى بالتواصل مع الجهات المختصة.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Submit Button-->
                        <div class="text-center">
                            <a class="btn btn-primary btn-xl mt-4 br-15" id="submitButton" href="/Registration/ResponsePage"> ارسال التقديم</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
</section>