.ar-text {
    font-family: Calibri;
    text-align: right;
}

/*--------- input upload style -----*/
#upload_form {
    position: relative;
}

.upload_input {
    width: 100%;
    height: 30px;
    background-color:#fff !important;
}

.upload_btn {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    width: 15%;
    background: #f5494c;
    color: #fff;
    transition: 0.3s;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    outline: none;
}

.upload_btn:hover {
    color: #fff;
    background-color: #cf4244;
    border-color: #c34e2e;
}


/*--------- status bar -----*/
.progressbar {
    counter-reset: step;
}

    .progressbar li {
        list-style-type: none;
        width: 25%;
        float: right;
        font-size: 12px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #7d7d7d;
    }

        .progressbar li:before {
            width: 30px;
            height: 30px;
            content: '✓';
            /*content: counter(step);*/
            counter-increment: step;
            line-height: 30px;
            border: 2px solid #7d7d7d;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            background-color: white;
            color: #fff;
        }

        .progressbar li:after {
            width: 100%;
            height: 2px;
            content: '';
            position: absolute;
            background-color: #7d7d7d;
            top: 15px;
            right: -50%;
            z-index: -1;
        }

        .progressbar li:first-child:after {
            content: none;
        }

        .progressbar li.active {
            color: #0a3049;
            font-weight: bold;
        }

            .progressbar li.active:before {
                border-color: #0a3049;
                background: #0a3049;
            }

            .progressbar li.active + li:after {
                background-color: #0a3049;
            }

/*--------- contact us icons -----*/
.btn-social {
    border-radius: 100% !important;
    display: inline-flex !important;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem !important;
    justify-content: center;
    align-items: center;
}

/*--------- Hide Spinner in input type number -----*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.form-floating label {
    color: #6c757d !important;
}


/*======================= Radio Btn / Checkbox =====================*/
/* The container */
.mycontainer {
    display: block;
    position: relative;
    padding-right: 35px;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.mycontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* Create a custom checkbox */
.checkbox {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.mycontainer:hover input ~ .checkmark, .mycontainer:hover input:checked ~ .checkbox {
    background-color: #ccc;
}

/* When the radio button is checked, add a color background */
.mycontainer input:checked ~ .checkmark, .mycontainer input:checked ~ .checkbox {
    background-color: #f5494c;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after, .checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.mycontainer input:checked ~ .checkmark:after, .mycontainer input:checked ~ .checkbox:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.mycontainer .checkmark:after {
    top: 9px;
    right: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* Style the checkbox */
.mycontainer .checkbox:after {
    left: 11px;
    top: 6px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*======================= Popup window =====================*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-x: hidden;
    overflow-y: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 12% auto 15% auto; /* 10% from the top, 15% from the bottom and centered */
    border: none;
    width: 100%;
    border-radius: 5px;
}

/* Center the image and position the close button */
.modal-header-container {
    text-align: center;
    margin: 24px 0 24px 0;
    position: relative;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 24px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.modal-container {
    padding: 0 50px;
    border-radius: 0 0 20px 20px;
}

span.psw {
    float: right;
    font-size: 12px;
    text-align: center;
    color: #f5494c;
}


/* The Close Button (x) */
.close {
    position: absolute;
    right: 10px;
    top: 5px;
    color: rgb(0,0,0,0.3);
    font-size: 18pt;
}

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

/* Add Animation */
.animate {
    -webkit-animation: animateflayin 0.6s;
    animation: animateflayin 0.6s
}

@-webkit-keyframes animateflayin {
    from {
        opacity: 0;
        margin: 0% auto 0% auto;
    }

    to {
        opacity: 1;
        margin: 12% auto 15% auto;
    }
}

@keyframes animateflayin {
    from {
        opacity: 0;
        margin: 0% auto 0% auto;
    }

    to {
        opacity: 1;
        margin: 12% auto 15% auto;
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}


/* check icon for checking applicant info in interview */
.correct-icon, .incorrect-icon {
    color: #b7b9cc;
    font-size: 18pt;
    cursor: pointer;
}

.correct-active {
    color: #82ce34 !important;
}

.incorrect-active {
    color: #e74a3b !important;
}

/*=============== prevent text selection ===============*/
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
}