<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!------Icons Link----->
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    
    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <!-- DatePicker -->
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href="~/Content/DatePicker/css/bootstrap-datetimepicker.css?v2" rel="stylesheet" />

    

    <!-- Custom CSS (my style)-->
    <link href="~/Content/css/customStyleSheet.css" rel="stylesheet" />

</head>
<body id="page-top">

    @RenderBody()

    <!-- Footer-->
    <footer class=" footer bg-niti py-4">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 ali" st>
                    <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://www.linkedin.com/company/national-industrial-training-institute-niti-/"><i class="bx bxl-linkedin"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://twitter.com/NITI_KSA"><i class="bx bxl-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://www.facebook.com/pages/National-Industrial-Training-Institute/434689203347627"><i class="bx bxl-facebook"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://www.youtube.com/channel/UCvTozhTf7URfAGCWyY5u7xQ"><i class="bx bxl-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://www.instagram.com/niti_ksa/?hl=en"><i class="bx bxl-instagram-alt"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://www.snapchat.com/niti_ksa"><i class="bx bxl-snapchat"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="small text-center mt-3" style="color:white">
                    جميع الحقوق محفوظة للمعهد الوطني للتدريب الصناعي @DateTime.Now.Year &copy; | تصميم وتطوير وحدة تقنية المعلومات
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>

    <!-- Core theme JS-->
    <script src="~/Content/js/scripts.js"></script>

    <!-- Date Picker-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment-hijri@2.1.2/moment-hijri.min.js"></script>
    <script src="~/Content/DatePicker/js/bootstrap-hijri-datetimepicker.js?v2"></script>

    <!-- Custom JS -->
    <script src="~/Content/js/customScript.js"></script>
</body>
</html>